<div class="wrap">
    <app-header [backgroundFile]="'episode-6-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
            <h1>Підготовка до читання</h1>
            <hr class="solid-line">
            <div class="book-description">
            <img
              src="/images/episode-6-location.png"
              alt="Локація6"
              class="book-cover-left"
              pTooltip="Зараз число могил на кладовищі у Гласневіні вже перевищує мільйон. Тут похоронено багато відомих історичних постатей, зокрема Деніел О’Коннел, Чарльз Стюарт Парнелл - одні з найголовніших ірландських націоналістів."
              tooltipPosition="top"
            />
              <p>
                Зараз ми з Леопольдом Блумом відправимося на похорон Патріка Дігнема, що запланований на 11:00. Підготовкою до цього епізоду певною мірою послугували два попередніх, бо стилістично в “Аїді” мало що зміниться. 
              </p>
              <p>
                Однак, що важливо, на даному етапі головний герой нарешті потрапить до компанії більше, ніж з однієї людини, тому, гадаю, варто прослідкувати за його поведінкою в таких умовах. Все інше ж в 6-ому епізоді досить стабільно, а тому можемо сміливо починати читати.
              </p>
            </div>
            <hr class="solid-line">
        </section>
        <h1>Аналіз епізоду</h1>
        <section class="about-book">
            <hr class="dashed-line"/>
            <h2>Сюжет</h2>
            <div class="book-description">
                <img
                src="/images/BloomFuneral-photo.png"
                alt="Фото Блум Їде"
                class="book-cover-left"
                pTooltip="На фото: Леопольд Блум їде на похорон"
                tooltipPosition="top"
                />
                <p>
                    В першій половині епізоду Мартін Каннінгем, Джек Пауер, Саймон Дедал і Леопольд Блум їдуть разом на цвинтар, періодично обмінюючись репліками. В якийсь момент останній бачить у вікні карети Стівена, що прогулюється пляжем Сендімаунт.
                </p>
                <p>
                    Між тим, Блум також помічає, що сидить на лимонному милі, яке він купив у "Лотофагах". В такому положенні йому не дуже зручно, тому він чекає можливості, щоб непомітно перекласти шматок мила з задньої кишені до внутрішньої.
                </p>
                <p>
                    По приїзду до місця призначення виконується обряд поховання, після чого Джо Гайнз робить облік присутності. Блум просить занести в список МакКоя, а також зауважує, що бачив тут деякого чолов'ягу в коричневому макінтоші (на момент цього діалогу він вже кудись подівся). Однак Гайнз, неправильно зрозумівши Блума, думає, що “МакІнтош” - це прізвище, тому записує його собі відповідним чином.
                </p>
                <p>
                    Епізод закінчується тим, що головний герой разом з Мартіном Каннінгемом<sup><u>[1]</u></sup> та Джоном Генрі Ментоном покидають цвинтар.
                </p>
            </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Герої</h2>
          <div class="book-description">
            <img
                src="/images/BloomFuneral2-photo.png"
                alt="Фото Блум похорон"
                class="book-cover"
                pTooltip="На фото: Мартін Каннінгем, Леопльд Блум та Саймон Дедал на похоронах Патріка Дігнема"
                tooltipPosition="top"
                />
            <p>
                Пам’ятаєте, у "Лотофагах" був такий фрагмент:
            </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Бідолашний тато! Бідолаха! Добре, що я не пішов у кімнату й не побачив його обличчя. Того дня! Боже! Боже! Ет! Може, для нього так було краще.
                  </p>
                </blockquote>
              </div>
            <p>
                Тепер нам достеменно відомо, що ці і ще деякі думки Блума в "Аїді" стосувалися самовбивства його батька:
            </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Його батько отруївся, — прошепотів Мартін Каннінгем. — Він держав у Еннісі «Готель королеви». Ви ж чули, як він казав, що виряджається до Клера. Роковини.
                  </p>
                </blockquote>
              </div>
            <p>
                До того ж, я думаю, ви помітили його підвищену увагу до всіляких реклам оголошень. З 6-го епізоду ми дізнаємося причину цього - головний герой працює рекламним агентом:
            </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — І досі така, — сказав Нед Лемберт. — Він збирає оголошення для газет.
                  </p>
                </blockquote>
              </div>
            <p>
                Ця поступовість у розкритті деяких підробиць з життя Блума додає романові шарму, і таким самим чином ми дізнаємося ще багато з них, проте одну я вимушений розкрити зараз: Блум - єврей. Приводом для такого вчинку є те, що положення головного героя в суспільстві, його деяку відчуженість, що спостерігається в “Аїді”, можна пояснити як раз через національну приналежність.
            </p>
            <p>
                Але де ж проявляється ця “відчуженість”? Ну взагалі-то майже всюди. Поглянути хоча б на початкову сцену епізоду, коли всі четверо сідають до карети: в той час, як Блумові подорожні звертаються один до одного за іменем, до нього самого - за прізвищем.
            </p>
            <p>
                Більш того, коли він починає щось розповідати, його одразу ж перебивають:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Він зв’язався з однією дівчиною, — почав містер Блум, — і батько вирішив послати його на острів Мен, далі від спокуси, та коли вони удвох…<br>
                    — Що? — спитав містер Дедалус. — Ота тютя з полив’яним носом?<br>
                    — Атож, — підтвердив містер Блум, — ішли вони удвох до пароплава, і він вирішив утопити…<br>
                    — Утопити Вараву! — вигукнув містер Дедалус. — Їй-богу, хай би він його втопив!
                  </p>
                </blockquote>
            </div>
            <p>
                Це все підкреслює, що Блум не один з них - дублінське суспільство його не приймає. 
            </p>
            <p>
                Наостанок варто обмовитися про ще одного важливого персонажа "Улісса", що вперше зустрічається нам в "Аїді" - Саймона Дедала<sup><u>[2]</u></sup>. Поки тяжко дати йому якусь ґрунтовну характеристику - з того, що нам стає відомим протягом 6-го епізоду, він сумує за покійною дружиною, не хоче, щоб його син товаришував з сумнівними особами… Не думаю, що саме ці його риси є найбільш показовими. Однак, Стівенів батько ще не раз зустрінеться нам впродовж твору - його персона ще встигне розкритися. Зараз же просто запам'ятаймо його і рушаймо далі.
            </p>
        </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Міфологічний підтекст</h2>
          <div class="book-description">
            <img
                src="/images/Charon-photo.png"
                alt="Фото Харон"
                class="book-cover-left"
                pTooltip="На фото: Харон перевозить душі мертвих через річку Стікс"
                tooltipPosition="top"
                />
            <p>
                Гомерівські паралелі тут як ніколи очевидні: 6-ому епізоду відповідає похід Одіссея до Аїду з метою розпитати пророка Тіресія про свою долю. Однак Джойс знов певною мірою переосмислює античну поему: якщо Гомерове царство мертвих - це світ їх душ, то Джойсове - взагалі не світ. Від смерті в письменника не залишилося нічого метафізичного - тільки купа трупів, що розкладаються під землею.
            </p>
            <p>
                Думки, що підкреслюють такого плану філософію автор фіксує в голові Блума:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Така тварюка хутко доконає бідолаху. Пообгризає кістки, не зважаючи, хто він і що він. Для них це просто м’ясо [...]<br>
                    По суті, життя вічне. Нічим живитися, живиться собою.
                  </p>
                </blockquote>
            </div>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Проблематика</h2>
          <div class="book-description">
            <p>
                Звичайно, головну роль у “Аїді” займає тема смерті, яка проявляється тут усюди: смерть Дігнема, смерть сина й батька Блума, смерть Стівенової матері (Саймонової дружини)... І ще багато смертей трохи менше. Цей епізод розпочинає цикл смертей та народжень в “Уліссі”, що отримає своє продовження ще не скоро - аж у “Биках Сонця”.
            </p>
            <p>
                А до биків нам поки зарано - повернімося краще до наших баранів: релігійна тематика в “Аїді” знов виступає одним з головних лейтмотивів. Тут продовжується канва, задана минулим епізодом - Блум знов дивиться на християнські обряди як на дивний пережиток минулого, а тому під час них думає не інакше як про те, чому людей не ховають стоячи:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Багацько їх позакопували, відколи він тут, лежать навколо нього поле за полем. Святі поля. Більше місця, якби їх ховали навстоячки. Сидячи або навколішки не можна. Навстоячки?
                  </p>
                </blockquote>
            </div>
            <p>
                Мало того, головний герой також вказує і на недобросовісних священників:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Кремація краще. Священики категорично проти. Працюють на іншу фірму.
                  </p>
                </blockquote>
            </div>
            <p>
                Ну і звичайно проблема антисемітизму - хто б міг подумати, що саме вона стане однією з ключових у романі, зважаючи на те, як невинно все починалося перших двох епізодах. Але, якщо бути до кінця чесним, то в “Аїді” поки що все теж досить невинно, якщо порівнювати з тими ж “Циклопами”: все обмежується легкою відстороненістю Блума і деякою зневагою до нього, яка не завжди навіть помітна.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Стиль</h2>
          <div class="book-description">
            <p>
                За традицією, текст 6-го епізоду переповнений смертю не тільки з точки зору змісту, а й з точки зору лексики. Особливо це актуально у англійській версії, де Джойс постійно грається зі словом "dead":
            </p>
            <img
                src="/images/BloomMolly2-photo.png"
                alt="Фото Блум Моллі 2"
                class="book-cover"
                pTooltip="На фото: Леопольд Блум і дружина"
                tooltipPosition="top"
                />
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    So much dead weight [...] <br>
                    He’s dead nuts on that [...] <br>
                    Priests dead against it<sup><u>[3]</u></sup>.
                  </p>
                </blockquote>
            </div>
            <p>
                Але загалом різниця між "Аідом" та "Лотофагами" помітна лише у окремих тонкощах, а в іншому вони досить схожі. 
            </p>
            <p>
                Тому пропоную скористатися можливістю і розглянути застосування інтертексту в творі.
            </p>
            <p>
                Ми вже не раз зустрічалися з різними алюзіями в "Уліссі", однак до цього трактували їх лише як демонстрацію автором культурного коду своїх героїв. Проте вони виконують іще одну важливу функцію: як відомо, Джойс створював цей твір з ціллю написати такий собі глобаний текст, надроман - текст про все і всіма можливими способами. Для досягнення мети він вдається до багатьох трюків, і інтертекстуальність - один з них. 
            </p>
            <p>
                Письменник насичує “Улісса” цитатами з різноманітних художніх творів, від античних і середньовічних до модерністських, від художніх до наукових і філософських, від оповідань і повістей до пісень і віршів. Тим самим роман вбирає в себе всю спадщину минулого, і кожен раз, як він посилається чийсь інший текст, він певною мірою ототожнює себе з ним.
            </p>
            <p>
                Для більшої наочності розгляньмо приклад: ось в 4-ому епізоді Моллі каже чоловікові, що в майбутньому турне буде співати дует "La ci darem la mano” з опери Моцарта "Дон Жуан"; таким чином через алюзію проводиться паралель між спокусником Дон Жуаном та Бойланом, і відповідно між обманутим чоловіком Мазетто та Блумом (хоча, судячи з 5-го епізоду, з нього і Дон Жуан нічогенький).
            </p>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>
  