<div class="wrap">
  <app-header [backgroundFile]="'episode-6-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-6-location.png"
            [tooltipStyleClass]="'location6'"
            alt="Локація6"
            class="book-cover-left"
            pTooltip="Зараз число могил на кладовищі у Гласневіні вже перевищує мільйон. Тут похоронено багато відомих історичних постатей, зокрема Деніел О’Коннел, Чарльз Стюарт Парнелл - одні з найголовніших ірландських націоналістів."
            tooltipPosition="top"
          />
          <p>
            Зараз ми з <strong>Леопольдом Блумом</strong> відправимося на
            похорон <strong>Патріка Дігнема</strong>, що запланований на 11:00.
            Підготовкою до цього епізоду певною мірою послугували два
            попередніх, бо стилістично в “Аїді” мало що зміниться. 
          </p>
          <p>
            Однак, що важливо, на даному етапі головний герой нарешті потрапить
            до компанії більше, ніж з однієї людини, тому, гадаю, варто
            прослідкувати за його поведінкою в таких умовах. Все інше ж в 6-ому
            епізоді досить стабільно, а тому можемо сміливо починати читати.
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <h1>Аналіз епізоду</h1>
      <section class="about-book">
        <hr class="dashed-line" />
        <h2>Сюжет</h2>
        <div class="book-description">
          <img
            src="assets/images/BloomFuneral-photo.png"
            alt="Фото Блум Їде"
            class="book-cover-left"
            pTooltip="На фото: Леопольд Блум їде на похорон"
            tooltipPosition="top"
          />
          <p>
            В першій половині епізоду <strong>Мартін Каннінгем</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="При написанні епізоду, Джойс взяв за основу реальні похорони, що він відвідував - похорони Метью Кейна, котрий до речі став прототипом як для Патріка Дігнема, так і в якійсь мірі для Мартіна Каннінгема. Там було присутньо багато різних людей, зокрема Альфред Хантер (прототип Блума). З перелічених в Аїді багато були реальними дублінцями, а деякі - герої ранньої прози самого Джойса."
              tooltipPosition="bottom"
              ><u>[1]</u></sup
            >, <strong>Джек Пауер</strong>, <strong>Саймон Дедал</strong> і
            <strong>Леопольд Блум</strong> їдуть разом на цвинтар, періодично
            обмінюючись репліками. В якийсь момент останній бачить у вікні
            карети <strong>Стівена</strong>, що прогулюється пляжем Сендімаунт.
          </p>
          <p>
            Між тим, Блум також помічає, що <u>сидить на лимонному милі</u>, яке
            він купив у "Лотофагах". В такому положенні йому не дуже зручно,
            тому він чекає можливості, щоб непомітно перекласти шматок мила з
            задньої кишені до внутрішньої.
          </p>
          <p>
            По приїзду до місця призначення виконується обряд поховання, після
            чого <strong>Джо Гайнз</strong> (не плутати з
            <strong>Гейнсом</strong>, що не давав
            <strong>Стівенові</strong> спати цієї ночі) робить облік
            присутності. <strong>Блум</strong> просить занести в список
            <strong>МакКоя</strong>, а також зауважує, що бачив тут деякого
            <u>чолов'ягу в коричневому макінтоші</u> (на момент цього діалогу
            він вже кудись подівся). Однак <strong>Гайнз</strong>, неправильно
            зрозумівши <strong>Блума</strong>, думає, що “МакІнтош” - це
            прізвище, тому записує його собі відповідним чином.
          </p>
          <p>
            Епізод закінчується тим, що головний герой разом з
            <strong>Мартіном Каннінгемом</strong> та
            <strong>Джоном Генрі Ментоном</strong> покидають цвинтар.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>Пам’ятаєте, у "Лотофагах" був такий фрагмент:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <span style="color: #f138ad">Бідолашний тато</span>! Бідолаха!
                Добре, що я не пішов у кімнату й не побачив його обличчя. Того
                дня! Боже! Боже! Ет! Може, для нього так було краще.
              </p>
            </blockquote>
          </div>
          <img
            src="assets/images/BloomFuneral2-photo.png"
            alt="Фото Блум похорон"
            class="book-cover"
            pTooltip="На фото: Мартін Каннінгем, Леопльд Блум та Саймон Дедал на похоронах Патріка Дігнема"
            tooltipPosition="top"
          />
          <p>
            Тепер нам достеменно відомо, що ці і ще деякі думки Блума в "Аїді"
            стосувалися <span style="color: #009420">самовбивства </span>
            <span style="color: #f138ad">його батька</span>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Його батько <span style="color: #009420">отруївся</span>, —
                прошепотів Мартін Каннінгем. — Він держав у Еннісі «Готель
                королеви». Ви ж чули, як він казав, що виряджається до Клера.
                Роковини.
              </p>
            </blockquote>
          </div>
          <p>
            До того ж, я думаю, ви помітили його підвищену увагу до всіляких
            реклам оголошень. З 6-го епізоду ми дізнаємося причину цього -
            головний герой
            <span style="color: rgb(194, 138, 16)"
              >працює рекламним агентом</span
            >:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — І досі така, — сказав Нед Лемберт. — Він<span
                  style="color: rgb(194, 138, 16)"
                >
                  збирає оголошення для газет</span
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Ця <u>поступовість у розкритті деяких підробиць</u> з життя
            <strong>Блума</strong> додає романові шарму, і таким самим чином ми
            дізнаємося ще багато з них, проте одну я вимушений розкрити зараз:
            <strong>Блум</strong> - єврей. Приводом для такого вчинку є те, що
            положення головного героя в суспільстві, його деяку відчуженість, що
            спостерігається в “Аїді”, можна пояснити як раз через національну
            приналежність.
          </p>
          <p>
            Але де ж проявляється ця “відчуженість”? Ну взагалі-то майже всюди.
            Поглянути хоча б на початкову сцену епізоду, коли всі четверо
            сідають до карети: в той час, як <strong>Блумові</strong> подорожні
            звертаються один до одного за іменем, до нього самого - за
            прізвищем.
          </p>
          <p>
            Більш того, коли він починає щось розповідати, його одразу ж
            перебивають:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Він зв’язався з однією дівчиною, — почав містер Блум, — і
                батько вирішив послати його на острів Мен, далі від спокуси, та
                коли вони удвох…<br />
                — Що? — спитав містер Дедалус. — Ота тютя з полив’яним носом?<br />
                — Атож, — підтвердив містер Блум, — ішли вони удвох до
                пароплава, і він вирішив утопити…<br />
                — Утопити Вараву! — вигукнув містер Дедалус. — Їй-богу, хай би
                він його втопив!
              </p>
            </blockquote>
          </div>
          <p>
            Це все підкреслює, що <strong>Блум</strong> не один з них -
            <u>дублінське суспільство його не приймає</u>. 
          </p>
          <p>
            Наостанок варто обмовитися про ще одного важливого персонажа
            "Улісса", що вперше зустрічається нам в "Аїді" -
            <strong>Саймона Дедала</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="В українській версії роману імена та прізвища героїв з якоїсь причини перекладають кожен раз по-різному: Стівен Дедал, але Саймон Дедалус (?), Мулліган, він же Мулліген; син Блума – Руді, що в якийсь момент стає Рубі."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >. Поки тяжко дати йому якусь ґрунтовну характеристику - з того, що
            нам стає відомим протягом 6-го епізоду, він сумує за покійною
            дружиною, не хоче, щоб його син товаришував з сумнівними особами… Не
            думаю, що саме ці його риси є найбільш показовими. Однак,
            <strong>Стівенів</strong> батько ще не раз зустрінеться нам впродовж
            твору - <u>його персона ще встигне розкритися</u>. Зараз же просто
            запам'ятаймо його і рушаймо далі.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/Charon-photo.png"
            alt="Фото Харон"
            class="book-cover-left"
            pTooltip="На фото: Харон перевозить душі мертвих через річку Стікс"
            tooltipPosition="top"
          />
          <p>
            Гомерівські паралелі тут як ніколи очевидні: 6-ому епізоду
            відповідає похід Одіссея до Аїду з метою розпитати пророка Тіресія
            про свою долю. Однак Джойс знов певною мірою
            <u>переосмислює античну поему</u>: якщо Гомерове царство мертвих -
            це світ їх душ, то Джойсове - взагалі не світ. Від смерті в
            письменника не залишилося нічого метафізичного - тільки купа трупів,
            що розкладаються під землею.
          </p>
          <p>
            Думки, що підкреслюють такого плану філософію автор фіксує в голові
            <strong>Блума</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Така тварюка хутко доконає бідолаху. Пообгризає кістки, не
                зважаючи, хто він і що він. Для них це просто м’ясо [...]<br />
                По суті, життя вічне. Нічим живитися, живиться собою.
              </p>
            </blockquote>
          </div>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <p>
            Звичайно, головну роль у “Аїді” займає <u>тема смерті</u>, яка
            проявляється тут усюди: смерть <strong>Дігнема</strong>, смерть сина
            й батька <strong>Блума</strong>, смерть
            <strong>Стівенової</strong> матері (<strong>Саймонової</strong>
            дружини)... І ще багато смертей трохи менше. Цей епізод розпочинає
            <u>цикл смертей та народжень</u> в “Уліссі”, що отримає своє
            продовження ще не скоро - аж у “Биках Сонця”.
          </p>
          <p>
            А до биків нам поки зарано - повернімося краще до наших баранів:
            <u>релігійна тематика</u> в “Аїді” знов виступає одним з головних
            лейтмотивів. Тут продовжується канва, задана минулим епізодом -
            <strong>Блум</strong> знов дивиться на християнські обряди як на
            дивний пережиток минулого, а тому під час них думає не інакше як про
            те, чому людей не ховають стоячи:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Багацько їх позакопували, відколи він тут, лежать навколо нього
                поле за полем. Святі поля. Більше місця, якби їх ховали
                навстоячки. Сидячи або навколішки не можна. Навстоячки?
              </p>
            </blockquote>
          </div>
          <p>
            Мало того, головний герой також вказує і на недобросовісних
            священників:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Кремація краще. Священики категорично проти. Працюють на іншу
                фірму.
              </p>
            </blockquote>
          </div>
          <p>
            Ну і звичайно <u>проблема антисемітизму</u> - хто б міг подумати, що
            саме вона стане однією з ключових у романі, зважаючи на те, як
            невинно все починалося перших двох епізодах. Але, якщо бути до кінця
            чесним, то в “Аїді” поки що все теж досить невинно, якщо порівнювати
            з тими ж “Циклопами”: все обмежується легкою відстороненістю
            <strong>Блума</strong> і деякою зневагою до нього, яка не завжди
            навіть помітна.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            За традицією, текст 6-го епізоду переповнений смертю не тільки з
            точки зору змісту, а й з точки зору
            <span style="color: #3e7ad4">лексики</span>. Особливо це актуально у
            англійській версії, де Джойс постійно грається зі словом "<span
              style="color: #3e7ad4"
              >dead</span
            >":
          </p>
          <img
            src="assets/images/BloomMolly2-photo.png"
            alt="Фото Блум Моллі 2"
            class="book-cover"
            pTooltip="На фото: Леопольд Блум і дружина"
            tooltipPosition="top"
          />
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                So much <span style="color: #3e7ad4">dead</span> weight [...]
                <br />
                He’s <span style="color: #3e7ad4">dead</span> nuts on that [...]
                <br />
                Priests <span style="color: #3e7ad4">dead</span> against it<sup
                  [tooltipStyleClass]="'custom-tooltip-left'"
                  pTooltip="В укр. перекладі: “Мертвий вантаж… Вельми він полюбляє це слово… Священики категорично проти.”"
                  tooltipPosition="bottom"
                  ><u>[3]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Але загалом різниця між "Аідом" та "Лотофагами" помітна лише у
            окремих тонкощах, а в іншому вони досить схожі.
          </p>
          <p>
            Тому пропоную скористатися можливістю і розглянути
            <u>застосування інтертексту</u> в творі.
          </p>
          <p>
            Ми вже не раз зустрічалися з різними алюзіями в "Уліссі", однак до
            цього трактували їх лише як демонстрацію автором культурного коду
            своїх героїв. Проте вони виконують іще одну важливу функцію: як
            відомо, Джойс створював цей твір з ціллю написати такий собі
            глобаний текст, надроман -
            <u>текст про все і всіма можливими способами</u>. Для досягнення
            мети він вдається до багатьох трюків, і інтертекстуальність - один з
            них. 
          </p>
          <p>
            Письменник насичує “Улісса” цитатами з різноманітних художніх
            творів, від античних і середньовічних до модерністських, від
            художніх до наукових і філософських, від оповідань і повістей до
            пісень і віршів. Тим самим роман
            <u>вбирає в себе всю спадщину минулого</u>, і кожен раз, як він
            посилається чийсь інший текст, він певною мірою
            <u>ототожнює себе з ним</u>.
          </p>
          <p>
            Для більшої наочності розгляньмо приклад: ось в 4-ому епізоді
            <strong>Моллі</strong> каже чоловікові, що в майбутньому турне буде
            співати дует "La ci darem la mano” з опери Моцарта "Дон Жуан"; таким
            чином через алюзію проводиться паралель між спокусником Дон Жуаном
            та <strong>Бойланом</strong>, і відповідно між обманутим чоловіком
            Мазетто та <strong>Блумом</strong> (хоча, судячи з 5-го епізоду, з
            нього і Дон Жуан нічогенький).
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
