<div class="wrap">
  <app-header [backgroundFile]="'episode-8-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-8-location.png"
            [tooltipStyleClass]="'location8'"
            alt="Локація8"
            class="book-cover-left"
            pTooltip="Паб Деві Бернса існує і сьогодні, хоч його засновник вийшов на пенсію у 1939 році, бо через три роки приміщення придбала сім’я Доран, що опікується пабом и сьогодні. Після виходу “Улісса” до закладу постійно навідувалися у літературних цілях, а відколи почали організовуватися “Блумсдеї” таких клієнтів тільки побільшало."
            tooltipPosition="top"
          />
          <p>
            Цей епізод, рівно як і 3-ій з 18-им, прийнято вважати взірцем
            Джойсової техніки <u>потоку свідомості</u>. Звичайно, вона
            фігурувала і в "Лотофагах", і в "Аїді", але ще ніколи ми не
            залишалися з <strong>Блумом</strong> наодинці так довго.
            "Лестригони" є певною квінтесенцією особистості головного героя, а
            тому готуйтеся <u>познайомитися з ним по-справжньому</u> - він тим
            часом чекає на вас о 13:30 біля мосту О'Коннела, готовий відкрити
            свої таємниці…
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <img
            src="assets/images/BloomEating-photo.png"
            alt="Фото Блум їсть"
            class="book-cover"
            pTooltip="На фото: Блум п’є бургундське вино та їсть сендвич з горгонзолою"
            tooltipPosition="top"
          />
          <p>
            Якщо узагальнити, сюжет епізоду можна вмістити в одне речення:
            <strong>Блум</strong> прогулюється містом, годує чайок, зустрічає
            знайому - місіс <strong>Брін</strong>, зупиняється на обід у
            <strong>Деві Бернса</strong>. Але, як ми вже вияснили, підходити до
            роману "узагальнено" - не дуже гарна ідея, тому зараз пропоную
            відмітити ще кілька важливих деталей.
          </p>
          <p>
            По-перше, поки головний герой справляє потребу після прийому їжі, до
            закладу заходить <strong>Бентам Лайонс</strong> - той самий, з яким
            <strong>Блум</strong> зіштовхнувся ще у 5-ому епізоді. Пам’ятаєте,
            він хотів запозичити в головного героя ранкову газету, щоб
            подивитись там фаворитів сьогоднішніх скачок:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Можете взяти собі, — сказав містер Блум, — Я тут тільки
                <span style="color: #e6742d">рекламу</span> дивився [...] <br />
                —   Добре, ризикну — промовив Бентам Лайонс. — Тримайте, дякую
                <sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="Цю цитату мені довелося перекласти самотужки, бо українські перекладачі тут, судячи зі всього, між собою не домовилися: у них Блум говорить Бентамові, мовляв “Я збирався її геть к бісу” (перекладено дослівно: “I was just going to throw it away”, відповідно конячку в оригіналі звали Throwaway), однак з 12 епізоду ми довідаємося, що кобилу, на яку хотів поставити Бентам звуть Рекламою (калька з російського перекладу, де Блум говорить: “Я здесь только рекламу смотрел”). Таким чином губиться оригінальна гра слів."
                  tooltipPosition="bottom"
                  ><u>[1]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Тоді <strong>Бентам Лайонс</strong> сприйняв слова
            <strong>Блума</strong>, що цією темою не цікавиться від слова
            зовсім, <u>як підказку на кого поставити</u> (за збігом обставин,
            одну з кобил-учасниць звали
            <span style="color: #e6742d">Реклама</span>). Дізнавшись, що він
            ставить на аутсайдера, його знайомі закономірно питають його:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Та скажи вже, якщо маєш хоч краплину гідности, і йди собі під
                три чорти, — розсердився Педді Леонард. — А хто тобі підказав?
                <br />
                <span style="color: #f138ad">Містер Блум</span>, виходячи з
                пабу, підняв, прощаючись, три пальці. <br />
                — До зустрічі, — відповів Носатий Флінн. <br />
                Інші обернулися. <br />
                — Оце <span style="color: #f138ad">він</span> мені й підказав, —
                повідомив пошепки Бентам Лайонс.
              </p>
            </blockquote>
          </div>
          <p>
            Як бачите, ця недолуга ситуація набирає обертів… Подивимося, у що це
            виллється далі.
          </p>
          <p>
            По-друге, стає зрозумілим, звідки у житті головного героя взялася
            <strong>Марті</strong> - виявилося, він
            <u>давав об'яву в газеті</u>: 
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Потрібна вправна друкарка на поміч джентльменові в літературній
                праці.
              </p>
            </blockquote>
          </div>
          <p>
            На це й відгукнулася його "коханка по переписці", однак не вона одна
            - ще як мінімум 43 жінки, однак більшості з їх відповідей на
            <strong>Блумове</strong> оголошення він навіть не читав.
          </p>
          <p>
            По-третє, в самому кінці "Лестригонів" головний герой раптом
            <u>бачить <strong>Блейзеса Бойлана</strong></u
            >, майбутнього коханця <strong>Моллі</strong>. Його реакцію на цю
            подію ми обговоримо трохи згодом, а зараз задамося іншим питанням: а
            чи <strong>Бойлан</strong> це взагалі був? І дійсно, у цій сцені
            його ім'я не фігурує безпосередньо… Однак фігурують елементи одягу:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                На сонці сяйнув
                <span style="color: rgb(194, 138, 16)">солом’яний бриль</span>.
                Брунатні черевики. Холоші штанів із манжетами.
              </p>
            </blockquote>
          </div>
          <p>А тепер згадаймо такий момент з 6-ої глави:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Він нас не бачить, — сказав містер Пауер. — Так, бачить. Як ся
                маєте?<br />
                — Хто? — спитав містер Дедалус. <br />
                — Блейзес Бойлан, — відповів містер Пауер. — Он він вийшов
                свіжим повітрям подихати. <br />
                Саме ту мить я думав. <br />
                Містер Дедалус нахилився до вікна привітатися. З порогу
                «Червоного банку» майнув на відповідь білий диск
                <span style="color: rgb(194, 138, 16)">солом’яний бриля</span>:
                минули.
              </p>
            </blockquote>
          </div>
          <p>
            То виходить все збігається - <strong>Бойлана</strong> виказав його
            <span style="color: rgb(194, 138, 16)">солом'яний капелюх</span>.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            З цього епізоду ми "офіційно" дізнаємося про
            <u>єврейство <strong>Блума</strong></u> з цієї його фрази:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Десь тут поблизу товариство навертати в християнство убогих
                євреїв, куди тато ходив.
              </p>
            </blockquote>
          </div>
          <p>
            Стає зрозумілим, звідки в "Каліпсо" взялися такі думки головного
            героя про Палестину:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Мертве море на мертвій землі, сірій і старій. Старій тепер. Вона
                породила найстарішу, найпершу расу. Скоцюрблена стара баба
                перейшла од Кессіді вулицю, затиснувши в руці шийку пляшки.
                Найстаріший народ. Помандрували геть по всьому світі, з полону в
                полон, розмножуючись, помираючи, народжуючися скрізь і всюди. А
                вона там лежить. Тепер вона більше вже не може родити.
              </p>
            </blockquote>
          </div>
          <p>
            Десь, виходить, містер <strong>Дізі</strong> прорахувався, сказавши,
            що євреїв до Ірландії ніколи не пускали… Однак цим сюрпризи відносно
            <strong>Блума</strong> не закінчуються - виявляється,
            <u>він ще й <span style="color: #009420">масон</span></u
            >, про що за його відсутності каже <strong>Носатий Флінн</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Він <span style="color: #009420">член ложі</span>, — пояснив
                він.
              </p>
            </blockquote>
          </div>
          <p>
            За 8 епізодів ми вже навчилися не довіряти всім підряд у цьому
            творі, але в даному випадку ми маємо підтвердження його словам. Ось
            наприклад таку фразу можна виокремити з потоку свідомості головного
            героя в 5-ому епізоді:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Проте він ніколи не надягає однострою ані пожежника, ані
                полісмена. Вбрання <span style="color: #009420">масона</span> —
                так.
              </p>
            </blockquote>
          </div>
          <p>А ось таку в 6-му:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Містер Блум мовчки кивнув, позирнувши в меткі налиті кров’ю очі.
                Потайні очі, потайні цікаві очі. Мабуть,
                <span style="color: #009420">масон</span> — невпевнений.
              </p>
            </blockquote>
          </div>
          <p>
            Така увага до масонства у <strong>Блума</strong> свідчить якщо не
            про його приналежність до ложі, то як мінімум про неабияку
            зацікавленість цією темою (проте всі сумніви так чи інакше зникнуть
            "Цирцеї" - там він вже відкрито почне подавати масонські знаки).
          </p>
          <p>
            Крім цього, "Лестригони" в котрий раз нагадують нам про
            <u><strong>Блумову</strong> допитливість</u>: він цікавиться, які у
            сліпих від народження людей сни, оскільки вони ніколи нічого не
            бачили; думає про те, чи можна володіти водою, бо ж вона постійно
            змінюється…
          </p>
          <p>
            Водночас з тим, проявляється і <u>його співчутливість</u>: до дітей
            <strong>Саймона Дедала</strong>, що живуть у бідності; до сліпого
            юнака, якого він переводить через дорогу; до
            <strong>Майни Пюрфуа-Чистовір</strong>, що вже третій день у
            пологовому будинку не може народити; до тварин, яких жорстоко
            вбивають задля отримання м'яса. В цьому плані Джойс порівнює його з
            пророком Іллею, відомим своїм милосердям - підтверджується дана
            паралель тим, що читаючи релігійну брошуру <em>"Ілія уже йде"</em>,
            <strong>Блум</strong> сам спочатку несвідомо
            <span style="color: #f138ad">ототожнює себе з нею</span>:
          </p>
          <img
            src="assets/images/BloomMolly3-photo.png"
            alt="Фото Блум Моллі 3"
            class="book-cover"
            pTooltip="На фото: Леопольд Блум і Моллі (ще не Блум, а Твіді) в момент освідчення"
            tooltipPosition="top"
          />
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Блу… <span style="color: #f138ad">Це я?</span> Ні. <br />
                І чинила ти блуд… Кров агнця.
              </p>
            </blockquote>
          </div>
          <p>
            Однак куди б він не йшов, про що б він не думав,
            <u>незмінно він повертається до <strong>Моллі</strong></u
            >. Він постійно згадує про ті щасливі часи до смерті
            <strong>Руді</strong>, про момент його освідчення
            <strong>Моллі</strong>, про <strong>Бойлана</strong>, що повинен
            сьогодні стати її коханцем, але… Знов-таки, не збирається
            протидіяти. Більш того, навіть сприяє тому, щоб сталося
            невідворотне:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Повертатися немає сенсу. Треба, щоб було.</p>
            </blockquote>
          </div>
          <p>
            Як можна здогадатися,
            <u><strong>Блум</strong> не хоче йти додому</u>, бо не хоче
            впевнитися у зраді дружини. Йому страшніше визнати наявність
            проблеми і почати її вирішувати, ніж робити вигляд, що її немає,
            залишаючись у скрутному становищі. Це підкреслюється ще й тим, що
            головний герой часто намагається заглушити думки про
            <strong>Моллі</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Можна буде купити для Моллі якусь із тих шовкових комбінацій
                кольору її нових підв’язок. <br />
                Сьогодні, сьогодні. Не треба думати.
              </p>
            </blockquote>
          </div>
          <p>
            Ця деталь є ключовою до розуміння особистості
            <strong>Леопольда Блума</strong>, тому слідкуйте, як вона буде
            проявлятися в подальшому.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/Lestrygonians-photo.png"
            alt="Фото Лестригони"
            class="book-cover"
            pTooltip="На фото: Лестригони трощать кораблі Одіссея і його команди"
            tooltipPosition="top"
          />
          <p>
            Паралелі з Гомером стають <u>все більшою умовністю</u> в контексті
            роману. І хоч, на диво, з лестригонами Одіссей зіштовхується одразу
            після вигнання з острова Еола, в іншому міфологічний підтекст 8-го
            епізоду є <u>досить опосередкованим</u> і проявляється хіба що через
            основні мотиви.
          </p>
          <p>
            В античній поемі лестригони - людожери, а тому
            <u>їжа присутня в тексті постійно</u>. Тільки-но подивіться на її
            різноманіття: ананасні льодяники, лимонний цукат, іриси, карамель,
            скибка хліба з маслом, сендвіч з сиром та гірчицею, свіжоспечений
            пудинг з фруктовою начинкою, тістечка з джемом, печиво з кмином,
            ростбіф з капустою, солоновода скумбрія, сардини, краби, омари,
            молюски, устриці, печінка з беконом, шинка, маринована свинина,
            кролятина, баранина з кисло-солодкою овочевою приправою, відбивні,
            м’ясні консерви з чорносливом, м’ясо лисиць, лебедине м’ясо, гусячий
            жир, приправлена прянощами теляча юшка з бичачих хвостів, рисова
            каша, оливи, часник, цибуля, гарбуз, морква, апельсин, петрушка,
            шпинат, виноград, яблука, лимон, абрикос, персик, сливи з майонезом
            замість заварного крему, ірландське рагу…
          </p>
          <p>
            Що ж до самих лестригонів, то на їх роль у творі Джойса різні
            інтерпретатори пропонують
            <span style="color: #ed0000">різні варіанти</span>: владу, зокрема
            <span style="color: #ed0000"
              ><strong>Його Величність Короля</strong></span
            >, що <em>“смокче червоні пастилки до білого осередку”</em> так
            само, як і експлуатує людей нижчого класу;
            <span style="color: #ed0000"
              >відвідувачів їдальні <strong>Бертона</strong></span
            >, до якої спершу завітав <strong>Блум</strong> - так жадібно вони
            спустошували свої тарілки;
            <span style="color: #ed0000"
              >відвідувачів закладу <strong>Деві Бернса</strong></span
            >, бо ж, як і в “Одіссеї” Гомера, у кінці кінців головний герой
            вшивається звідти… 
          </p>
          <p>
            Однак жодна з цих версій <u>не є достатньо переконливою</u>, щоб на
            ній наполягати - визнаймо, античний фундамент епізоду досить
            слабкий.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <p>
            В центрі епізоду, звичайно, постає модель поведінки головного героя,
            що я зву <u>“синдромом відкладеного життя”</u>.
            <strong>Блум</strong> не вирішує нагальних проблем, натомість
            постійно мріє або сумує за минулим:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Безжурний був час. Не те що тепер [...]<br />
                Тоді я був щасливіший. Та чи був це я? І чи зараз я це я?
              </p>
            </blockquote>
          </div>
          <p>
            Словом, він не живе тут і зараз, що є проблемою багатьох з нас
            навіть сьогодні. Але, як сам <strong>Блум</strong> і відмічає, плин
            життя невпинний:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Усе йде своїм звичаєм, день за днем: поліцейські крокують туди й
                сюди, трамваї котяться до нас і від нас. Ті двоє психів
                швендяють вулицями. Дігнем врізав дуба. Майна Пюрфуа-Чистовір із
                набухлим черевом стогне на ліжку, щоб із неї витягли дитя.
                Щосекунди хтось десь народжується. Щосекунди хтось інший
                помирає.
              </p>
            </blockquote>
          </div>
          <p>
            І за даних умов, звичайно, витрачати дорогоцінний час на непотрібні
            страждання - дурниця, каже нам Джойс.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <img
            src="assets/images/Boylan-photo.png"
            alt="Фото Бойлан"
            class="book-cover"
            pTooltip="На фото: афіша концертів Моллі Блум, організованих Блейзесом Бойланом"
            tooltipPosition="top"
          />
          <p>
            Не просто так саме "Лестригонів" обрано для найбільш детального
            розкриття особистості <strong>Леопольда Блума</strong> - постійна
            присутність їжі в тексті
            <u>підкреслює "тілесність" головного героя</u> на рівні лексики. Це,
            знову-таки, прояв "міметичного стилю" письменника, як і наприклад
            такий фрагмент внутрішнього монологу нашого дублінського єврея:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Чого чаєчка кигиче? <br />
                Бо вечеря її кличе.
              </p>
            </blockquote>
          </div>
          <p>
            Пересічний читач скаже, що це не реалістично, мовляв,
            <strong>Блум</strong> не міг так швидко риму знайти. Однак,
            пам'ятаєте, він же рекламний агент, а тому може собі дозволити
            <u>думати слоганами</u>, більш того - це неабияка стилістична
            знахідка.
          </p>
          <p>
            Проте Джойс у цьому епізоді для нас приготував не просто "знахідку",
            а справжній скарб, при чому в межах одного речення:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Ніколи не знаєш, чиї думки ти
                <span style="color: #3e7ad4">жуєш</span>.
              </p>
            </blockquote>
          </div>
          <p>
            Не беручи до уваги, що в цій фразі знов фігурує
            <span style="color: #3e7ad4">тематика їжі</span>, вона недвозначно
            натякає на природу тих "першоелементів", на які автор розкладає
            людську свідомість у романі. Як я вже не раз відмічав,
            <u>"Улісс" сповнений цитат</u>, які виконують ряд функцій:
            формування "глобального тексту", висвітлення культурного коду
            персонажів і… Демонстрації того, що наші думки нам певною мірою не
            належать. Дивіться, ми ж подумки постійно повторюємо чиїсь слова… Та
            що там подумки, навіть під час усного мовлення! Ми цитуємо друзів і
            знайомих, ми цитуємо відомих людей - зірок, письменників, філософів
            (якщо не безпосередньо, то опосередковано), ми цитуємо смішні
            картинки в інтернеті в кінці кінців… Словом, ми всі користуємося
            надбаннями минулих поколінь, і можна сказати, повністю складаємося з
            них. Це і показує нам Джойс: до цього на прикладі
            <strong>Стівена</strong>, зараз же - на прикладі
            <strong>Блума</strong>.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
