<div class="wrap">
  <app-header [backgroundFile]="'episode-3-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-3-location.png"
            [tooltipStyleClass]="'location3'"
            alt="Локація3"
            class="book-cover-left"
            pTooltip="Зараз пляж Сендімаунт є популярним місцем для прогулянок місцевих жителів. Коло нього також знаходиться меморіал Джеймсу Джойсу - невеличкий камінь заввишки 0,6 метри, на якому вирізьблено: “Стовп Сонця для Джеймса Джойса”."
            tooltipPosition="top"
          />
          <p>
            На годиннику вже приблизно 11:00, а ми разом зі
            <strong>Стівеном</strong> невдовзі опинимося на дублінському пляжі.
            Там на нас чекатиме морський старець Протей, що затягує у товщу води
            кожного, хто прямує у <em>“вічність берегом Сендімаунта”</em>.
          </p>
          <p>
            Як можна здогадатися, <u>подорож ця простою не буде</u> -
            традиційно, 3-ій епізод вважається одним з найскладніших у романі.
            Але, якщо вам все ж вдасться схопити “Протея” і втримати його
            мінливу натуру, якщо вам все ж вдасться виплисти з його володінь
            живими, то… Може, колись знов занурившись вглиб цієї глави, ви вже
            не захочете її покидати…
          </p>
        </div>
      </section>
      <hr class="solid-line" />
      <h1>Аналіз епізоду</h1>
      <section class="about-book">
        <hr class="dashed-line" />
        <h2>Сюжет</h2>
        <div class="book-description">
          <p>
            Сюжет тут простіше нікуди: <strong>Стівен</strong> гуляє пляжем,
            роздумуючи про різні речі; надихнувшись морським пейзажем, він пише
            вірша на відірваному від листа містера <strong>Дізі</strong> шматку
            паперу, невдовзі після чого епізод завершується, проводжаючи нас
            <em>“безмовно плинучим додому, безмовним кораблем”</em>.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            Появи нових персонажів тут не спостерігається, але певною мірою
            розкривається <strong>Стівен</strong>.
          </p>
          <p>
            По-перше, в його свідомості укріплюється
            <u>розрив з <strong>Мулліганом</strong></u
            >: <em>“Я не спатиму там цієї ночі”</em>, повторює юнак свою думку з
            першого епізоду. Зауважмо, що він постійно порівнює себе та
            <strong>Муллігана</strong>, при чому не на свою користь: 
          </p>
          <img
            src="assets/images/StephenSandymount-photo.png"
            alt="Фото Стівен Сендімаунт"
            class="book-cover"
            pTooltip="На фото: Стівен на пляжі Сендімаунт"
            tooltipPosition="top"
          />
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Він рятував тонучих, а ти лякаєшся, коли на тебе гавкне якийсь
                собацюра.
              </p>
            </blockquote>
          </div>
          <p>
            Мало того, навіть взуття, що на ньому, нагадує йому про
            <strong>Мулліганову</strong> першість:
            <em>“його, а чи мої взувачки”</em>, подумки каже. Беручи до уваги
            всі вищезазначені чинники, можна здогадатися, що на заплановану
            зустріч у “Кораблі” <strong>Стівен</strong> так і не з'явиться.
          </p>
          <p>По-друге, так само підкреслюється і <u>розрив з родиною</u>:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Я теж перебував там, у темряві гріховного лона, створений, але
                не народжений. Ними,
                <span style="color: #3d76cc"
                  >чоловіком із моїм голосом та моїми очима</span
                >
                і
                <span style="color: #f138ad"
                  >привидом жінки з віддихом, що тхне могилою</span
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Зверніть увагу, він згадує
            <span style="color: #3d76cc">батька</span> й
            <span style="color: #f138ad">матір</span> так відсторонено, ніби
            вони йому не рідні - так автор знов вказує на психологічний бар'єр
            між ними.
          </p>
          <p>
            І, додавши до цього всього ще й <u>розрив з Богом</u>, можна
            прослідкувати, як у <strong>Стівені</strong> культивується відчуття
            власної неповноцінності. Це також підтверджує його сьогоднішній сон:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Двері відчинені, заходь. Вулиця червоних ліхтарів. Згадай.
                Гарун-аль-Рашид. Я майже-майженько.
                <span style="color: #e6742d">Той чоловік </span>повів мене,
                говорив. Я не боявся. Він ніс диню, підніс її мені до носа.
                Усміхнувся: пахне як фрукти з вершками. Це таке правило, сказав.
                Сюди. Заходь. Розстелено червоний килим. Побачиш, хто.
              </p>
            </blockquote>
          </div>
          <p>
            Підсвідомо <strong>Стівен</strong> шукає притулку, шукає
            <span style="color: #e6742d">людину, яка б його зрозуміла</span>…
            Ніби Телемах, шукає свого Одіссея.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/Proteus-photo.png"
            alt="Фото Протей"
            class="book-cover-left"
            pTooltip="На фото: Протей"
            tooltipPosition="top"
          />
          <p>
            І так, <u>Протей</u> - бог, що
            <span style="color: #54a2bf">постійно змінюється</span>; бог, що
            <span style="color: #54a2bf">знає минуле, теперішнє і майбутнє</span
            >. Але кому ж відведена його роль в епізоді? Головним чином,
            <u>людському розуму</u>. Глава починається серією напрямлених
            роздумів <strong>Стівена</strong>, після чого його увага поступово
            розсіюється і “піддається владі Протея”, перестрибуючи з думки на
            думку, з мови на мову, з оселі тітки <strong>Саллі</strong> до
            паризької кімнатки <strong>Кевіна Ігена</strong>.
          </p>
          <p>
            Саме тому цей епізод так складно читати - Протей
            <span style="color: #54a2bf"
              >не любить ділитися своїми знаннями</span
            >, постійно змінюється і потребує того ж від читача. Але, якщо
            запастися неабияким терпінням і наполегливістю, щоб врешті змусити
            морського старця говорити, то скаже він… Дещо цікавеньке.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <p>
            То ж, глобально, 3-ій епізод ставить під сумнів старе бачення світу
            як конструкції з чіткими правилами і визначеними стандартами.
            <strong>Стівенів</strong> перехід від лінійного і логічного
            обдумування філософських ідей Арістотеля до хаотичного і
            розгалуженого потоку асоціацій і спогадів символізує еволюцію
            людського світогляду (від античності до, відповідно, епохи модерну),
            а сам <strong>Стівен</strong> - кризу 20-го сторіччя. Іншими
            словами, у світі, де Бога вбив Ніцше, а разом з ним і об'єктивну
            мораль, юнак намагається <u>побудувати нову систему цінностей</u>,
            впорядкувати те безладдя, на яке світ несподівано перетворився. 
          </p>
          <p>
            Але по-справжньому вдається це зробити лишень самому Джойсу:
            визнавши старе розуміння світобудови невідповідаючим дійсності,
            замість нього письменник пропонує своє - <u>знов циклічне</u>, як і
            у випадку з історією. Така структура, повторювана та розгалужена,
            все ще є дуже складною, однак не цілком безладною, а значить -
            осяжною. 
          </p>
          <p>
            Ці свої, певною мірою метафізичні погляди (які ще не раз знайдуть
            своє відображення в “Уліссі”) автор знов демонструє через потік
            свідомості <strong>Стівена</strong>, переповнюючи його
            різноманітними повторами. Ось в голові героя лунає ехо власної думки
            з 2-го епізоду:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Темні вони там, сховані за цим світлом, темрява яскріє у сяйві,
                дельта Касіопеї, світи.
              </p>
            </blockquote>
          </div>
          <p>А ось він згадує <strong>Мулліганові</strong> слова з 1-го:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Тітка вважає, що ти вбив свою матір. І тому вона не бажає.</p>
            </blockquote>
          </div>
          <p>
            Прикладів можна знайти купу, до того ж, майте на увазі -
            <strong>Стівен</strong> народився, як то кажуть, “не в минулий
            четвер”. Неможливо достеменно знати, скільки ще ідей та образів з
            його минулого промайнуло “Протеєм” - наш контекст обмежується лише
            сьогоднішнім ранком. О восьмій годині ми
            <u>без запрошення ввірвалися у його розум</u>, тому не дивно, що він
            не виявляє гостинності: багато зв'язків між думками залишаються
            незрозумілими, алюзій - непоміченими, а формулювань -
            неоднозначними. 
          </p>
          <p>
            У цьому сенсі, 3-ій епізод - це і є той заплутаний, майже хаотичний
            світ, що з останніх сил залишається одним цілим.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            Якщо ж абстрагуватися від бажання зрозуміти “Протея” і подивитися
            суто на форму, то, у першу чергу, це
            <u>прагнення до естетичного ідеалу</u>. З ніг до голови він
            проникнутий поетичними образами:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Париж прокидається неохоче; його лимонні вулиці заливає сліпуче
                сонце. В повітрі витає вогкий дух вівсяних коржиків,
                жаб’ячо-зеленої полинівки, пахощі ладану від заутрені у
                поблизькій церкві.
              </p>
            </blockquote>
          </div>
          <p>
            До того ж, Джойс не Джойс, коли не грається з мовою (надалі цитати
            будуть переважно з оригіналу бо в укр. перекладі не всі художні
            засоби автора втілені вдало):
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Among <span style="color: #119c04">gum</span
                ><span style="color: #2541cc">heavy </span
                ><span style="color: #119c04">serpent</span
                ><span style="color: #2541cc">plants </span>,
                <span style="color: #119c04">milk</span
                ><span style="color: #2541cc">oozing </span> fruits, where on
                the tawny waters leaves lie wide<sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="В українському перекладі: “Серед змієподібних рослин, що сочаться смолою, плодів, з яких точиться молоко, де на жовтавих водах колихається широке листя лілей”."
                  tooltipPosition="bottom"
                  ><u>[1]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Тут він урізноманітнює текст, однозмішуючи двоєслова. А тут він
            цікавим чином працює з розстановкою повторів:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                The new <span style="color: #0097ce">air</span> greeted him,
                harping in <span style="color: #ed0000">wild</span> nerves, wind
                <span style="color: rgb(194, 149, 0)">of </span>
                <span style="color: #ed0000">wild </span>
                <span style="color: #0097ce">air </span>
                <span style="color: rgb(194, 149, 0)">of </span> seeds
                <span style="color: rgb(194, 149, 0)">of </span> brightness<sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="В українському перекладі: “Його привітав свіжий подув пружного вітру, загравши на напружених, як струни, нервах; вітру, насиченого сонячними променями”."
                  tooltipPosition="bottom"
                  ><u>[2]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>
            З огляду на пафосне забарвлення підібраних письменником слів, ці, на
            перший погляд тавтології, як це не дивно, ще дужче підкреслюють
            заданий лексикологічно колорит фрагменту. На цьому ж прикладі можна
            показати і пристрасть великого прозаїка до алітерацій:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                The new ai<span style="color: #ed0000">r</span> g<span
                  style="color: #ed0000"
                  >r</span
                >eeted <span style="color: #ff5f4a">h</span>im,
                <span style="color: #ff5f4a">h</span>a<span
                  style="color: #ed0000"
                  >r</span
                >pi<span style="color: rgb(194, 149, 0)">n</span>g i<span
                  style="color: rgb(194, 149, 0)"
                  >n
                </span>
                wild <span style="color: rgb(194, 149, 0)">n</span>erves,
                <span style="color: #119c04">w</span>in<span
                  style="color: #0097ce"
                  >d</span
                >
                of <span style="color: #119c04">w</span>il<span
                  style="color: #0097ce"
                  >d</span
                >
                air of <span style="color: #5e2aec">s</span>ee<span
                  style="color: #0097ce"
                  >d</span
                ><span style="color: #5e2aec">s</span> of brigh<span
                  style="color: #0097ce"
                  >t</span
                >ne<span style="color: #5e2aec">ss</span>.
              </p>
            </blockquote>
          </div>
          <p>
            Ну і як же без класичних
            <span style="color: #f138ad">каламбурів</span> в стилі Джоймса
            Джейса:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                A porterbottle stood up, stogged to its waist, in the cakey
                <span style="color: #f138ad">sand dough</span>
                <sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="В українському перекладі: “У мокрому піщаному місиві, загрузнувши по пояс, стирчала пивна пляшка”."
                  tooltipPosition="bottom"
                  ><u>[3]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Всіма цими засобами автор ще встигне нас досхочу нагодувати в 11-му
            епізоді, серенаді “Сирен”.
          </p>
          <p>
            Зараз же, пропоную врешті розібратись, чому ж Джойс оформлює
            внутрішній монолог своїх героїв у вигляді
            <u>невласне-прямої мови</u>. На даному етапі це стає як ніколи
            наочним: на відміну від двох попередніх епізодів, в “Протеї”
            відбувається злиття думок <strong>Стівена</strong> вже не стільки зі
            словами автора, скільки в цілому - з усім оточуючим його світом. Це
            і називається “неодмінною модальністю видимого”, призмою сприйняття
            кожної людини, межі якої вона не в силах покинути. 
          </p>
          <p>
            І підкреслюється ця неможливість відділити об'єктивну реальність від
            суб’єктивної точки зору, як часто буває у Джойса, не безпосередньо
            <span style="color: #2541cc">змістом</span> висловлювання, а його
            <span style="color: #119c04">формою</span> - хороший письменник не
            <span style="color: #2541cc">розповідає</span>, хороший письменник
            <span style="color: #119c04">показує</span>, як то кажуть. Так,
            подібний підхід досить важкий для розуміння, та попри це, він
            вбачається мені надзвичайно філігранним -
            <u>складність в контексті “Улісса” є лише інструментом</u>, що
            відкриває нові, не бачені раніше можливості.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
