<div class="wrap">
    <app-header [backgroundFile]="'episode-3-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
          <h1>Підготовка до читання</h1>
          <hr class="solid-line">
          <div class="book-description">
            <img
              src="/images/episode-3-location.png"
              alt="Локація3"
              class="book-cover-left"
              pTooltip="Зараз пляж Сендімаунт є популярним місцем для прогулянок місцевих жителів. Коло нього також знаходиться меморіал Джеймсу Джойсу - невеличкий камінь заввишки 0,6 метри, на якому вирізьблено: “Стовп Сонця для Джеймса Джойса”."
              tooltipPosition="top"
            />
            <p>
                На годиннику вже приблизно 11:00, а ми разом зі Стівеном невдовзі опинимося на дублінському пляжі. Там на нас чекатиме морський старець Протей, що затягує у товщу води кожного, хто прямує у “вічність берегом Сендімаунта”.
            </p>
            <p>
                Як можна здогадатися, подорож ця простою не буде - традиційно, 3-ій епізод вважається одним з найскладніших у романі. Але, якщо вам все ж вдасться схопити “Протея” і втримати його мінливу натуру, якщо вам все ж вдасться виплисти з його володінь живими, то… Може, колись знов занурившись вглиб цієї глави, ви вже не захочете її покидати…
            </p>
          </div>
        </section>
        <hr class="solid-line">
        <h1>Аналіз епізоду</h1>
        <section class="about-book">
        <hr class="dashed-line" />
          <h2>Сюжет</h2>
            <div class="book-description">
                <p>
                    Сюжет тут простіше нікуди: Стівен гуляє пляжем, роздумуючи про різні речі; надихнувшись морським пейзажем, він пише вірша на відірваному від листа містера Дізі шматку паперу, невдовзі після чого епізод завершується, проводжаючи нас “безмовно плинучим додому, безмовним кораблем”.
                </p>
            </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Герої</h2>
          <div class="book-description">
            <img
              src="/images/StephenSandymount-photo.png"
              alt="Фото Стівен Сендімаунт"
              class="book-cover"
              pTooltip="На фото: Стівен на пляжі Сендімаунт"
              tooltipPosition="top"
            />
            <p>
                Появи нових персонажів тут не спостерігається, але певною мірою розкривається Стівен.
              </p>
              <p>
                По-перше, в його свідомості укріплюється розрив з Мулліганом: “Я не спатиму там цієї ночі”, повторює юнак свою думку з першого епізоду. Зауважмо, що він постійно порівнює себе та Муллігана, при чому не на свою користь: 
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Він рятував тонучих, а ти лякаєшся, коли на тебе гавкне якийсь собацюра.
                  </p>
                </blockquote>
              </div>
              <p>
                Мало того, навіть взуття, що на ньому, нагадує йому про Мулліганову першість: “його, а чи мої взувачки”, подумки каже. Беручи до уваги всі вищезазначені чинники, можна здогадатися, що на заплановану зустріч у “Кораблі” Стівен так і не з'явиться.
              </p>
              <p>
                По-друге, так само підкреслюється і розрив з родиною:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Я теж перебував там, у темряві гріховного лона, створений, але не народжений. Ними, чоловіком із моїм голосом та моїми очима і привидом жінки з віддихом, що тхне могилою.
                  </p>
                </blockquote>
              </div>
              <p>
                Зверніть увагу, він згадує батька й матір так відсторонено, ніби вони йому не рідні - так автор знов вказує на психологічний бар'єр між ними.
              </p>
              <p>
                І, додавши до цього всього ще й розрив з Богом, можна прослідкувати, як у Стівені культивується відчуття власної неповноцінності. Це також підтверджує його сьогоднішній сон:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Двері відчинені, заходь. Вулиця червоних ліхтарів. Згадай. Гарун-аль-Рашид. Я майже-майженько. Той чоловік повів мене, говорив. Я не боявся. Він ніс диню, підніс її мені до носа. Усміхнувся: пахне як фрукти з вершками. Це таке правило, сказав. Сюди. Заходь. Розстелено червоний килим. Побачиш, хто.
                  </p>
                </blockquote>
              </div>
              <p>
                Підсвідомо Стівен шукає притулку, шукає людину, яка б його зрозуміла… Ніби Телемах, шукає свого Одіссея.
              </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Міфологічний підтекст</h2>
          <div class="book-description">
            <img
            src="/images/Proteus-photo.png"
            alt="Фото Протей"
            class="book-cover-left"
            pTooltip="На фото: Протей"
            tooltipPosition="top"
          />
            <p>
                І так, Протей - бог, що постійно змінюється; бог, що знає минуле, теперішнє і майбутнє. Але кому ж відведена його роль в епізоді? Головним чином, людському розуму. Глава починається серією напрямлених роздумів Стівена, після чого його увага поступово розсіюється і “піддається владі Протея”, перестрибуючи з думки на думку, з мови на мову, з оселі тітки Саллі до паризької кімнатки Кевіна Ігена.
            </p>
            <p>
                Саме тому цей епізод так складно читати - Протей не любить ділитися своїми знаннями, постійно змінюється і потребує того ж від читача. Але, якщо запастися неабияким терпінням і наполегливістю, щоб врешті змусити морського старця говорити, то скаже він… Дещо цікавеньке.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Проблематика</h2>
          <div class="book-description">
            <p>
                То ж, глобально, 3-ій епізод ставить під сумнів старе бачення світу як конструкції з чіткими правилами і визначеними стандартами. Стівенів перехід від лінійного і логічного обдумування філософських ідей Арістотеля до хаотичного і розгалуженого потоку асоціацій і спогадів символізує еволюцію людського світогляду (від античності до, відповідно, епохи модерну), а сам Стівен - кризу 20-го сторіччя. Іншими словами, у світі, де Бога вбив Ніцше, а разом з ним і об'єктивну мораль, юнак намагається побудувати нову систему цінностей, впорядкувати те безладдя, на яке світ несподівано перетворився. 
            </p>
            <p>
                Але по-справжньому вдається це зробити лишень самому Джойсу: визнавши старе розуміння світобудови невідповідаючим дійсності, замість нього письменник пропонує своє - знов циклічне, як і у випадку з історією. Така структура, повторювана та розгалужена, все ще є дуже складною, однак не цілком безладною, а значить - осяжною. 
            </p>
            <p>
                Ці свої, певною мірою метафізичні погляди (які ще не раз знайдуть своє відображення в “Уліссі”) автор знов демонструє через потік свідомості Стівена, переповнюючи його різноманітними повторами. Ось в голові героя лунає ехо власної думки з 2-го епізоду:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Темні вони там, сховані за цим світлом, темрява яскріє у сяйві, дельта Касіопеї, світи.
                  </p>
                </blockquote>
            </div>
            <p>
                А ось він згадує Мулліганові слова з 1-го:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Тітка вважає, що ти вбив свою матір. І тому вона не бажає.
                </p>
                </blockquote>
            </div>
            <p>
                Прикладів можна знайти купу, до того ж, майте на увазі - Стівен народився, як то кажуть, “не в минулий четвер”. Неможливо достеменно знати, скільки ще ідей та образів з його минулого промайнуло “Протеєм” - наш контекст обмежується лише сьогоднішнім ранком. О восьмій годині ми без запрошення ввірвалися у його розум, тому не дивно, що він не виявляє гостинності: багато зв'язків між думками залишаються незрозумілими, алюзій - непоміченими, а формулювань - неоднозначними. 
            </p>
            <p>
                У цьому сенсі, 3-ій епізод - це і є той заплутаний, майже хаотичний світ, що з останніх сил залишається одним цілим.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Стиль</h2>
          <div class="book-description">
            <p>
                Якщо ж абстрагуватися від бажання зрозуміти “Протея” і подивитися суто на форму, то, у першу чергу, це прагнення до естетичного ідеалу. З ніг до голови він проникнутий поетичними образами:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Париж прокидається неохоче; його лимонні вулиці заливає сліпуче сонце. В повітрі витає вогкий дух вівсяних коржиків, жаб’ячо-зеленої полинівки, пахощі ладану від заутрені у поблизькій церкві.
                  </p>
                </blockquote>
            </div>
            <p>
                До того ж, Джойс не Джойс, коли не грається з мовою (надалі цитати будуть переважно з оригіналу бо в укр. перекладі не всі художні засоби автора втілені вдало):
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Among gumheavy serpentplants, milkoozing fruits, where on the tawny waters leaves lie wide<sup><u>[1]</u></sup>.
                  </p>
                </blockquote>
            </div>
            <p>
                Тут він урізноманітнює текст, однозмішуючи двоєслова. А тут він цікавим чином працює з розстановкою повторів:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    The new air greeted him, harping in wild nerves, wind of wild air of seeds of brightness<sup><u>[2]</u></sup>.
                  </p>
                </blockquote>
            </div>
            <p>
                З огляду на пафосне забарвлення підібраних письменником слів, ці, на перший погляд тавтології, як це не дивно, ще дужче підкреслюють заданий лексикологічно колорит фрагменту. На цьому ж прикладі можна показати і пристрасть великого прозаїка до алітерацій:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    The new air greeted him, harping in wild nerves, wind of wild air of seeds of brightness.
                  </p>
                </blockquote>
            </div>
            <p>
                Ну і як же без класичних каламбурів в стилі Джоймса Джейса:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    A porterbottle stood up, stogged to its waist, in the cakey sand dough<sup><u>[3]</u></sup>.
                  </p>
                </blockquote>
            </div>
            <p>
                Всіма цими засобами автор ще встигне нас досхочу нагодувати в 11-му епізоді, серенаді “Сирен”.
            </p>
            <p>
                Зараз же, пропоную врешті розібратись, чому ж Джойс оформлює внутрішній монолог своїх героїв у вигляді невласне-прямої мови. На даному етапі це стає як ніколи наочним: на відміну від двох попередніх епізодів, в “Протеї” відбувається злиття думок Стівена вже не стільки зі словами автора, скільки в цілому - з усім оточуючим його світом. Це і називається “неодмінною модальністю видимого”, призмою сприйняття кожної людини, межі якої вона не в силах покинути. 
            </p>
            <p>
                І підкреслюється ця неможливість відділити об'єктивну реальність від суб’єктивної точки зору, як часто буває у Джойса, не безпосередньо змістом висловлювання, а його формою - хороший письменник не розповідає, хороший письменник показує, як то кажуть. Так, подібний підхід досить важкий для розуміння, та попри це, він вбачається мені надзвичайно філігранним - складність в контексті “Улісса” є лише інструментом, що відкриває нові, не бачені раніше можливості.
            </p>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>
  