<div class="wrap">
  <app-header [backgroundFile]="'episode-1-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line">
        <div class="book-description">
          <img
            src="/images/episode-1-location.png"
            alt="Локація1"
            class="book-cover-left"
            pTooltip="Зараз в цій вежі знаходиться музей Джеймса Джойса. В його експозиції виставлено посмертну гіпсову маску письменника, перші друковані видання більшості його робіт, а також невелику кількість рукописів. До того ж, там можна зустріти й деякі з особистих речей великого ірландця: його гітару, мисливський жилет і краватку. Музей працює з 10:00 по 16:00, відповідно, з вівторка по неділю - вхід безкоштовний."
            tooltipPosition="bottom"
          />
          <p>
            За мить ви опинитеся у Дубліні, у вежі Мартелло<sup><u>[1]</u></sup>. 
            Дія всього роману відбувається 16 червня 1904 року<sup><u>[2]</u></sup>, на момент же 1-го епізоду - восьма година ранку.
          </p>
          <p>
            Читання "Телемаха" не повинно стати для вас надзвичайно складним. На відміну від багатьох наступних епізодів, цей є досить лінійним і послідовним - словом, демонструє канонічний підхід до прози модернізму.
          </p>
          <p>
            Він відмінно відіграє роль вступу та "саджає зернятка" тих тем і прийомів, які надалі Джойс буде дуже активно використовувати і розвивати. Радити вам спробувати "відкопати" їх не має сенсу, знов-таки - це тільки "зернятка", тому помітити неозброєним оком їх буде досить важко.
          </p>
          <p>
            Саме тому, єдине, що можна порекомендувати у даному випадку - намагатися запам'ятати якомога більше, це нам знадобиться у подальших епізодах. Що ж, почнімо читати!
          </p>
        </div>
        <hr class="solid-line">
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
        <hr class="dashed-line"/>
        <h2>Сюжет</h2>
        <p>
          Як це часто буває, дія роману починається раптово, без будь-якого вступу - "Статечний, огрядний Красень Мулліган виходить сходами на горішній майданчик вежі", і вже скоро починається їх діалог із Стівеном Дедалом<sup><u>[3]</u></sup>.Як дізнаємося пізніше, перший молодик - студент медичного факультету, другий - поет з єзуїтською освітою.
        </p>
        <p>
          З рештою, обидва спускаються вниз поснідати, де ми знайомимося з їх третім співмешканцем - англійцем Гейнсом, що займається вивченням ірландського фольклору. Через деякий час до них заходить старенька жінка і приносить молока, а після невеликого обміну репліками покидає вежу Мартелло.
        </p>
        <p>
          Згодом її покидають і троє молодиків: Мулліган йде купатись у морі, Гейнс йде разом з ним, хоч і залишається на березі, а Стівен йде працювати - до школи. Попередньо вони домовляються про зустріч у "Кораблі" (судячи з контексту, так називається один з дублінських барів) о пів на першу.
        </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <img
            src="/images/StephenMulligan-photo.png"
            alt="Фото Стівен та Мулліган"
            class="book-cover"
            pTooltip="На фото: кадр з екранізації роману 1967 року, на ньому - Стівен та Мулліган"
            tooltipPosition="top"
          />
        <p>
          Головним чином слід зупинитися на Стівені Дедалі. Неважко здогадатися, що саме він є центральною фігурою епізоду - в решті решт, саме його думки періодично переривають звичний перебіг подій.
        </p>
        <p>
          І перше, на що я попрошу вас звернути увагу, це його взаємовідносини з матір'ю... Точніше, її відсутністю - мати Стівена нещодавно померла. З діалогу між ним та Мулліганом дізнаємося, що він не виконав її останнього бажання - не помолився за неї, коли вона лежала на смертному одрі.
        </p>
        <p>
          При цьому, не виконавши цього "ритуалу", він чомусь виконує інший - носить траур. І саме це протиріччя принципово важливо для розуміння Стівена як персонажа - зараз він у стані невизначеності та розгубленості.
        </p>
        <p>
          À propos Красеня Муллігана - як ви напевно помітили, he is kind of a jerk. Зовнішньо вони зі Стівеном друзі, проте на ділі - радше суперники. Мулліган постійно глузує з нього, звертається до нього через прізвисько "Кінчик", що не заважає йому вдаватися до фамільярності і казати "Лише я один знаю, яка ти людина. Чом ти мені так не довіряєш?". Очевидним стає контраст цих двох героїв: Стівен - вразливий поет, тонка натура; Мулліган - іронічний веселун.
        </p>
      </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="/images/Telemachus-photo.png"
            alt="Фото Телемах"
            class="book-cover-left"
            pTooltip="На фото: Телемах та Ментор зустрічають німфу Каліпсо"
            tooltipPosition="top"
          />
          <p>
            Як вже було сказано у передмові, Джойс дуже часто опирався на "Одіссею". Навіть у самому тексті він натякає на це, використовуючи гомерівські епітети устами Красеня Муллігана:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Сопливо-зелене море. Мошонко-підтягуюче море. Епі ойнопа понтон.
              </p>
            </blockquote>
          </div>
          <p>
            Тож, якщо провести деякі паралелі з "Одіссеєю", зрозумілим стає, що Стівен Дедал - це прототип Телемаха, сина Одіссея. За відсутності батька його дім - захоплений залицяльниками його матері Пенелопи; вежа ж Мартелло, аренду за яку досі сплачував Стівен, теж у якомусь сенсі захоплена Красенем Мулліганом, "узурпатором", як його подумки зве Стівен наприкінці епізоду.
          </p>
          <p>
            Важливим тут буде порівняння і з шекспірівським "Гамлетом", про якого герої згадують досить прямо:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Я хочу сказати, - розпочав Гейнс, пояснюючи Стівенові, коли вони йшли слідом за Мулліганом, - що ця вежа і ці скелі нагадують мені чимось Ельсинор.
              </p>
            </blockquote>
          </div>
          <p>
            Звідси знов неминучі паралелі: Стівен - Гамлет, Мулліган - король Клавдій.
          </p>
          <p>
            Через ці допоміжні образи Джойс втілює одні з головних мотивів "Улісса" - безпритульність, поневіряння, пошук батька.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <img
            src="/images/Dublin-photo.png"
            alt="Фото Дублін"
            class="book-cover"
            pTooltip="На фото: Дублін"
            tooltipPosition="top"
          />
          <p>
            З другого ж речення (в оригіналі - першого), у романі постає питання віри в Бога:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Я хочу сказати, - розпочав Гейнс, пояснюючи Стівенові, коли вони йшли слідом за Мулліганом, - що ця вежа і ці скелі нагадують мені чимось Ельсинор.
              </p>
            </blockquote>
          </div>
          <p>
            Зверніть увагу, з якою витонченістю автор підводить нас до подальшої Мулліганової пародії на католицьку месу - всього лише люстерком та бритвою, що лежать навхрест.
          </p>
          <p>
            Ця сцена характеризує у рівній мірі як ставлення Муллігана до релігії, так і його як людину в цілому: іронія - його все. Що ж до Стівена, то він знов вагається - з однієї сторони в Бога він не вірить, а з іншої зве його "трупожером", ненавидячи його за смерть матері, тим самим ніби визнаючи його існування.
          </p>
          <p>
            Другий лейтмотив роману Джойс introduces to us з не меншою витонченістю:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Оце і є символ ірландського мистецтва. Тріснуте люстерко служниці.
              </p>
            </blockquote>
          </div>
          <p>
            Через дану метафору автор демонструє політичний стан Ірландії по відношенню до Англії - у 1801 році батьківщина Джеймса Джойса стала частиною Британської імперії. Цей наратив потім філігранно обігрується через діалог Гейнса з молочаркою - розпочавши говорити до корінної ірдандки її ж мовою, він викликає в неї реакцію, мовляв "це ви французькою, сер?".
          </p>
          <p>
            Тема національної свідомості, як і тема релігії, ще не раз з'являться в романі, тому спостерігатимемо за їх подальшим розвитком.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            Хоч і регламентувалося, що стиль буде відігравати ключову роль в "Уліссі", поки що це не відчувається, правда ж? Почекайте ще трохи, бо, як казав Стефан Цвейг: "для читання цієї книги знадобиться багато часу і все можливе терпіння".
          </p>
          <p>
            Тим не менш, вже зараз Джойс використовує деякі характерні засоби виразності. По-перше, він ніяк не відділяє думки Стівена від слів автора, що видно на прикладі цього фрагменту:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Він позирнув скоса вгору і заклично засвистів тривалим свистом, тоді завмер, пильно дослухаючись, а його рівні білі зуби яскріли золотими блискітками. Златоуст. І в тиші на відповідь йому пролунали два пронизливі свистки.
              </p>
            </blockquote>
          </div>
          <p>
            Внутрішній голос Стівена з'являється на одне слово, після чого знов розчиняється у тексті.
          </p>
          <p>
            По-друге, із самого початку Джойс розщедрився на велику кількість алюзій та цитат, а також на використання of different languages.
          </p>
          <p>
            Чому всі ці прийоми - не просто спроба ускладнити читачу життя, а цілком виправдана міра, ми поговоримо пізніше, вже після "Протея". На разі ж, час переходити до другого епізоду !
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>