<div class="wrap">
  <app-header [backgroundFile]="'episode-9-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-9-location.png"
            [tooltipStyleClass]="'location9'"
            alt="Локація9"
            class="book-cover-left"
            pTooltip="Тоді Національна бібліотека Ірландії була одним з головних осередків інтелектуального та культурного життя міста, залишається ним і понині, налічуючи 500 тис. томів книг, а також карти, рукописи, газети, журнали та фотографії."
            tooltipPosition="top"
          />
          <p>
            Якщо ви вже встигнули скучити за <strong>Стівеном</strong>, то можу
            вас порадувати - цей епізод для вас. Більш того, таких розумників,
            як він, в "Сціллі і Харибді" буде декілька - місце дії переходить до
            Національної бібліотеки, де ми почуємо інтелектуальну дискусію на
            тему "Гамлета" Шекспіра. З цього приводу не зайвим буде ознайомитися
            або
            <u>освіжити в пам'яті біографію відомого англійського драматурга</u>
            і, відповідно, сюжет обговорюваної трагедії - це допоможе постійно
            бути у контексті їх розмови. Крім того, по епізоду розкидана купа
            нових паралелей між <strong>Блумом</strong> та
            <strong>Стівеном</strong>, тому раджу придивлятися до тексту на
            предмет подібних "кореляцій" між цими двома.
          </p>
          <p>
            Але, як ви вже могли помітити, тільки-но юний поет з'являється на
            сторінках роману, читати стає набагато складніше. Саме тому при
            ознайомленні з цією главою читача або із захопленням затягує
            Харибда, або безжально з'їдає Сцілла… Проте, навіть якщо цей розділ
            ви читатимете через силу, то <u>не кидайте одразу книгу</u> - дайте
            шанс наступному, а я вам гарантую, що він як мінімум кардинально
            відрізнятиметься від всіх попередніх, а як максимум дуже вам
            сподобається. Але то я вже забігаю наперед, а поки… До 9-го епізоду!
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <p>Пам'ятаєте, в першому епізоді <strong>Мулліган</strong> казав:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Пождіть, Гейнсе, от ви ще почуєте, що він каже про Гамлета.
              </p>
            </blockquote>
          </div>
          <p>Але, після цього зауважив:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Священний кухоль, лиш він один може відкрити уста Дедалові.
              </p>
            </blockquote>
          </div>
          <img
            src="assets/images/StephenLib-photo.png"
            alt="Локація9"
            class="book-cover"
            pTooltip="На фото: Стівен (справа) розповідає Джону Еглінтону (зліва) та містеру Кращу (ззаду) свою теорію на рахунок Шекспіра"
            tooltipPosition="top"
          />
          <p>
            Що ж, так і вийшло: <strong>Стівен</strong>, випивши з газетярами,
            пояснює нам і ще декільком інтелектуалам, чому на його думку
            <u>Шекспір асоціював себе у першу чергу не з Гамлетом</u>, а з
            привидом його батька (в підтвердження своєї думки, він зазначає, що
            у своєму театрі англійський драматург грав саме Гамлета старшого, до
            того ж, мав сина на ім'я Гамнет, що помер у 11-річному віці;
            наостанок, <strong>Стівен</strong> стверджує, що у брата Вільяма,
            Річарда, була інтрижка з його дружиною Енн, звідси і зав'язка сюжету
            п'єси).
          </p>
          <p>
            В цьому заключається певна
            <u>геніальність Джойсової драматургії</u> - він всюди розставляє
            непомітні "капкани", що спрацьовують тоді, коли про них вже всі
            забули (а забути про них вкрай просто, беручи до уваги насиченість,
            а іноді навіть перенасиченість тексту роману). В цьому сенсі можна
            ще згадати, що на початку книги <strong>Гейнс</strong> хотів
            завітати до Національної бібліотеки, де відбуваються події "Сцілли і
            Харибди":
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — До речі, — озвався Гейнс, підводячись, — я згадав, що сьогодні
                маю відвідати вашу Національну бібліотеку.
              </p>
            </blockquote>
          </div>
          <p>
            Цього "сакса" письменник теж не забув помістити на сторінки 9-го
            розділу:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Гейнс пішов, — повідомив він. <br />
                — Справді? <br />
                — Я показував йому книжку Жюбенвіля. А він, бачте, в захваті від
                Гайдових «Любовних пісень Коннахту». То я так і не спромігся
                притягти його на цю дискусію. Він гайнув до Джілла, хоче купити
                негайно ті пісні.
              </p>
            </blockquote>
          </div>
          <p>
            Але, повертаючись до ходу подій епізоду, посеред
            <strong>Стівенової</strong> промови до приміщення заходить
            <strong>Мулліган</strong>, що отримав від
            <em>"нечистого барда"</em> телеграму, в якій той сповістив про свою
            майбутню відсутність у "Кораблі" сьогодні о 12-ій (це я відмічав ще
            в контексті "Протея").
          </p>
          <p>
            Потім, після невеличкої паузи, дискусія в бібліотеці продовжується,
            між тим на цей раз
            <u>в двері стукає вже <strong>Леопольд Блум</strong></u
            >:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Прийшов один джентльмен, сер, — пояснив помічник, підступаючи
                і простягаючи візитну картку. — З «Фрімена». Хоче подивитися
                підшивку «Кілкенні Піпл» за минулий рік.
              </p>
            </blockquote>
          </div>
          <p>
            Зверніть увагу, єдиний, хто напряму взаємодіє з ним -
            квакер-бібліотекар, проте ніяк не <strong>Стівен</strong>. Як
            бачите, Джойс знов, як і у випадку з 7-им епізодом, дає нам надію на
            те, що долі <strong>Стівена</strong> та
            <strong>Блума</strong> перетнуться, однак… Більш нічого і не дає…
            Саме тому поява нашого "Одіссея"
            <u>ніяк не впливає на обговорення</u> Шекспіра і його "Гамлета", що
            триватиме ще деякий час, після чого <strong>Мулліган</strong> зі
            <strong>Стівеном</strong> покинуть будівлю й епізод завершиться.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            <strong>Блум</strong> і <strong>Стівен</strong>, окрім як фізично
            зустрічатись (хоч і опосередковано),
            <u>"зустрічаються" в деяких думках або репліках</u>. Ось наприклад
            "дублінський Одіссей" постійно, - спочатку в 4-ому, а потім і в
            6-ому з 8-им - цитує одну і ту ж оперу Моцарта "Дон Жуан", зокрема
            такі слова з дуету "La ci darem la mano":
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <span style="color: #009420">Vorrei e non vorrei</span
                ><sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="Італ. “Хотіла б і не хотіла б”."
                  tooltipPosition="bottom"
                  ><u>[1]</u></sup
                >.
              </p>
            </blockquote>
          </div>
          <p>А ось що в 9-ому розділі говорить <strong>Стівен</strong>:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Ґвалтівник і зґвалтована, те, що він
                <span style="color: #009420">бажав би і не бажав би</span>…
              </p>
            </blockquote>
          </div>
          <p>
            Крім того, обидва персонажі відповідно у 8-ій та 9-ій главах цитують
            один і той же рядок "Гамлета" з однією і тією ж
            <span style="color: #e04545">помилкою</span>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <strong>Оригінал: </strong>Я дух твойого батька; <br />
                <strong>"Улісс": </strong
                ><span style="color: #e04545">Гамлете</span>, я дух твойого
                батька.
              </p>
            </blockquote>
          </div>
          <p>З цієї ж серії така фраза молодого поета:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Шекспір виходить з дому гугенотів на Сілвер-стрит і простує
                берегом повз заповідник для лебедів. Та він не зупиняється, щоб
                погодувати лебідку, яка жене в очерет своїх лебедят.
              </p>
            </blockquote>
          </div>
          <p>
            Кому у його розповіді протиставляється Шекспір, якщо не старому
            доброму дублінському єврею, що епізодом раніше як раз зупинився
            погодувати пташок?
          </p>
          <p>
            Ну і наостанок, <strong>Стівен</strong> згадує сьогоднішній сон (вже
            вдруге, вперше - в "Протеї"):
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Потім квартал, де дівки. Він простягав мені скибку солодкої, як
                мед, дині. Зайди. Сам побачиш.
              </p>
            </blockquote>
          </div>
          <p>
            Найбільш характеристично в цьому фрагменті те, що цей спогад виникає
            у свідомості молодика як раз в момент "зіткнення" з
            <strong>Леопольдом Блумом</strong>, а тому сумнівів немає - цих обох
            щось зв'язує.
          </p>
          <p>
            Однак попри всі їх заочні взаємозв'язки, варто ще пару слів сказати
            про самого <strong>Стівена</strong>. Перший пов'язаний з ним
            лейтмотив у "Сціллі і Харибді" - <u>відчуженість</u>, бо ж його не
            запрошують на сьогоднішній званий вечір, присвячений молодим поетам,
            на відміну від… Як не дивно, <strong>Красеня Муллігана</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Побачимося ввечері, — сказав Джон Еглінтон. Notre ami Мур
                сподівається, що Малахій Мулліган прийде теж.
              </p>
            </blockquote>
          </div>
          <img
            src="assets/images/StephenSandymount2-photo.png"
            alt="Фото Стівен Сендімаунт 2"
            class="book-cover-left"
            pTooltip="На фото: Стівен на пляжі Сендімаунт"
            tooltipPosition="top"
          />
          <p>
            Другий лейтмотив, набагато менш очевидний, однак від того не менш
            важливий - <u>кохання</u>. <strong>Стівенові</strong> воно конче
            необхідне, однак його нема<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="16 червня 1904 року було обране Джойсом не просто так - це дата першого побачення письменника з його майбутньою дружиною Норою Барнакл. В думках Стівена маємо деякі алюзії на це: “Вона, вона, вона. Хто ж вона така? Панна, яка у понеділок озирала вітрину книгарні Годжеса Фіггіса, шукаючи якусь із тих алфавітних книжок, що їх ти збирався написати. Ти прикипів до неї очима. Парасоля звисала у неї з руки на плетеній петлі, настромленій на зап’ясток. Вона живе в Лісон-парку, терплячи свої незлагоди і тішачись своїми забаганками; закохана в літературу”. То, може, в нього вже є надія на щасливе кохання, як гадаєте?"
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >, що підкреслює внутрішню неповноцінність парубка:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Адонісом, ладна скоритися йому, щоб оволодіти ним, як пролог до
                царства, це знана в Стратфорді нахабна дівка, яка валить у
                пшениці свого коханця, що молодший за неї. <br />
                А моя черга? Коли? <br />
                Прийди!
              </p>
            </blockquote>
          </div>
          <p>
            Зауважмо, ця ж тема експлуатується і в 3-ому епізоді під час
            написання молодим поетом вірша:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Уста до її поцілунку. Ні. Треба, щоб були двоє. Добре їх
                склеїти. Уста до її уст у поцілунку [...] <br />
                Вона мені довіряє, рука у неї ніжна, очі з довгими віями [...]
                <br />
                Торкни мене. Ніжний погляд очей. Ніжний ніжний ніжний дотик рук.
                Я тут самотній. О, торкни мене швидше, зараз.
              </p>
            </blockquote>
          </div>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/ScyllaCharybdis-photo.png"
            alt="Фото Сцілла і Харибда"
            class="book-cover"
            pTooltip="На фото: Сцілла (зліва) і Харибда (справа)"
            tooltipPosition="top"
          />
          <p>
            В міфології Сцілла - голодний шестиголовий монстр, а Харибда -
            великий вир, що затягує в себе все навколо; щоб проплисти далі,
            Одіссеєві довелося обирати, з яким із цих чудовиськ зустрітися (по
            іронії долі, він зустрівся з обома)... І щось мені підказує , що ця
            інформація нічого вам не говорить. Воно й зрозуміло -
            <u>явних паралелей з гомерівським текстом знов нема</u>, в кінці
            кінців, головною дієвою особою розділу є
            <strong>Стівен-Телемах</strong>, а не <strong>Блум-Одіссей</strong>.
          </p>
          <p>
            Однак відповідники Сціллі і Харибді все ж можна у Джойса відшукати:
            письменник радше
            <u>використовує їх образи у ролі метафори двох крайностей</u> -
            ірландська інтелігенція, вони ж "Ірландське літературне відродження"
            (Сцілла), та жовта преса (Харибда). <strong>Стівен</strong> як би
            намагається триматися подалі від обох: не дивлячись на вмовляння
            редактора, він ніколи не напише нічого для газети, бо це протирічить
            його розумінню "справжнього мистецтва"; що ж до "Ірландського
            літературного відродження" то бути його частиною наш головний герой,
            як і сам Джойс (а ми пам'ятаємо, що Стівен це втілення Джойса в
            юності)<sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Починаючи з 1904 року, Джойс не проживав у Дубліні на постійній основі, натомість тинявсья між Цюрихом та Трієстом. Останній раз письменник відвідував Дублін у 1912 році, після чого ніколи туди не повертався."
              tooltipPosition="bottom"
              ><u>[3]</u></sup
            >, також не хоче - обгрунтовує він це тим, що вважає правильним йти
            вперед, а не оглядатись на “щасливе минуле”, якого насправді ніколи
            й не було, бо ж насправді це всього лише ефект ностальгії.
          </p>
          <p>
            Що ж, як бачите, <u>античний фундамент роману дедалі слабшає</u>, що
            ми спостерігатимемо й в наступних епізодах.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <img
            src="assets/images/HamletGhost-photo.png"
            alt="Фото Гамлет і Привид"
            class="book-cover-left"
            pTooltip="На фото: Гамлет та Привид його батька"
            tooltipPosition="top"
          />
          <p>
            Повертається <u>проблема взаємовідносин батька й сина</u>, в першу
            чергу, через образи короля і принца Гамлетів. Але не обходиться й
            без <strong>Стівенових</strong> домислів:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <span style="color: #e66c5c"
                  >Почуття батьківства, себто усвідомлення того, що він виношує
                  в собі свого спадкоємця, чоловікові невідоме. </span
                >Це містичні обов’язки, апостольське наступництво від єдиного
                батька до єдиного сина. Саме на цих містичних зв’язках, а не на
                мадонні, образ якої хитра італійська ментальність накинула
                європейському загалові, вивищилася церква і стоїть вона
                незворушно, бо стоїть, як увесь світ, як макро- і мікрокосм — на
                порожнечі.
              </p>
            </blockquote>
          </div>
          <p>
            Молодик протиставляє "фальшиву"
            <span style="color: #e66c5c">батьківську любов</span> до сина
            <span style="color: #e735a6">материнській</span> - тій, яку він
            усіляко возвеличує в другому епізоді:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Негарний і непутящий: худа шия, закошлана чуприна і чорнильна
                ляпка, слід слимака.
                <span style="color: #e735a6"
                  >Проте якась жінка його ж любила, носила на руках і тулила до
                  серця. Якби не вона, то світ розтоптав би його на місиво, як
                  слимака. Вона ж бо любила його ріденьку кволу кров, якою
                  наділила сама ж, від своєї. </span
                >Невже це справжня суть? Єдина правдива сила, що творить життя?
              </p>
            </blockquote>
          </div>
          <p>
            У цій же парадигмі <strong>Стівен</strong> промовляє такі слова:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                І так само, як моя родимка на грудях лишається з правого боку,
                там-таки, де була, коли я народився, хоча все моє тіло безліч
                разів уже ткалося і переткалося новим тканням, так і в привиді
                невпокоєного батька проглядає образ покійного сина [...] <br />
                Він привид нині, тепер він тінь, він вітер у скелях Ельсинора,
                або як собі хочете, голос моря, голос чутний тільки серцем того,
                хто є сутністю його тіні, сином, єдиносутнім батькові.
              </p>
            </blockquote>
          </div>
          <p>
            Це не інакше, як <u>втілення ідеї метимпсихозу</u> з 4-го епізоду,
            пам'ятаєте, "переселення душ": переселення душі батька до тіла сина,
            душі принца Гамлета до тіла <strong>Стівена</strong>, душ пророка
            Іллі, Дон Жуана й Мазетто, короля Гамлета до тіла
            <strong>Блума</strong>, душ Телемаха й Одіссея до тіл цих двох… В
            кінці кінців, душ молодого ірландського поета і не дуже молодого не
            дуже ірландського єврея у Джеймсі Джойсі:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Ми чимчикуємо крізь самих себе, зустрічаючи бандитів, привидів,
                велетнів, старців, юнаків, жінок, удів, побратимів. Та щоразу
                зустрічаємо самих себе.
              </p>
            </blockquote>
          </div>
          <p>Але характеристичною є ця <strong>Стівенова</strong> репліка:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — А чи ви самі вірите у свою теорію? <br />
                — Ні, — зразу ж відмовив Стівен.
              </p>
            </blockquote>
          </div>
          <p>
            <strong>Стівен</strong>, алтер его самого письменника в юності, не
            вірить у власну теорію, не вірить у метимпсихоз. Але це слова
            <em>"хлопчини з першої дії"</em>. Що ж думає з цього приводу
            <em>"зрілий муж з п'ятої"</em>? Побачимо…
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            Весь епізод <u>пронизаний тонкою сатирою</u>. Пам'ятаючи відношення
            Джойса до "Ірландського літературного відродження", стає зрозумілим,
            чому письменник відверто глузує з його представників, передражнюючи
            їх імена, а то й взагалі змішуючи їх одне з одним, таким чином
            показуючи однотипність і обмеженість цих людей:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — У них там були, певно, два ліжка, одне краще, а друге не дуже,
                — висловив свій тонкий здогад містер Недуже Кращ [...]<br />
                — Античні автори згадують прославлені ліжка, — наморщив лоба,
                ліжково посміхаючись, Недуже Еглінтон [...]<br />
                — А що? — поцікавився Кращеглінтон."
              </p>
            </blockquote>
          </div>
          <p>
            <strong>Містера Краща</strong> він ще й додатково наділяє
            словами-паразитами задля більшої комічності:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                По цих словах містер Кращ спрямував свій приязний погляд на
                Стівена. <br />
                — До вашого відома, — сказав він, — Малларме написав чудові
                вірші в прозі. Стівен Маккенна цитував їх мені в Парижі. Один із
                них про «Гамлета». Він каже: Il se promene, lisant au livre de
                lui-meme, розумієте, і читає в книжці про самого себе. Він
                розповідає про те, як «Гамлета» поставили у французькому
                містечку, розумієте, десь у провінції. Ось таке було
                оголошення."
              </p>
            </blockquote>
          </div>
          <p>
            Крім того, помітьте, <strong>А.Е.</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Всі відвідувачі бібліотеки - люди, що реально існували: Томас Лістер - директор Національної бібліотеки в 1895-1920 рр.; Вільям Магі (писав під псевдонімом Джон Еглінтон) - впливовий ірландський критик та есеїст; Ричард Бест (у перекладі містер Кращ) - спеціаліст з ірландської міфології; Джордж Рассел (він же А.Е.) - ірландський поет, художник та теософ."
              tooltipPosition="bottom"
              ><u>[4]</u></sup
            >
            постійно знаходиться чиїйсь тіні:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Усі ці питання, вони є, власне, академічні, — оголосив із
                свого темного закутка Рассел [...] <br />
                Висока постать у домотканому одязі підвелася в затінку і витягла
                свій кооперативний годинник.
              </p>
            </blockquote>
          </div>
          <img
            src="assets/images/Yeats-photo.png"
            alt="Фото Єйтс"
            class="book-cover-left"
            pTooltip="На фото: Вільям Батлер Єйтс"
            tooltipPosition="top"
          />
          <p>
            Ходять чутки, що ця тінь - не інакше, як тінь Вільяма Батлера Єйтса,
            єдиного поета "Ірландського літературного відродження", якого Джойс
            дійсно поважав і цінував. Підтверджується ця теорія ще й тим, що
            перша поява Єйтса в тексті роману, неймовірно, теж супроводжується
            тінню:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Не озирайтесь, киньте думи <br />
                Все про любови таїну, <br />
                Бо ж Фергус колісниці має…<sup
                  [tooltipStyleClass]="'custom-tooltip'"
                  pTooltip="З вірша Єйтса “Хто з Фергусом?”"
                  tooltipPosition="bottom"
                  ><u>[5]</u></sup
                ><br />
                Тіні лісів безшелесно пропливали крізь мирний ранковий супокій,
                від сходів до моря — туди, куди він задивився.
              </p>
            </blockquote>
          </div>
          <p>
            Таким чином Джойс <u>виділяє Єйтса серед інших</u>, навмисно не
            представляючи його в якості безпосередньої дійової особи "Сцілли і
            Харибди", натомість "виносячи його за дужки" як того, хто затьмарює
            собою їх всіх.
          </p>
          <p>
            Наостанок, відмітимо невеличкий фрагмент наприкінці розділу,
            оформлений у вигляді драми. Певною мірою, це знов
            <u>прояв міметичного підходу</u> - дискусія на тему п'єси
            стилізована під п'єсу. Але, крім цього, це і таке собі передбачення
            <span style="color: #4254b3">"Цирцеї"</span> - епізоду, що від
            початку до кінця написаний як драма, а також
            <span style="color: #5088b6">"Сирен"</span> - наймузичнішого епізоду
            книги:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <span style="color: #4254b3">КРАСЕНЬ МУЛЛІГАН:</span> (<span
                  style="color: #5088b6"
                  >piano. Diminuendo</span
                >) <br />
                Наразі озвався медик Дік, <br />
                Заперечив колезі Деві [...] <br />
                <span style="color: #4254b3">КВАКЕРЛІСТЕР:</span> (<span
                  style="color: #5088b6"
                  >a tempo</span
                >) Але той, хто хоче вкрасти у мене моє чесне ймення…
              </p>
            </blockquote>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
