<div class="wrap">
  <app-header [backgroundFile]="'biography-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h2>Ранні роки</h2>
        <div class="book-description">
          <p>
            2-го лютого 1882-го року
            <u
              ><strong>Джеймс Августин Алоїзій Джойс</strong> народився в
              Ратгарі</u
            >, передмісті Дубліна, за адресою 41 Брайтон-сквер, у сім’ї
            <strong>Джона Станіслауса Джойса</strong> та
            <strong>Мері Мей</strong>. <strong>Джеймс Джойс</strong> мав
            суперечливе ставлення до свого батька. Він писав про нього:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Сотні сторінок, десятки персонажів у моїх книгах з'явилися
                завдяки йому.
              </p>
            </blockquote>
          </div>
          <p>І в той же час:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Він був банкрутом.</p>
            </blockquote>
          </div>
          <img
            src="assets/images/LittleJoyce-photo.png"
            alt="Фото Маленький Джойс"
            class="book-cover"
            pTooltip="На фото: маленький Джойс"
            tooltipPosition="top"
          />
          <p>
            Народившись у четвер о 6 ранку, Джойс підтвердив слова з відомої
            ірландської пісеньки:
            <em
              >“Thursday's child has far to go”<sup
                [tooltipStyleClass]="'custom-tooltip-left'"
                pTooltip="Англ. “Дитина четверга далеко піде”."
                tooltipPosition="bottom"
                ><u>[1]</u></sup
              ></em
            >.
          </p>
          <p>
            З вересня 1888-го по червень 1991-го майбутній письменник
            <u>навчався у коледжі Клонгоуз Вуд</u> — школі для хлопчиків під
            управлінням Ордену єзуїтів на заході Дубліна в Кілдері, що була
            заснована у 1814-ому році превелебним
            <strong>Пітером Кенні</strong> і вважалася найкращою католицькою
            школою Ірландії. <strong>Джойс</strong> вступив до підготовчих
            класів школи у віці 6,5 років у вересні 1888-го та залишався її
            учнем до червня 1891-го. Роки, проведені в Клонгоузі,
            <strong>Джойс</strong> згодом опише в автобіографічному романі
            “Портрет митця замолоду”.
          </p>
          <p>
            У 1891-ому <strong>Джеймсів</strong> батько втрачає роботу збирача
            податків і більше не може оплачувати навчання сина в престижному
            Клонгоузі.
            <u
              ><strong>Джеймса</strong> переводять до школи Християнських братів
              у Північному Ричмонді</u
            >. 6-го жовтня того ж року помирає
            <strong>Чарльз Стюарт Парнелл</strong> - лідер ірландського
            визвольного руху, зрадженого своїми соратниками. Незабаром після
            його смерті дев’ятирічний <strong>Джеймс</strong> пише вірш
            “Парнелл”, також відомий як “Et Tu, Healy”, спрямований проти
            <strong>Тімоті Гілі</strong>, найближчого сподвижника Парнелла, який
            його зрадив. Відбитки вірша, зроблені батьком автора, не збереглися.
          </p>
          <p>
            У 1893-ому році <strong>Джон Джойс</strong> зустрічає на вулиці отця
            <strong>Комні</strong> — колишнього ректора Клонгоуза, який
            допомагає
            <u
              >влаштувати <strong>Джеймса</strong> та його брата
              <strong>Станіслауса</strong> до єзуїтського коледжу Бельведер</u
            >
            (Дублін) за державний кошт. Навчання тривало там 5 років, після чого
            <strong>Джеймс Джойс</strong> вступив до Королівського Університету,
            також відомого як Університетський коледж.
          </p>
          <img
            src="assets/images/Ibsen-photo.png"
            alt="Фото Генрік Ібсен"
            class="book-cover-left"
            pTooltip="На фото: Генрік Ібсен"
            tooltipPosition="top"
          />
          <p>
            У 1899-ому <strong>Джойс</strong> пише есе “Драма і життя”,
            присвячене творчості <strong>Генріка Ібсена</strong> (улюбленого
            письменника Джойса), а вже за рік його стаття “Нова драма Ібсена”,
            присвячена п’єсі “Коли ми прокинемося мертвими”, буде опублікована в
            авторитетному лондонському журналі The Fortnightly Review.
            <strong>Джойс</strong> отримає за неї не лише гонорар, але й подяку
            та <u>похвали від самого <strong>Ібсена</strong></u
            >.
          </p>
          <p>
            У жовтні 1902-го ірландський поет
            <u
              ><strong>Джордж Вільям Рассел</strong> знайомить його з
              <strong>Вільямом Батлером Єйтсом</strong></u
            >. Представляючи <strong>Єйтсові Джойса</strong>, він каже:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Я від нього настраждався, тепер ваша черга.</p>
            </blockquote>
          </div>
          <p>
            Що ж, Єйтс від нього теж <em>“настраждався”</em> -
            <strong>Джойс</strong> поводився зрозуміло і зухвало, а під кінець
            їх розмови запитав:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Містере Єйтс, а скільки вам років?</p>
            </blockquote>
          </div>
          <p>
            <strong>Єйтсу</strong> було 37, але він з невідомої причини сказав,
            що йому 36, на що <strong>Джойс</strong> відповів:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Я так і думав… Ви вже занадто старі, і я ніяк не зможу на вас
                вплинути.
              </p>
            </blockquote>
          </div>
          <p>
            Однак цікаво, що до <strong>Єйтса</strong> у
            <strong>Джойса</strong> було досить гарне ставлення, він навіть
            колись казав:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Він був краще за мене.</p>
            </blockquote>
          </div>
          <p>
            Але, повертаючись до 1902-го, в цьому році
            <strong>Джойс</strong> публікує есе “Джеймс Кларенс Менген”,
            завершує Королівський Університет і планує вивчати медицину, для
            чого 1-го грудня вирушає до Парижа. Проте незабаром втрачає інтерес
            до медицини і стає частим відвідувачем Національної бібліотеки,
            <u>пише вірші</u>, з яких буде складено збірник “Камерна музика”, та
            <u>коротку прозу</u>, яку він називає “Епіфаніями”. Також
            <strong>Джойс</strong> готує книжкові огляди для Dublin Daily
            Express. Загалом із 11-го грудня 1902-го до 19-го листопада 1903-го
            року опубліковано 23 його матеріали.
          </p>
          <p>
            10 квітня 1903-го року батько телеграфує <strong>Джойсу</strong>,
            повідомляючи, <u>що його мати помирає</u>. Письменник покидає Париж
            і повертається до Дубліна. Померла його мати 13-го серпня.
            <strong>Джойс</strong>, який відмовився на прохання матері сходити
            до церкви на сповідь (його брат <strong>Станіслаус</strong> також
            відмовився помолитися на її смертному ложі), після її смерті
            відчуває почуття провини, яке намагається приглушити алкоголем.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Середні роки</h2>
        <div class="book-description">
          <p>
            1904-го року <strong>Джойс</strong> заробляє небагато, пишучи
            книжкові огляди для газет, викладаючи (з квітня по травень у школі
            Кліфтон) і співаючи. Він продовжує писати вірші, працює над великим
            романом “Герой Стівен” та створює короткі оповідання, які пізніше
            увійдуть до збірки “Дублінці”. 10-го лютого він завершує перший
            розділ “Героя Стівена”.
          </p>
          <img
            src="assets/images/Nora-photo.png"
            alt="Фото Нора"
            class="book-cover"
            pTooltip="На фото: Нора Барнакл"
            tooltipPosition="top"
          />
          <p>
            <u
              >Перша зустріч із його майбутньою дружиною
              <strong>Норою Барнакл</strong></u
            >
            (дівчиною з Голвея, яка працювала покоївкою в готелі Finn's Hotel)
            відбулася 10-го червня, а вже 16-го у пари відбулося перше
            побачення, дату якого письменник пізніше увіковічнить у своєму
            романі “Улісс”: всі події твору розгортатимуться в один день - 16-го
            червня 1904-го року.
          </p>
          <p>
            Дізнавшись, що син зустрічається з дівчиною на прізвище
            “Барнакл”<sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Англ. “Причіпка”."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >, батько письменника сказав:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Вона його ніколи не залишить.</p>
            </blockquote>
          </div>
          <p>
            Його слова виявилися пророчими, хоча офіційний шлюб між ними був
            укладений лише через 27 років (у 1931-ому році в Лондоні).
          </p>
          <p>
            13-го серпня 1904-го року в журналі Irish Homestead опубліковано
            <strong>Джойсове</strong> оповідання “Сестри”, а вже 10-го вересня -
            оповідання “Евелін”.
          </p>
          <p>
            З 9-го по 15 вересня
            <u><strong>Джойс</strong> живе у вежі Мартелло</u> (Сандиков) із
            <strong>Олівером Гогарті</strong> та
            <strong>Семюелем Тренчем</strong>. Після того, як
            <strong>Тренч</strong> уві сні раптом витягнув револьвера і почав
            стріляти, письменник покинув це місце.
          </p>
          <img
            src="assets/images/MartelloTower-photo.png"
            alt="Фото Вежа Мартелло"
            class="book-cover-left"
            pTooltip="На фото: вежа Мартелло в Дубліні"
            tooltipPosition="top"
          />
          <p>
            9-го жовтня <strong>Джойс</strong> і <strong>Нора</strong> залишають
            Дублін і вирушають до Європи. Спочатку вони оселяються в Полі
            (Австро-Угорщина), а наступного року переїжджають до Трієста.
          </p>
          <p>
            17-го грудня <strong>Джойсове</strong> оповідання “Після перегонів”
            опубліковано в Irish Homestead.
          </p>
          <p>
            19-го січня 1905-го письменник завершує оповідання “Земля”, але
            Irish Homestead відмовляється публікувати його. 27-го липня у
            <strong>Джойса </strong>
            <u>народжується син <strong>Джорджіо</strong></u
            >.
          </p>
          <p>
            1-го вересня він закінчив роботу над оповіданням “У день плюща”, а
            18-го вересня над оповіданням “Зустріч”. В жовтні він напише також
            оповідання “Аравія” та “Милість Божа”. 3-го грудня
            <strong>Джойс</strong> передає видавцеві
            <strong>Ґранту Річардсу </strong>свої оповідання, зібрані в одну
            <u>збірку під назвою “Дублінці”</u>.
          </p>
          <p>
            У лютому 1906-го <strong>Ґрант Річардс</strong> погоджується видати
            збірку, але згодом вимагає внести зміни до оповідань “Два лицарі”,
            “Маски” і “Милість Божа”. <strong>Джойс</strong> відмовляється і
            заявляє:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Я не можу писати, не ображаючи людей.</p>
            </blockquote>
          </div>
          <p>
            31-го липня того ж року <strong>Джойс</strong> із сім'єю переїжджає
            до Рима, де влаштовується клерком у банку.
          </p>
          <p>
            11-го лютого 1907-го року письменник завершує оповідання “Мертві”, а
            вже 7-го березня переїжджає до Трієста. 6-го травня
            <strong>Джойсову</strong> збірку віршів “Камерна музика” видають
            друком, на відміну від його збірки оповідань “Дублінці”, яку
            видавець <strong>Елкін Метьюз</strong> у листопаді відмовляється
            друкувати.
          </p>
          <p>
            26-го липня у письменника <u>народжується друга дитина</u> - дочка
            <strong>Лючія</strong>. Вона з’явилася на світ у палаті для
            бідняків. 8-го вересня <strong>Джойс</strong> заявляє, що повністю
            перепише “Героя Стівена”. Роман повинен буде складатися з п’яти
            розділів і матиме нову назву — “Портрет митця замолоду”.
          </p>
          <p>
            У 1909-ому ірландське видавництво Maunsel укладає контракт із
            <strong>Джойсом</strong> на видання “Дублінців”, проте зволікає з
            безпосереднім виданням.
          </p>
          <p>
            На період з 29-го липня по 9-го вересня
            <u><strong>Джойс</strong> приїздить до Ірландії</u>, зустрічається
            із батьком і сестрами, знайомиться з батьками
            <strong>Нори</strong> в Голвеї. 18-го жовтня 1909-го відбувається
            його друга поїздка на батьківщину, на цей раз довша - до 2-го січня
            1910-го. В цей час <strong>Джойс</strong> працює над відкриттям
            Volta Cinema — першого кінотеатру в Ірландії. З липня по вересень
            1912-го року <strong>Джойс</strong> знов перебуває в Ірландії, щоб
            просунути публікацію збірки “Дублінці”, яку 11-го вересня 1912-го
            під тиском громадськості
            <u>видавець відмовляється друкувати</u> через її “непатріотичність”.
            Увесь надрукований тираж був спалений. Того ж дня шокований
            <strong>Джойс</strong> залишає Ірландію з обіцянкою
            <u>більше не повертатися</u>. 14-го вересня
            <strong>Джойс</strong> пише памфлет “Газ із пальника”, присвячений
            подіям зі спаленням “Дублінців”. <strong>Джойс</strong> надсилає
            памфлет представникам дублінської громадськості.
          </p>
          <img
            src="assets/images/JoycePound-photo.png"
            alt="Фото Джойс Паунд"
            class="book-cover"
            pTooltip="На фото: Джеймс Джойс (зліва), Езра Паунд (правіше), Форд Медокс Форд (ще правіше), Джон Квін (найправіше)"
            tooltipPosition="top"
          />
          <p>
            2-го лютого 1914-го, у день народження <strong>Джойса</strong>,
            лондонський журнал The Egoist починає серійну публікацію роману
            “Портрет митця замолоду”, останню частину якого надрукують влітку
            1915 року. Публікації сприяє американський поет-модерніст
            <strong>Езра Паунд</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Паунд певною мірою відповідальний не тільки за популярність Джеймса Джойса, але і за популярність Томаса Еліота, Ернеста Гемінгвея та інших."
              tooltipPosition="bottom"
              ><u>[3]</u></sup
            >.
          </p>
          <p>
            1-го березня 1914-го
            <u><strong>Джойс</strong> розпочинає роботу над “Уліссом”</u>, а
            15-го червня <strong>Ґрант Річардс</strong> переглядає збірку
            “Дублінці” й <u>зрештою видає її окремою книгою</u> накладом 1250
            примірників. Через пів року продано трохи більше 30% тиражу. У
            вересні “Портрет митця замолоду” було повністю закінчено.
          </p>
          <p>
            У вересні вже 1915-го, після початку Першої світової війни та вступу
            Італії у війну, через британське громадянство
            <strong>Джойсу</strong> разом із сім’єю доводиться
            <u>залишити австрійський Трієст і переїхати до Цюриха</u>, де він
            проживатиме до жовтня 1919-го року. Тим часом надворі все ще
            вересень, а <strong>Джойс</strong> завершує трьохактну п’єсу в дусі
            <strong>Ібсена</strong> “Вигнанці”. Її буде вперше поставлено на
            сцені в Мюнхені у 1915-ому і видано друком у травні 1918-го року.
          </p>
          <p>
            Вже наприкінці 1916-го, а конкретніше 29-го грудня, завдяки
            підтримці <strong>Гаррієт Шоу Уівер</strong>, редакторки журналу The
            Egoist,
            <u>“Портрет митця замолоду” виходить окремим виданням у США</u>.
            Через півтора місяці, 13 лютого 1917-го роман буде видано у Великій
            Британії (Egoist Press).
          </p>
          <p>
            У березні 1918-го “Улісс” починає публікуватися в американському
            журналі Little Review, що продовжуватиметься до серпня 1920-го -
            через скарги на непристойність <u>проти роману подадуть позов</u>.
            До заборони книги у США (1921) у Little Review встигне надрукуватися
            14 епізодів.
          </p>
          <p>
            8-го липня 1920-го <strong>Джойс</strong> вирушає у тижневу подорож
            із <strong>Езрою Паундом</strong> до Парижа. Йому настільки
            подобається місто, що незабаром <u>він з сім'єю переїжджає туди</u>.
            У Парижі вони проживають до початку Другої світової війни, яка
            змусить <strong>Джойса</strong> знову шукати притулок у Цюриху.
            11-го липня 1920-го письменник знайомиться з
            <strong>Сільвією Біч</strong>, власницею книжкового магазину
            “Шекспір і компанія”.
          </p>
          <p>
            Наприкінці жовтня 1921-го року
            <u><strong>Джойс</strong> завершує роботу над “Уліссом”</u>. Він
            заявляє, що роман розпочато 1 березня й завершено 30 жовтня, у день
            народження <strong>Езри Паунда</strong>. Автор оцінює час роботи над
            книгою у 20 тисяч годин і зазначає, що залишив 12 кілограмів
            нереалізованих матеріалів.
          </p>
          <p>
            У 1922-ому році
            <u
              ><strong>Сільвія Біч</strong> здійснює перше книжкове видання
              “Улісса”</u
            >
            в Парижі. Перші примірники надруковано спеціально до дня народження
            <strong>Джойса</strong> — 2-го лютого. Тим не менш, “Улісса” швидко
            заборонили у Великій Британії, і заборона діятиме аж до 1936-го
            року, а також не забуваємо про вищезгадану заборону в США, що
            діятиме до 1933-го.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Пізні роки</h2>
        <div class="book-description">
          <p>
            У 1923-ому році
            <u><strong>Джойс</strong> розпочинає роботу над новим твором</u>. У
            листі до <strong>Гаррієт Шоу Уівер</strong> він пише:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Я думаю, що напишу історію світу.</p>
            </blockquote>
          </div>
          <p>
            Так починається робота над його останнім і найекстравагантнішим
            твором, який він називає “Річ у роботі”. Цей твір буде видано у
            1939-ому році під назвою “Поминки за Фіннеганом”.
          </p>
          <p>
            З 13-го березня 1927-го уривки з “Речі в роботі” публікуються в
            журналі Transition (до 1938-го року). У липні того ж року “Шекспір і
            компанія” видає збірку з 13 віршів під назвою “Яблука за пенні
            штука”.
          </p>
          <p>
            4-го липня 1931-го року
            <u
              ><strong>Джеймс Джойс</strong> і
              <strong>Нора Барнакл</strong> офіційно реєструють шлюб</u
            >
            у Лондоні. 29-го грудня того ж року
            <u>помирає <strong>Джон Джойс</strong></u
            >, батько письменника.
          </p>
          <img
            src="assets/images/JoyceFamily-photo.png"
            alt="Фото Джойс Сім'я"
            class="book-cover-left"
            pTooltip="На фото: Джеймс Джойс (зліва, стоїть), Джорджіо Джойс (зліва, сидить), Стівен Джойс (посередині), Нора Джойс (справа, стоїть), Ільма Джойс (справа, сидить)"
            tooltipPosition="top"
          />
          <p>
            15-го лютого 1932-го року
            <u>у <strong>Джойса</strong> народжується онук</u>.
            <strong>Джорджіо</strong> й <strong>Ільма</strong> (його дружина)
            називають свого сина <strong>Стівеном</strong>. Через 4 дні Джойс
            пише вірш “Ecce Puer”, який увійде до збірки Collected Poems,
            виданої у 1936-ому році.
          </p>
          <p>
            У травні 1932-го
            <u>у <strong>Лючії Джойс</strong> діагностують шизофренію</u>. Через
            агресивну поведінку її рекомендують помістити в клініку. Розвиток
            хвороби міг бути спричинений невзаємною закоханністю у іншого
            знаменитого ірландця, що жив у Парижі і допомагав
            <strong>Джойсу</strong> у якості секретаря -
            <strong>Семюела Бекета</strong>. Лючія проводить останні 47 років
            життя в психіатричному закладі й помирає 12-го серпня 1982-го
            року<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="26-го липня 1998-го року (в день народження Лючії) в Ірландії було введено спеціальний “День Лючії”, ціллю якого є звернення уваги громадян на шизофренію та підвищити їх обізнаність у цьому питанні."
              tooltipPosition="bottom"
              ><u>[4]</u></sup
            >.
          </p>
          <p>
            6-го грудня 1933-го року американський суддя
            <strong>Джон Вулсі</strong> постановляє, що
            <u>“Улісс” не є порнографічним і може бути виданий у США</u>, а тому
            вже у січні 1934-го “Улісс” вперше виходить окремою книгою у
            Нью-Йорку, виданою Random House. 1936-ий рік подарував перше
            книжковий видання Улісса вже Великій Британії.
          </p>
          <p>
            13-го листопада 1938-го
            <u
              ><strong>Джойс</strong> завершує роботу над “Поминками за
              Фіннеганом”</u
            >, а вже 2-го лютого 1939-го роман буде опубліковано у Лондоні та
            Нью-Йорку. 8-го травня того ж року Джойс з’являється на обкладинці
            американського журналу Time.
          </p>
          <p>
            1-го вересня 1939-го починається Друга світова війна, а вже 14-го
            грудня 1940-го <strong>Джойс</strong> разом із
            <strong>Норою</strong> тікає з Франції; через три дні вони
            прибувають до Цюриха.
          </p>
          <p>
            9-го січня 1941-го <strong>Джойса</strong> буде госпіталізовано із
            шлунковими болями - через два дні лікар діагностує у нього шлункову
            виразку. 12-го січня <strong>Джойсові</strong> проведуть операцію,
            його післяопераційний стан оцінюватиметься як задовільний, однак
            <u>він раптово помре</u> о 2:15, 13-го січня. Його смерть було
            зареєстровано лікарні у лікарні Schwesternhaus von Rotenkreuz у
            Цюриху. На цей момент йому було майже 59.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
