<div class="wrap">
  <app-header [backgroundFile]="'episode-5-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-5-location.png"
            [tooltipStyleClass]="'location5'"
            alt="Локація5"
            class="book-cover-left"
            pTooltip="Аптека Sweny’s на Лінкольн-плейс, до якої заходив Блум у 5-ому епізоді, з 2009 не працює як аптека. З того часу нею займаються волонтери, що підтримують оригінальний вікторіанський стиль закладу. Зараз там зберігається величезна кількість творів Джойса (одного тільки “Улісса” налічується 48 перекладів), що можуть читати відвідувачі. Але найголовніше: там все ще можна купити лимонне мило!"
            tooltipPosition="top"
          />
          <p>
            Дія епізоду відбувається між десятою та одинадцятою годинами ранку,
            а наш дублінський Одіссей покидає острів німфи Каліпсо і
            відправляється у подорож вулицями міста. Джойс поки що не планує
            сильно ускладнювати нам життя, натомість планує розкрити особистість
            містера <strong>Блума</strong> більш детально.
          </p>
          <p>
            Тому, нам не залишається більше нічого, окрім як спостерігати -
            розпочнімо ж читати !
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <img
            src="assets/images/HenryFlower-photo.png"
            alt="Фото Генрі Флауер"
            class="book-cover"
            pTooltip="На фото: поштова картка Леопольда Блума"
            tooltipPosition="top"
          />
          <p>
            Протягом всього епізоду <strong>Блум</strong> прогулюється Дубліном,
            займаючись своїми незначними справами перед похоронами
            <strong>Патріка Дігнема</strong>, на яких він повинен бути об 11:00.
          </p>
          <p>
            Тож, першим ділом головний герой прямує на пошту<sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Поштового відділення на Вестленд-Роу, до якого завітав у “Лотофагах” Блум, більше не існує, замість нього там встановлено вокзал Dublin’s Pearse."
              tooltipPosition="bottom"
              ><u>[1]</u></sup
            >
            - перевірити, чи не прийшла йому відповідь від деякої
            <strong>Марті</strong> (а вона пришла), з якою він веде
            <u>листування романтичного характеру</u>. У відділенні він
            пред’являє свою поштову картку із псевдонімом <em>“Генрі Квіт”</em>,
            наявність якої він до речі перевіряв перед виходом з дому в 4-ому
            епізоді:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Він швиденько позирнув за шкіряну бинду. Білий папірець.
                Схований безпечно.
              </p>
            </blockquote>
          </div>
          <p>
            Взявши листа, він покидає будівлю і норовить якомога швидше його
            прочитати, проте йому заважає це зробити докучливий знайомець
            <strong>МакКой</strong>, що просить вставити своє прізвище у список
            присутніх на похоронах. Здихавшись його,
            <strong>Блум</strong> врешті ознайомлюється з вмістом листа, після
            чого з цікавості заходить до церкви<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Церква Святого Андрія (яку Джойс в “Уліссі” назвав “церквою Всіх Святих”), до якої заходив Леопольд Блум у 5-ому епізоді, так і залишилася стояти там, де й була 16 червня 1904 року."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >, де спостерігає за обрядом євхаристії; потім йде до аптеки, щоб
            <u>купити лимонне мило та лосьйон</u> для шкіри (його він планує
            забрати пізніше), і, наостанок, відвідує лазню<sup
              [tooltipStyleClass]="'custom-tooltip-left'"
              pTooltip="Зараз на цьому місці вже нема тієх лазні, до якої заходив Леопольд Блум, натомість є школа іспанської мови “Instituto Cervantes”."
              tooltipPosition="bottom"
              ><u>[3]</u></sup
            >.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            Нових важливих персонажів у “Лотофагах” не спостерігається, однак
            про <strong>Блума</strong> нам стає відомо трішки більше подробиць.
          </p>
          <p>
            По-перше, тут підкреслюється його
            <u>цікавість до навколишнього світу</u>. В 4-ому епізоді це вже
            ілюструвалося сценою, де головний герой думає про свою кішку:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                А їх називають дурними. Вони краще розуміють нашу мову, аніж ми
                їхню. Вона розуміє все, що їй треба. До того ж і мстива. Цікаво,
                який я їй здаюся. Заввишки з вежу? Ні, вона може на мене
                стрибнути.
              </p>
            </blockquote>
          </div>
          <p>
            В 5-ому ж цей мотив отримує продовження - виявляється,
            <strong>Блум</strong> цікавиться ще й наукою, хай і поверхнево. Це
            стає найбільш наочним, коли він починає думати про Мертве море:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Хоч би й хотів, не потонеш: така насичена сіллю. Тому що вага
                води, ні, вага тіла у воді дорівнює вазі… Чи то обсяг дорівнює
                вазі? Тут існує якийсь закон.
              </p>
            </blockquote>
          </div>
          <p>
            По-друге, ще однією визначною рисою <strong>Блума</strong> є
            <u>небайдужість до оточуючих</u>: 
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Біля котеджів Брейді стояв хлопець-сміттяр з відром напоготові й
                курив жований недопалок. Меншенька дівчинка із слідами екземи на
                лобі витріщалася на нього, байдуже притуливши до себе
                викривлений обруч. Сказати йому: не кури, а то не виростеш.
              </p>
            </blockquote>
          </div>
          <p>Однак, що характерно, він все ж вибирає <u>не втручатися</u>:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Та нехай собі! Живеться йому аж ніяк не солодко! Чекати біля
                шинку, щоб забрати татуся додому. Ну ходімо вже, тату, там мама
                жде.
              </p>
            </blockquote>
          </div>
          <p>
            Такий підхід притаманний і іншим сферам його життя, наприклад
            відносинам з жінками. Після читання “Лотофагів” може здатися, що
            <strong>Блум</strong> теж невірний своїй дружині: мало того, що він
            просто задивляється на якихось підозрілих жіночок на вулиці, він ще
            й листується з однією з них! Проте, прочитавши її відповідь, де вона
            пропонує йому зустрітись, він думає:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Можна було б зустрітися якось у неділю після служби. Дякую, не
                маю такого бажання.
              </p>
            </blockquote>
          </div>
          <p>
            Тут теж діє цей принцип “невтручання”. Він не підпустить
            <strong>Марті</strong> до себе ближче, ніж зараз; спілкування з нею
            - <u>спосіб емоційної розради</u> для <strong>Блума</strong> з
            огляду на напружену ситуацію вдома, але по-справжньому кохає він
            тільки <strong>Моллі</strong>.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/Lotus-photo.png"
            alt="Фото Лотос"
            class="book-cover-left"
            pTooltip="На фото: квіти лотосу"
            tooltipPosition="top"
          />
          <p>
            Тут <span style="color: #f138ad">“Улісс”</span> відмовляється від
            хронології подій <span style="color: #e6742d">“Одіссеї”</span>, і
            починає звертатись до них у довільному порядку. У Гомера головний
            герой на цьому етапі потрапляє на берег
            <span style="color: #e6742d">острова феаків</span>, в той час як у
            Джойса - на берег
            <span style="color: #f138ad">острова лотофагів</span>. Його місцеві
            жителі постійно поїдають квіти лотоса, що при вживанні дарують стан
            блаженної насолоди, порівняний з ефектом від алкоголю або
            наркотиків.
          </p>
          <p>
            Що ж до “Улісса”, то в ньому автор втілює загальнолюдське
            <u>бажання заглушити власний біль</u> через образ квітки лотоса.
          </p>
          <p>
            Він наводить різні приклади сучасних “лотофагів”: курці та п’яниці,
            що тікають від реальності за допомогою сигарет та портеру; віряни та
            військові, особистості яких розчинилися у колективному несвідомому;
            люди, що готові програти останні гроші на ставках… В кінці кінців
            сам <strong>Блум</strong>, бо листування з
            <strong>Марті</strong> для цього - теж спосіб забутися.
          </p>
          <p>
            Але є <u>суттєва відмінність</u> між творами Гомера та Джойса: у
            першого, хоч екіпаж Одіссея і піддався спокусі, він сам - ні, а тому
            <span style="color: #e6742d">зміг витягти їх звідти</span>; у
            другого ж <strong>Блум</strong> - і сам лотофаг, він
            <span style="color: #f138ad"
              >не в силах вплинути на поведінку інших</span
            >. Таким чином підкреслюється контраст: Одіссей -
            <span style="color: #e6742d">справжній герой</span>,
            <strong>Блум</strong> -
            <span style="color: #f138ad">звичайна людина</span>.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <img
            src="assets/images/StephenMulligan2-photo.png"
            alt="Фото Лотос"
            class="book-cover"
            pTooltip="На фото: Стівен Дедал і Красень Мулліган"
            tooltipPosition="top"
          />
          <p>
            Основна тема епізоду - <u>людський ескапізм</u>. Вона розкривається
            в більшості через міфологічний підтекст, тому пропоную загострити
            вашу увагу на іншій - релігійній.
          </p>
          <p>
            Цікаво, як Джойс дає їй продовження через персону
            <strong>Блума</strong>. Пам’ятаєте, як <u>тема віри в Бога</u> була
            втілена у <strong>Стівені</strong> та <strong>Муллігані</strong>:
            перший - ненавидить його, другий - активно над ним іронізує. Для
            <strong>Блума</strong> ж Бога взагалі не існує, тому, зайшовши до
            церкви, він дозволяє собі думати про таке:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Шкода, що церква така порожня. Таке зручне місце, щоб стати
                поряд із гарненькою дівчиною.
              </p>
            </blockquote>
          </div>
          <p>Він дивиться на весь цей процес ніби збоку, зауважуючи:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Латина - це добра вигадка. Зразу їх заворожує. Хоспіс для
                умирущих. Здається, вони його не жують; просто ковтають. Химерна
                ідея: їсти кавалки трупа - ось чому в дикунів така пристрасть до
                людожерства.
              </p>
            </blockquote>
          </div>
          <p>
            Але насправді Джойс тут робить дещо більше, ніж просто демонструє
            <strong>Блумові</strong> погляди - він дивиться в корінь релігійного
            феномену, <u>розбираючи його на першоелементи</u>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                За цим ховається велика ідея: ти відчуваєш, що в тебе вселилося
                Царство Боже. Той, хто вперше отримав причастя. За пенні
                льодяників жменю. Після цього почуваються членами однієї сім’ї,
                що вони на одній ниві, що в усьому вони заодно. Авжеж. Я цього
                певен. Вже не такі самотні. Створили співдружність. Тоді виникає
                гарячкове бажання діяти. Скинути зайву енергію. Якщо ти віриш
                по-справжньому, то так воно і є.
              </p>
            </blockquote>
          </div>
          <p>
            І таку махінацію письменник пророблює з усім, що попадає в сферу
            його інтересів - це ми ще не раз в “Уліссі” побачимо.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            В цьому епізоді Джойс в котрий раз нагадує, який він уважний та
            спостережливий. Тут вводиться декілька нових прийомів оформлення
            потоку свідомості <strong>Блума</strong>, що робить його ще більш
            реалістичним. І перший з таких заключається в тому, що його
            <u>думки часом обриваються</u>, при чому з різних причин:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Чутливі рослини. Водяні лілеї. Пелюстки такі ніжні, що.</p>
            </blockquote>
          </div>
          <p>
            Тут <strong>Блум</strong> не довів речення до кінця, бо, судячи зі
            всього, не зміг швидко підібрати відповідного порівняння. А ось тут
            хід його думок перервала репліка <strong>МакКоя</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                МакКой. Швидше його спекатися. Узявся тут на мою голову. Саме
                зараз, коли мені так.<br />
                — Привіт, Блуме. Куди це ви прямуєте?
              </p>
            </blockquote>
          </div>
          <p>
            Взагалі весь їх діалог сповнений цікавими стилістичними рішеннями.
            Зверніть увагу, чим більше <strong>МакКой</strong> говорить, тим
            більше
            <u>потік свідомості <strong>Блума</strong> витісняє його репліки</u>
            - головному героєві просто не цікаво його слухати. І не цікаво до
            тієї степені, що
            <span style="color: #009420">слова <strong>МакКоя</strong></span> в
            якийсь момент взагалі змішуються з
            <span style="color: #f138ad">його внутрішнім монологом</span>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                <span style="color: #009420">Дорен, Лайонс у Конвея.</span>
                <span style="color: #f138ad"
                  >Вона підняла до волосся руку в рукавичці. </span
                ><span style="color: #009420"
                  >А тут заходить Стрибунець. Напідпитку. </span
                >Відкинув назад голову і, вдивляючись удалину з-під приплющених
                повік, бачив, як вилискує на сонці жовтогаряча шкіра.
                <span style="color: #f138ad"
                  >Сьогодні видимість чудова. Може тому, що висока вологість.
                  Балакає про се й про те. Рука леді. З якого ж боку вона
                  сяде?</span
                >
              </p>
            </blockquote>
          </div>
          <p>Був ще в 5-ому епізоді такий фрагмент:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Тридцять два фути
                <span style="color: rgb(194, 138, 16)">за секунду</span>,
                <span style="color: rgb(194, 138, 16)">за секунду</span>. Закон
                падіння тіл: за секунду, за секунду [...] <br />
                <span style="color: rgb(194, 138, 16)">За секунду</span>,
                <span style="color: rgb(194, 138, 16)">за секунду</span>.
                <span style="color: rgb(194, 138, 16)">За секунду</span>, це
                означає - кожної секунди.
              </p>
            </blockquote>
          </div>
          <p>
            У свідомості <strong>Блума</strong> відлунням повторюється
            словосполучення
            <span style="color: rgb(194, 138, 16)">“за секунду”</span> так, ніби
            він трохи <u>“завис” на цій думці</u>, і не може перейти до
            наступної, до наступної, до наступної…
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
