<div class="wrap">
    <app-header [backgroundFile]="'episode-4-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
          <h1>Підготовка до читання</h1>
        <hr class="solid-line">
        <div class="book-description">
            <img
              src="/images/episode-4-location.png"
              alt="Локація4"
              class="book-cover-left"
              pTooltip="Дім на Еклз-стрит 7 було знесено через аварійний стан будівлі у 1967 році, однак шанувальники Джеймса Джойса і його дослідники домоглися збереження вхідних дверей та ключа від них, які потім були перенесені до Дублінського центру Джеймса Джойса."
              tooltipPosition="top"
            />
            <p>
                Ключовою діючою особою 4-го епізоду є, як не дивно, вже не Стівен… Саме зараз, в момент, коли ми тільки-но пристосувалися до його хитромудрих роздумів, Джойс повністю змінює обстановку, і тут не даючи читачеві розслабитися.
            </p>
            <p>
                Але заспокойтеся - таких тяжких випробувань, як в “Протеї”, на нашому шляху ще довго не зустрінеться. Натомість, розповідь у “Каліпсо” знов стане лінійною та логічною, а процес читання - значно легшим.
            </p>
            <p>
                За таких умов ми знайомимося з центральною, в усіх сенсах цього слова, фігурою роману - Леопольдом Блумом<sup><u>[1]</u></sup>. На даному етапі у нас вперше з'являється альтернатива Стівеновому потоку свідомості, тому раджу спробувати порівняти хід думок цих двох персонажів - до цього ми ще повернемося.
            </p>
            <p>
                Ну а поки що, “Улісс” запрошує вас на Еклз-стрит 7, годинник знов показує 8:00, а тим часом “містеру Леопольду Блумові…”
            </p>
        </div>
        <hr class="solid-line">
        </section>
        <section class="about-book">
            <div class="book-description">
              <h1>Аналіз епізодів</h1>
            <hr class="dashed-line"/>
            <h2>Сюжет</h2>
            <p>
                “… смакують нутрощі тварин і птахів.” Починається “Каліпсо” з того, що Блум готує сніданок для своєї дружини та кішки. Собі ж він вирішує приготувати свинячу нирку, для чого прямує до м’ясної лавки Длугача і купує її. 
            </p>
            <img
            src="/images/Kidney-photo.png"
            alt="Фото нирка"
            class="book-cover-left"
            pTooltip="На фото: свиняча нирка, яку готує Леопольд Блум"
            tooltipPosition="top"
            />
            <p>
                Коли Блум повертається додому, він підбирає три листи, доставлені поки його не було; з них увагу героя найбільше привертає той, що з підписом “Для місіс Меріон Блум” (не “Для місіс Леопольд Блум”, як прийнято було звертатись до заміжніх жінок). Піднявшись до Моллі<sup><u>[2]</u></sup> в кімнату, він обережно питає, від кого воно - виявляється, від її імпресаріо Блейзеса Бойлана, за її словами, він повинен сьогодні завітати<sup><u>[3]</u></sup>. 
            </p>
            <p>
                З цього Блум робить висновок, що його дружина ймовірно зрадить йому цього дня, після чого йде їсти і читає листа від своєї дочки Міллі - вчора в неї був день народження, перший не вдома. Вона дякує батькові за подарунок, а також згадує про деякого студента на ймення Беннон: “Передай йому що миленька Міллі шле йому найкращі побажання”, просить.
            </p>
            <p>
                Зауважмо, що це прізвище ми вже чули наприкінці 1-го епізоду:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Де твій брат, Малахію? З тобою?<br>
                    — Ні, він у Вестміті. У Беннонів.<br>
                    — І досі там? Беннон прислав мені листівку. Каже, познайомився з юнкою. Називає її фотодівчинка.
                  </p>
                </blockquote>
              </div>
              <p>
                Стає зрозумілим, що під “фотодівчинкою” малася на увазі саме Міллі Блум.
              </p>
              <p>
                Закінчується “Каліпсо” сценою у вбиральні, де головний герой справляє потребу, паралельно читаючи старий випуск газети “Тіт-бітс”. Там він ознайомлюються з оповіданням деякого Філіпа Б’юфоя, яке згодом використає у відомих гігієнічних цілях. Дослідники “Улісса” вказують, що, судячи з приведених автором цитат, Блум читав твір самого Джойса, написаний ще в підлітковому віці - нічогенька така самоіронія, еге ж?
              </p>
            </div>
          </section>
          <hr class="dashed-line" />
          <section class="about-book">
            <h2>Герої</h2>
            <div class="book-description">
              <p>
                У зв'язку з 4-им епізодом ми багато будемо говорити про контраст, конкретно тут: контраст характерів Стівена та Блума. Якщо перший постійно займається духовними пошуками, то другий - навпаки, затятий матеріаліст, котрий бачить спосіб (або його відсутність) заробити на кожному кроці:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Він підійшов до Леррі О’Руркової корчми. Із заґратованого льоху ледь пахнуло портером. Крізь розчинені двері бару долинає дух імбирового пива, чайного листя, кришеного печива. Проте корчма вигідна: якраз біля кінцевої зупинки. От корчма М’Олі в нікудишньому місці.
                  </p>
                </blockquote>
              </div>
              <img
              src="/images/BloomCooking-photo.png"
              alt="Фото Блум готує"
              class="book-cover"
              pTooltip="На фото: Леопольд Блум"
              tooltipPosition="top"
            />
            <p>
                Але, попри це, між ними є й цікаві переклички. По-перше, обидва сьогодні в траурі: Стівен - по матері, Блум - по Патрику Дігнему (на його похорон він сьогодні запрошений). По-друге, обидва залишаються без ключа: Стівен віддав його Мулліганові, а Блум - залишив у інших штанцях. Ну і по-третє, домівки обох “узурповані”: Мулліганом та Бойланом відповідно.
            </p>
            <p>
                Ці “загадкові співпадіння” наштовхують на думки про деякий зв'язок між цими двома, на перший погляд, фундаментально різними персонажами. Та в чому ж він полягає?..
            </p>
            <p>
                Залишмо це питання для майбутніх епізодів і перейдімо краще до Блума окремо - тут є, що ще відмітити. Взяти ось його відносини з дружиною - як ви вже зрозуміли, там не все так гладенько. 
            </p>
            <p>
                В першу чергу, це обумовлено ранньою смертю їх сина Руді (зараз йому могло б бути 11 років), яка стала травмою для обох батьків. Ця подія наклала свій відбиток на статеве життя пари, про що певною мірою свідчить сьогоднішня зрада Моллі. Що ж до Блума, то він реагує на інтрижку дружини складною палітрою емоцій: страх, відчай, при тому щира любов і бажання кращого для неї:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Легенький дрож поплинув уздовж хребта, дедалі дужчаючи. Буває, так. Попередити. Марно: нічого не вдію. Солодкі дівочі вуста. Теж буває. Він відчув, як жаль заповнює його вщерть. Марно тепер рушати. Вуста ціловані, цілуючи ціловані. Повні клейкі жіночі вуста.
                  </p>
                </blockquote>
              </div>
              <p>
                Однак попри всі Блумові переживання, у реальні дії вони не виливаються - по суті це пасивна згода. В такій його поведінці прослідковується деяка невпевненість у собі, а також, у тій чи іншій мірі, психологічний мазохізм. Більш наочно остання риса головного героя проявляється у ситуації з тією жіночкою біля м'ясної лавки:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Образа від зневаги трохи його потішила.
                  </p>
                </blockquote>
              </div>
              <p>
                Що ж стосовно Моллі, то про неї наразі відомо небагато: дочка генерала-майора Брайєна Твіді, родом з Гібралтару, співачка; судячи з поведінки - не дуже освічена, вульгарна. Поки це все, але до неї ми ще дійдемо - у 18 епізоді.
              </p>
          </div>
          </section>
          <hr class="dashed-line" />
          <section class="about-book">
            <h2>Міфологічний підтекст</h2>
            <div class="book-description">
            <img
              src="/images/OdysseusCalipso-photo.png"
              alt="Фото Одіссей Каліпсо"
              class="book-cover-left"
              pTooltip="На фото: Одіссей і Каліпсо"
              tooltipPosition="top"
            />
              <p>
                На відповідному етапі гомерівської поеми нам вперше показують Одіссея, якого до цього моменту вже 7 років тримає у любовному полоні закохана в нього німфа Каліпсо. Як можна здогадатися, його роль в “Уліссі” відіграє саме Леопольд Блум. 
              </p>
              <p>
                Дане рішення деякий іронічний підтекст, рівно як і здійснює переоцінку цінностей… Словом, на лице контраст: якщо у “давньогрецького сліпця” очевидний акцент на загальні, колективні цінності та проблеми, то у “ірландського сліпця”  - на індивідуальні. Сам Джойс писав братові: “Гнатися за героїкою - мерзенна вульгарність. Я абсолютно впевнений, що вся структура героїзму - це брехня, і ніщо не може замінити індивідуальну пристрасть у якості рушійної сили чого завгодно”.
              </p>
              <p>
                Ситуація з Гомеровими відповідностями Моллі складніша. З однієї сторони, вона є дружиною Блума-Одіссея, тобто Пенелопою; з іншої ж, вона є і німфою Каліпсо, бо, можна сказати, тримає чоловіка “в психологічному полоні” - згадайте, він сьогодні (а, судячи з усього, не тільки сьогодні) готував їй сніданок, що традиційно було жіночою справою в ті часи.
              </p>
            </div>
          </section>
          <hr class="dashed-line" />
          <section class="about-book">
            <h2>Проблематика</h2>
            <div class="book-description">
              <img
              src="/images/BloomMolly-photo.png"
              alt="Фото Блум Моллі"
              class="book-cover"
              pTooltip="На фото: Блум і Моллі"
              tooltipPosition="top"
            />
              <p>
                Пам’ятаєте теми, що підіймалися минулими епізодами: релігія, історія, філософія… І тим контрастніше сприймаються досить повсякденні проблеми Блума: взаємовідносини з дружиною, батьківство тощо. 
              </p>
              <p>
                Розібратись у тому, як вони проявляються у “Каліпсо”, думаю, ви зможете й самі - це не така складна задача. Звернути ж вашу увагу я хочу на дещо інше, а саме на сцену, де Моллі питає Блума про значення слова “метемпсихоз”. А той і пояснює:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Дехто вірить, — сказав він, — що ми житимемо в іншому тілі по смерті того, в якому ми жили досі. Вони називають це перевтіленням. Що всі ми жили колись на землі тисячі років тому або на якійсь іншій планеті. Вони кажуть, що ми це забули. Дехто каже, що пам’ятає своє минуле існування.
                  </p>
                </blockquote>
              </div>
              <p>
                Як бачите, циклічна модель історії добралася і до цього епізоду… Але, що ж до метемпсихозу окремо, то про нього ми ще встигнемо вдосталь поговорити в контексті 9-го епізоду, поки що ж просто запам'ятаймо це поняття.
              </p>
            </div>
          </section>
          <hr class="dashed-line" />
          <section class="about-book">
            <h2>Стиль</h2>
            <div class="book-description">
              <img
              src="/images/BloomSitting-photo.png"
              alt="Фото Блум Сидить"
              class="book-cover-left"
              pTooltip="На фото: Леопольд Блум в екранізації 2003 року"
              tooltipPosition="top"
            />
              <p>
                Джойсові властиво обрати стиль, яким він активно буде користуватися, після чого довести його буквально до абсурду і одразу ж перейти до нового. Так і вийшло з першими трьома епізодами: поступово збільшуючи концентрацію Стівенових думок у тексті, вже у “Протеї” письменник заполонив ними майже все, і, зрозумівши, що в цій парадигмі розвиватися більше нікуди, змінив її.
              </p>
              <p>
                І ось “неодмінна модальність видимого” стосується вже не Стівена, а Блума, і світ перетворюється з високодуховного та ідеалістичного на приземлений та буденний. Це відображається і у манері мислення персонажів. Нагадаємо, як думає Стівен:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Байки, задумані дочками пам’яті. А проте якось і не схоже, щоб їх створила пам’ять. Тоді ця фраза, котру сказано зопалу, це лопотіння Блейкових крил надміру.
                  </p>
                </blockquote>
              </div>
              <p>
                Художньо, поетично, розгалуджено. Тим більше відчутний контраст з простим та практичним внутрішнім монологом Блума:
              </p>
              <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Ще одну скибку з маслом; три, чотири: досить. Вона не любила, щоб тарілка з верхом. Досить.
                  </p>
                </blockquote>
              </div>
              <p>
                В такому контексті, тілесному та матеріалістичному, похід головного героя до туалету у кінці епізоду вже не здається провокацією заради провокації - він лише підкреслює новий вектор розвитку роману.
              </p>
            </div>
          </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>
