<div class="wrap">
  <app-header [backgroundFile]="'episode-4-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-4-location.png"
            [tooltipStyleClass]="'location4'"
            alt="Локація4"
            class="book-cover-left"
            pTooltip="Дім на Еклз-стрит 7 було знесено через аварійний стан будівлі у 1967 році, однак шанувальники Джеймса Джойса і його дослідники домоглися збереження вхідних дверей та ключа від них, які потім були перенесені до Дублінського центру Джеймса Джойса."
            tooltipPosition="top"
          />
          <p>
            Ключовою діючою особою 4-го епізоду є, як не дивно, вже не
            <strong>Стівен</strong>... Саме зараз, в момент, коли ми тільки-но
            пристосувалися до його хитромудрих роздумів, Джойс повністю змінює
            обстановку, і тут не даючи читачеві розслабитися.
          </p>
          <p>
            Але заспокойтеся - таких тяжких випробувань, як в “Протеї”, на
            нашому шляху ще довго не зустрінеться. Натомість, розповідь у
            “Каліпсо” знов стане лінійною та логічною, а процес читання - значно
            легшим.
          </p>
          <p>
            За таких умов ми знайомимося з центральною, в усіх сенсах цього
            слова, фігурою роману - <strong>Леопольдом Блумом</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="У Леопольда Блума є декілька реальних прототипів. По-перше, це дублінський єврей Альфред Хантер, якому, судячи з пліток, зраджувала дружина. По-друге характер головного героя “Улісса” нагадує сильно трієстського друга Джойса - Етторе Шміца (письменник, що писав під псевдонімом “Італо Звево”). Ну і по-третє, в образ “Одіссея 20-го сторіччя” автор вклав не мало власних рис, як казав Річард Еллман: “Стівен - юний Джойс, Блум - Джойс зрілий”."
              tooltipPosition="bottom"
              ><u>[1]</u></sup
            >. На даному етапі у нас вперше з'являється альтернатива
            <strong>Стівеновому</strong> потоку свідомості, тому раджу
            спробувати порівняти хід думок цих двох персонажів - до цього ми ще
            повернемося.
          </p>
          <p>
            Ну а поки що, “Улісс” запрошує вас на Еклз-стрит 7, годинник знов
            показує 8:00, а тим часом <em>“містеру Леопольду Блумові…”</em>
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <p>
            <em>“… смакують нутрощі тварин і птахів.”</em> Починається “Каліпсо”
            з того, що <strong>Блум</strong> готує сніданок для своєї дружини та
            кішки. Собі ж він вирішує приготувати свинячу нирку, для чого прямує
            до м’ясної лавки <strong>Длугача</strong> і купує її. 
          </p>
          <img
            src="assets/images/Kidney-photo.png"
            alt="Фото нирка"
            class="book-cover-left"
            pTooltip="На фото: свиняча нирка, яку готує Леопольд Блум"
            tooltipPosition="top"
          />
          <p>
            Коли <strong>Блум</strong> повертається додому, він підбирає три
            листи, доставлені поки його не було; з них увагу героя найбільше
            привертає той, що з підписом <em>“Для місіс Меріон Блум”</em> (не
            <em>“Для місіс Леопольд Блум”</em>, як прийнято було звертатись до
            заміжніх жінок). Піднявшись до <strong>Моллі</strong>
            <sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Створюючи Моллі Блум, автор надихався переважно своєю дружиною - Норою Барнакл. Єдине що, вона, навідміну від героїні роману, своєму чоловікові не зраджувала."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >
            в кімнату, він обережно питає, від кого воно - виявляється, від її
            імпресаріо <strong>Блейзеса Бойлана</strong>, за її словами, він
            повинен сьогодні завітати<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="В українському перекладі вона сказала не це: “— Від Бойлана, — мовила вона. — Він прислав програму”. З цієї репліки неможливо зрозуміти, що Бойлан взагалі прийде, бо навіщо ж йому, коли програма вже надіслана. В оригіналі ж фраза звучить у майбутньому часі (тобто “він принесе програму”): “—O, Boylan, she said. He's bringing the programme”."
              tooltipPosition="bottom"
              ><u>[3]</u></sup
            >. 
          </p>
          <p>
            З цього <strong>Блум</strong> робить висновок, що його дружина
            ймовірно <u>зрадить йому цього дня</u>, після чого йде їсти і читає
            листа від своєї дочки <strong>Міллі</strong> - вчора в неї був день
            народження, перший не вдома. Вона дякує батькові за подарунок, а
            також згадує про деякого студента на ймення <strong>Беннон</strong>:
            <em>“Передай йому що миленька Міллі шле йому найкращі побажання”</em
            >, просить.
          </p>
          <p>Зауважмо, що це прізвище ми вже чули наприкінці 1-го епізоду:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Де твій брат, Малахію? З тобою?<br />
                — Ні, він у Вестміті. У Беннонів.<br />
                — І досі там? Беннон прислав мені листівку. Каже, познайомився з
                юнкою. Називає її фотодівчинка.
              </p>
            </blockquote>
          </div>
          <p>
            Стає зрозумілим, що під <em>“фотодівчинкою”</em> малася на увазі
            саме <strong>Міллі Блум</strong>.
          </p>
          <p>
            Закінчується “Каліпсо” сценою у вбиральні, де головний герой
            справляє потребу, паралельно читаючи старий випуск газети
            “Тіт-бітс”. Там він ознайомлюються з оповіданням деякого
            <strong>Філіпа Б’юфоя</strong>, яке згодом використає у відомих
            гігієнічних цілях. Дослідники “Улісса” вказують, що, судячи з
            приведених автором цитат, <strong>Блум</strong> читав твір самого
            Джойса, написаний ще в підлітковому віці - нічогенька така
            самоіронія, еге ж?
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            У зв'язку з 4-им епізодом ми багато будемо говорити про контраст,
            конкретно тут:
            <u
              >контраст характерів
              <span style="color: #3e7ad4"><strong>Стівена</strong></span> та
              <span style="color: #e735a6"><strong>Блума</strong></span></u
            >. Якщо перший постійно займається
            <span style="color: #3e7ad4">духовними пошуками</span>, то другий -
            навпаки, <span style="color: #e735a6">затятий матеріаліст</span>,
            котрий бачить спосіб (або його відсутність) заробити на кожному
            кроці:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Він підійшов до Леррі О’Руркової корчми. Із заґратованого льоху
                ледь пахнуло портером. Крізь розчинені двері бару долинає дух
                імбирового пива, чайного листя, кришеного печива. Проте корчма
                вигідна: якраз біля кінцевої зупинки. От корчма М’Олі в
                нікудишньому місці.
              </p>
            </blockquote>
          </div>
          <img
            src="assets/images/BloomCooking-photo.png"
            alt="Фото Блум готує"
            class="book-cover"
            pTooltip="На фото: Леопольд Блум"
            tooltipPosition="top"
          />
          <p>
            Але, попри це, між ними є й <u>цікаві переклички</u>. По-перше,
            обидва сьогодні в траурі: <strong>Стівен</strong> - по матері,
            <strong>Блум</strong> - по <strong>Патрику Дігнему</strong> (на його
            похорон він сьогодні запрошений). По-друге, обидва залишаються без
            ключа: <strong>Стівен</strong> віддав його
            <strong>Мулліганові</strong>, а <strong>Блум</strong> - залишив у
            інших штанцях. Ну і по-третє, домівки обох “узурповані”:
            <strong>Мулліганом</strong> та <strong>Бойланом</strong> відповідно.
          </p>
          <p>
            Ці “загадкові співпадіння” наштовхують на думки про деякий зв'язок
            між цими двома, на перший погляд, фундаментально різними
            персонажами. Та в чому ж він полягає?..
          </p>
          <p>
            Залишмо це питання для майбутніх епізодів і перейдімо краще до
            <strong>Блума</strong> окремо - тут є, що ще відмітити. Взяти ось
            його <u>відносини з дружиною</u> - як ви вже зрозуміли, там не все
            так гладенько. 
          </p>
          <p>
            В першу чергу, це обумовлено ранньою смертю їх сина
            <strong>Руді</strong> (зараз йому могло б бути 11 років), яка стала
            травмою для обох батьків. Ця подія наклала свій відбиток на статеве
            життя пари, про що певною мірою свідчить сьогоднішня зрада
            <strong>Моллі</strong>. Що ж до <strong>Блума</strong>, то він
            реагує на інтрижку дружини складною палітрою емоцій: страх, відчай,
            при тому щира любов і бажання кращого для неї:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Легенький дрож поплинув уздовж хребта, дедалі дужчаючи. Буває,
                так. Попередити. Марно: нічого не вдію. Солодкі дівочі вуста.
                Теж буває. Він відчув, як жаль заповнює його вщерть. Марно тепер
                рушати. Вуста ціловані, цілуючи ціловані. Повні клейкі жіночі
                вуста.
              </p>
            </blockquote>
          </div>
          <p>
            Однак попри всі <strong>Блумові</strong> переживання, у реальні дії
            вони не виливаються - по суті це пасивна згода. В такій його
            поведінці прослідковується деяка <u>невпевненість у собі</u>, а
            також, у тій чи іншій мірі, <u>психологічний мазохізм</u>. Більш
            наочно остання риса головного героя проявляється у ситуації з тією
            жіночкою біля м'ясної лавки:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>Образа від зневаги трохи його потішила.</p>
            </blockquote>
          </div>
          <p>
            Що ж стосовно <strong>Моллі</strong>, то про неї наразі відомо
            небагато: дочка генерала-майора Брайєна Твіді, родом з Гібралтару,
            співачка; судячи з поведінки - не дуже освічена, <u>вульгарна</u>.
            Поки це все, але до неї ми ще дійдемо - у 18 епізоді.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/OdysseusCalipso-photo.png"
            alt="Фото Одіссей Каліпсо"
            class="book-cover-left"
            pTooltip="На фото: Одіссей і Каліпсо"
            tooltipPosition="top"
          />
          <p>
            На відповідному етапі гомерівської поеми нам вперше показують
            <span style="color: #e735a6">Одіссея</span>, якого до цього моменту
            вже 7 років тримає у любовному полоні закохана в нього німфа
            Каліпсо. Як можна здогадатися, його роль в “Уліссі” відіграє саме
            <span style="color: #e735a6"><strong>Леопольд Блум</strong></span
            >. 
          </p>
          <p>
            Дане рішення деякий іронічний підтекст, рівно як і здійснює
            переоцінку цінностей… Словом, <u>на лице контраст</u>: якщо у
            “давньогрецького сліпця” очевидний акцент на загальні, колективні
            цінності та проблеми, то у “ірландського сліпця”<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Протягом життя у Джеймса Джойса були сильні проблеми з зором. Під кінець життя письменник майже повністю осліп, а його останній роман писав під диктовку його “єдиний законний спадкоємець”, як звав його Сергій Хоружій, Семюел Бекет."
              tooltipPosition="bottom"
              ><u>[4]</u></sup
            >
            - на індивідуальні. Сам Джойс писав братові:
            <em
              >“Гнатися за героїкою - мерзенна вульгарність. Я абсолютно
              впевнений, що вся структура героїзму - це брехня, і ніщо не може
              замінити індивідуальну пристрасть у якості рушійної сили чого
              завгодно”</em
            >.
          </p>
          <p>
            Ситуація з Гомеровими відповідностями
            <span style="color: rgb(194, 138, 16)"><strong>Моллі</strong></span>
            складніша. З однієї сторони, вона є дружиною
            <span style="color: #e735a6"><strong>Блума-Одіссея</strong></span
            >, тобто <span style="color: rgb(194, 138, 16)">Пенелопою</span>; з
            іншої ж, вона є і німфою
            <span style="color: rgb(194, 138, 16)">Каліпсо</span>, бо, можна
            сказати, тримає чоловіка “в психологічному полоні” - згадайте, він
            сьогодні (а, судячи з усього, не тільки сьогодні) готував їй
            сніданок, що традиційно було жіночою справою в ті часи.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <img
            src="assets/images/BloomMolly-photo.png"
            alt="Фото Блум Моллі"
            class="book-cover"
            pTooltip="На фото: Блум і Моллі"
            tooltipPosition="top"
          />
          <p>
            Пам’ятаєте теми, що підіймалися минулими епізодами:
            <span style="color: #3e7ad4">релігія, історія, філософія</span>… І
            тим <u>контрастніше</u> сприймаються досить повсякденні проблеми
            <strong>Блума</strong>:
            <span style="color: #e735a6"
              >взаємовідносини з дружиною, батьківство тощо</span
            >. 
          </p>
          <p>
            Розібратись у тому, як вони проявляються у “Каліпсо”, думаю, ви
            зможете й самі - це не така складна задача. Звернути ж вашу увагу я
            хочу на дещо інше, а саме на сцену, де <strong>Моллі</strong> питає
            <strong>Блума</strong> про значення слова “метемпсихоз”. А той і
            пояснює:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                — Дехто вірить, — сказав він, — що ми житимемо в іншому тілі по
                смерті того, в якому ми жили досі. Вони називають це
                перевтіленням. Що всі ми жили колись на землі тисячі років тому
                або на якійсь іншій планеті. Вони кажуть, що ми це забули. Дехто
                каже, що пам’ятає своє минуле існування.
              </p>
            </blockquote>
          </div>
          <p>
            Як бачите, <u>циклічна модель</u> історії добралася і до цього
            епізоду… Але, що ж до метемпсихозу окремо, то про нього ми ще
            встигнемо вдосталь поговорити в контексті 9-го епізоду, поки що ж
            просто запам'ятаймо це поняття.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <img
            src="assets/images/BloomSitting-photo.png"
            alt="Фото Блум Сидить"
            class="book-cover-left"
            pTooltip="На фото: Леопольд Блум в екранізації 2003 року"
            tooltipPosition="top"
          />
          <p>
            Джойсові властиво обрати стиль, яким він активно буде користуватися,
            після чого довести його буквально до абсурду і одразу ж перейти до
            нового. Так і вийшло з першими трьома епізодами: поступово
            збільшуючи концентрацію <strong>Стівенових</strong> думок у тексті,
            вже у “Протеї” письменник заполонив ними майже все, і, зрозумівши,
            що в цій парадигмі розвиватися більше нікуди, змінив її.
          </p>
          <p>
            І ось <em>“неодмінна модальність видимого”</em> стосується вже не
            <span style="color: #3e7ad4"><strong>Стівена</strong></span
            >, а <span style="color: #e735a6"><strong>Блума</strong></span
            >, і світ перетворюється з
            <span style="color: #3e7ad4"
              >високодуховного та ідеалістичного</span
            >
            на <span style="color: #e735a6">приземлений та буденний</span>. Це
            відображається і у манері мислення персонажів. Нагадаємо, як думає
            <strong>Стівен</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Байки, задумані дочками пам’яті. А проте якось і не схоже, щоб
                їх створила пам’ять. Тоді ця фраза, котру сказано зопалу, це
                лопотіння Блейкових крил надміру.
              </p>
            </blockquote>
          </div>
          <p>
            <span style="color: #3e7ad4">Художньо, поетично, розгалуджено</span
            >. Тим більше відчутний <u>контраст</u> з
            <span style="color: #e735a6">простим та практичним</span> внутрішнім
            монологом <strong>Блума</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Ще одну скибку з маслом; три, чотири: досить. Вона не любила,
                щоб тарілка з верхом. Досить.
              </p>
            </blockquote>
          </div>
          <p>
            В такому контексті, тілесному та матеріалістичному, похід головного
            героя до туалету у кінці епізоду вже не здається провокацією заради
            провокації - він лише підкреслює новий вектор розвитку роману.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
