<div class="wrap">
    <app-header [backgroundFile]="'episode-7-header.png'"></app-header>
    <section class="page-container">
      <main class="content">
        <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line">
          <div class="book-description">
            <img
              src="/images/episode-7-location.png"
              alt="Локація7"
              class="book-cover-left"
              pTooltip="У 1924 році що “Фрімен”, що “Івнінг телеграф” вимушені були припинити своє існування з політичних причин. Саме тому на місці редакції цих журналів зараз розташована будівля головпоштамту Дубліна."
              tooltipPosition="top"
            />
            <p>
                З цим епізодом у багатьох виникають труднощі. Навіть Вірджинія Вульф у своєму щоденнику писала: “До кінця 6-ої глави я була вражена, причарована і зацікавлена, а після - спантеличена, розчарована і втомлена”. До неї у цьому питанні долучається і Володимир Набоков: "Глава представляється мені погано збалансованою, ви можете бігло її продивитись". 
            </p>
            <p>
                І дійсно, “Еол” часто відлякує читачів своєю хаотичністю, різнонаправленістю вітрів у його мішку. Але важливо розуміти, що цього Джойс і добивався, а тому раджу сприймати 7-ий епізод саме як навмисно створений безлад. Взагалі, ознайомлюючись з цією главою, можете спробувати прослідкувати, за допомогою яких досягається подібний ефект - це повинно помітно полегшити сприйняття тексту, додати до читання деякого “інтерактиву”.
            </p>
          </div>
          <hr class="solid-line">
        </section>
        <section class="about-book">
        <h1>Аналіз епізодів</h1>
          <hr class="dashed-line"/>
          <h2>Сенсація! Рекламний проєкт Блума зірвано!</h2>
            <div class="book-description">
                <p>
                    На початку епізоду Блум заходить до робочого цеху “Фріменс джорнел”, щоб домовитися про розміщення реклами свого клієнта Алессандро Ключчі у газеті. На пропозицію головного героя цехмейстр відповідає:
                </p>
                <div class="blockquote">
                    <em class="bi bi-quote"></em>
                    <blockquote>
                      <p>
                        — Це ми можемо, — повторив він. — Тільки хай він продовжить термін угоди на три місяці.
                      </p>
                    </blockquote>
                </div>
                <img
                  src="/images/NelsonColumn-photo.png"
                  alt="Фото Колонна Нельсона"
                  class="book-cover-left"
                  pTooltip="На фото: колона Нельсона"
                  tooltipPosition="top"
                />
                <p>
                    Після цих слів головний герой спускається сходами до редакції "Івнінг телеграф", паралельно перекладаючи лимонне мило (знову це мило…) з однієї кишені до іншої. 
                </p>
                <p>
                    Переговоривши там з редактором Майлсом Кроуфордом<sup><u>[1]</u></sup>, Блум покидає приміщення - йде забезпечувати виконання своїм клієнтом відповідних умов рекламного договору. За його відсутності до редакції заходить Стівен з листом від містера Дізі, після чого стає свідком газетярської розмови на різноманітні теми: політика, журналістика, мистецтво…
                </p>
                <p>
                    В кінці він пропонує присутнім піти випити, на що всі охоче погоджуються.
                </p>
                <p>
                    На шляху до шинку Стівен розповідає їм власну "Притчу про сливи": дві дублінські жіночки вирішують подивитися на місто з вершини колонни Нельсона; вони купляють деяку кількість їжі, зокрема слив, після чого йдуть підійматися; діставшись оглядового майданчика, обидві героїні раптом лякаються<sup><u>[2]</u></sup> - а раптом колонна впаде?.. Закінчується притча тим, що вони, від страху та втоми неспроможні дивитися ні вверх, ні вниз, починають їсти сливи, "випльовуючи кісточки між поручні".
                </p>
                <p>
                    Між тим Блум, вирішивши всі формальності з Алессандро Ключчі, знов прибіг до Майлса Кроуфорда затвердити домовленість, однак останній з невідомої причини послав його під три чорти. Що ж, не щастить головному героєві сьогодні з ключами…
                </p>
                <p>
                    Але звернути увагу я вас попрошу ось на що: Джойс помістив в один епізод і Блума, і Стівена, і його батька, при тому жоден з них не перетнув дороги іншому. В такому ж дусі драматургія роману буде тільки продовжуватися - насичення співпадіннями, які все ніяк не виправдають самі себе. Для чого? Побачимо.
                </p>
            </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Дублінське стовпотворіння</h2>
          <div class="book-description">
            <p>
                7-ий епізод просто переповнений різними персонажами: Майлс Кроуфорд, Саймон Дедал, Нед Лемберт, професор МакГ'ю, Дж. Дж. О'Моллой, О'Медден Берк, Ленеган… Але із всієї купи дійових осіб "Еола" виділяється, як не дивно, знову Леопольд Блум - він тут єдиний, хто взагалі працює. А найцікавіше те, що решта ледацюг ще й кепкує з нього:
            </p>
            <img
                  src="/images/EveningTelegraph-photo.png"
                  alt="Фото Івнінг телеграф"
                  class="book-cover"
                  pTooltip="На фото: редакція “Івнінг Телеграф”"
                  tooltipPosition="top"
                />
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Обидва посміялися, дивлячись з-над фіранок на хлопців-газетярів, які пританцьовували низкою за містером Блумом, а до цього останнього був прив’язаний паперовий змій, що зиґзаґами метлявся на вітрі з білими бантиками на хвості.<br>
                    — Ну й штукарі вони, ці пацани, — сказав Ленеган. — Подивишся й пузо порвеш од сміху. Підмітили, як він чалапає своїми плоскостопими клешнями.
                  </p>
                </blockquote>
            </div>
            <p>
                Це ще раз підкреслює певне аутсайдерство головного героя у дублінському суспільстві, яке ми могли спостерігати у попередньому розділі. В цьому контексті, найбільш показовою є сцена, де він чує відмову від Майлса Кроуфорда:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Перекажіть йому, що він може поцілувати мене в сраку, — відповів Майлс Кроуфорд, показавши рукою, куди саме. — Дослівно так і перекажіть.
                  </p>
                </blockquote>
            </div>
            <p>
                Іще одним прикладом зверхнього відношення оточуючих до Блума є те, що Гайнс не повертає головному йому позичені гроші:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Три шилінги я позичив йому в Мігера. Три тижні тому. І втретє натякаю.
                  </p>
                </blockquote>
            </div>
            <img
                  src="/images/StephenEditor-photo.png"
                  alt="Фото Стівен Кроуфорд"
                  class="book-cover-left"
                  pTooltip="На фото: Майлс Кроуфорд і Стівен Дедал"
                  tooltipPosition="top"
                />
            <p>
                Що ж до Стівена, який знов з'являється в "Еолі", то його "Притча про сливи", про можливі інтерпретації якої ми поговоримо трохи згодом, грає досить цікавими барвами в контексті його особистості - поведінка головних героїнь "Погляду на Палестину з гори Пісґи" підозріло співвідноситься зі станом душі молодого поета. Вважається мені, Стівен переносить власну розгубленість на "двох дублінських весталок", котра проявляється в них у вигляді страху перед ймовірним падінням колонни. Думаю, важко заперечувати, що тут є певний елемент психологізму.
            </p>
        </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Шок! Відкрилися подробиці подорожі Блума до Еоліди!</h2>
          <div class="book-description">
            <p>
                На цьому етапі гомерівської поеми Одіссей потрапляє на острів Еоліда. Там його охоче зустрічає Еол - напівбог, що управляє вітром. Вирішивши допомогти мандрівникові, він збирає у мішок всі вітри, що збивали би корабель Одіссея з курсу, а залишає тільки теплий попутний бриз. 
            </p>
            <img
                  src="/images/Eolus-photo.png"
                  alt="Фото Еол"
                  class="book-cover"
                  pTooltip="На фото: Еол"
                  tooltipPosition="top"
                />
            <p>
                Мішок цей Еол віддав Уліссові, а той, у свою чергу, за старою доброю традицією вирішив не сповіщати екіпаж про його вміст. Головний герой поеми вважав, що чим менше його команда знає, тим легше за потреби нагодувати нею Сціллу або циклопа Поліфема. 
            </p>
            <p>
                Зараз однак, такий підхід зіграв з ним злий жарт: плив він 9 днів, не знаючи відпочинку, паралельно з тим - охороняв торбу з вітрами; коли Ітака вже виднілася на горизонті, втомлений мандрівник не витримав - заснув; у свою чергу, його екіпаж вирішив, мовляв оскільки Одіссей так старанно охороняв цей мішок, напевно там сховані якісь скарби… Але скарбів там не знайшлося, знайшлися тільки вітри, що відкинули їх всіх на 9 днів назад - знов на острів до Еола.
            </p>
            <p>
                Проте вдруге допомагати напівбог не став, навпаки - він прогнав Одіссея з командою з острова, як і Майлс Кроуфорд прогнав Блума після їх повторної зустрічі. 
            </p>
            <p>
                Однак окрім сюжетних паралелей з гомерівським текстом є і стилістичні - епізод просто сповнений різними вітрами:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Завжди встановлюють одні двері навпроти інших, щоб протяг. Дув сюди. Дув туди [...] <br>
                    Так хотілося подихати свіжим повітрям! [...] <br>
                    Містер Блум, задиханий, закручений виром несамовитих хлопців-газетярів [...]
                  </p>
                </blockquote>
            </div>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Стівен відкрив прихований зміст своєї притчі</h2>
          <div class="book-description">
            <img
            src="/images/Pisgah-photo.png"
            alt="Фото Пісги"
            class="book-cover-left"
            pTooltip="На фото: гора Пісґи"
            tooltipPosition="top"
          />
            <p>
                Наскрізною темою епізоду є, звичайно ж, політична ситуація в Ірландії, на рахунок якої герої досить прямо транслюють свою позицію. Ось наприклад професор МакГ'ю недвозначно говорить про своє негативне відношення до імперських амбіцій:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    А от римлянин, як і англієць, що йшов слідом за ним, приносив на кожний новий берег, на який ступала його нога, (на наш берег вона ніколи не ступала) тільки одне: одержимість клоакою.
                  </p>
                </blockquote>
            </div>
            <p>
                З цієї ж точки зору прийнято інтерпретувати і Стівенів "Погляд на Палестину з гори Пісґи": дві героїні притчі таким чином символізують ірландців загалом, що, подібно до Мойсея, дивляться на свою Землю Обітовану - Ірландію, яка однак поки їм не належить. 
            </p>
            <p>
                Також, у цій притчі багато алюзій на збірку оповідань Джойса "Дублінці". Більш того, Стівен навіть подумки промовляє це слово перед тим, як розпочати розповідь:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Дублінці. <br>
                    — Дві дублінські весталки, — почав свою оповідь Стівен, — похилого віку й богомільні, прожили п’ятдесят і п’ятдесят три роки на Фамболлі-лейн.
                  </p>
                </blockquote>
            </div>
            <p>
                Зверніть також увагу, що піднявшись нагору, обидві жіночки ніби втрачають можливість рухатися, завмирають і тільки й роблять що їдять сливи. Таким чином, письменник вводить в епізод ще один провідний мотив збірки – "параліч, що помилково назвали містом"<sup><u>[3]</u></sup>.
            </p>
          </div>
        </section>
        <hr class="dashed-line" />
        <section class="about-book">
          <h2>Знов ця неодмінна модальність видимого...</h2>
          <div class="book-description">
            <p>
                Як ми вже казали у контексті 3-го та 4-го епізодів, в "Уліссі" не існує ніякої об'єктивної реальності - є тільки суб'єктивна точка зору. Однак, що цікаво, в її ролі може виступати не тільки перспектива якоїсь конкретної людини (Стівена, Блума), але й відповідний стиль розповіді – він для Джойса теж є певною "призмою сприйняття", що закономірно не відділяється від зображуваних з його допомогою подій.
            </p>
            <p>
                Так і виходить з "Еолом". Його оформлено у вигляді газетного репортажу, що досягається шляхом добору відповідних заголовків до кожної пари абзаців. У свою чергу, заголовки ці виконані у кращих традиціях "жовтої преси":
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    "З глибоким сумом повідомляємо про відхід у вічність превелебного громадянина Дубліна"; <br>
                    "Відомий церковний достойник виступає як дописувач"; <br>
                    "Діла пропащі. Згадка про шляхетного маркіза".
                  </p>
                </blockquote>
            </div>
            <p>
                Подібним рішенням Джойс унаочнює свій принцип "міметичного написання", за умов якого стиль опису повинен відповідати предмету опису - в даному випадку, ілюстрація робочої кухні при створенні випуску "Івнінг телеграф" оформлена… Як випуск "Івнінг телеграф". Такий підхід виражається ще й у тому, що зображуючи метушливу газетярську роботу, письменник намагається зробити текст таким же - безладним і різнобійним.
            </p>
            <p>
                Для цього він використовує наприклад постійні стуки-грюки друкарських машин:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Стукіт-грюкіт друкарських машин [...] <br>
                    Стук-грюк. Сьогодні зранку останки покійного містера Патрика Дігнема. Машини [...] <br>
                    Машини клацали за рахунком три-чотири. Лясь-лясь-брязь.
                  </p>
                </blockquote>
            </div>
            <p>
                Певна хаотичність також досягається аномальною кількістю дійових осіб, які, до того ж, постійно перебивають одне одного. Ось наприклад Ленеган намагається розповісти жарт:
            </p>
            <img
                  src="/images/StephenEditor2-photo.png"
                  alt="Фото Стівен Кроуфорд 2"
                  class="book-cover"
                  pTooltip="На фото: Майлс Кроуфорд і Стівен Дедал"
                  tooltipPosition="top"
                />
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Увага! Послухайте мою найновішу загадку [...] <br>
                    — Спочатку відгадайте мою загадку, — урвав його Ленеган. — Ви готові? [...] <br>
                    Ленеган гукнув до всіх: <br>
                    — Тихо! Яка опера твердить, що дуру настав кінець? Думайте, міркуйте, гадайте, і кажіть [...] <br>
                    Ленеган розтлумачив йому задоволено: <br>
                    — «Трубадур». Розумієте, в чому суть? Тут два слова: труба і дур. От як!
                  </p>
                </blockquote>
            </div>
            <p>
                Як бачите, йому знадобилося цілих 3 спроби, щоб хоча б просто озвучити свою загадку. Що й казати про Неда Лемберта, котрий вголос читав вчорашню промову Дена Доусона, або Стівена, котрий розповідав свою "Притчу про сливи" - чим їх тільки не переривали…
            </p>
            <p>
                Ну і останнім фрагментом мозаїки під назвою "Еол" є неймовірне різноманіття використаних риторичних прийомів - головних робочих інструментів у галузі журналістики. Для написання цього епізоду Джойс ніби навмисно поклав перед собою посібник з риторики і потурбувався про те, щоб жоден з зазначених там засобів не був пропущений. Ось наприклад зразок хіазму<sup><u>[4]</u></sup>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    Ломовики, взуті у грубі робочі черевики, викочували барила, що лунко при цьому бамкали, з підвалу на Принс-стрит і ставили їх на платформу хури броварні. На платформу хури броварні ставилися барила, які лунко бамкали, коли їх викочували ломовики, взуті в грубі робочі черевики, з підвалу на Принс-стрит.
                  </p>
                </blockquote>
            </div>
            <p>
                А тут можна зустріти епімону<sup><u>[5]</u></sup>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    На шиї жирні складки, жир, шия, жир, шия.
                  </p>
                </blockquote>
            </div>
            <p>
                І метатезу<sup><u>[6]</u></sup>:
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    менгіД киртаП
                  </p>
                </blockquote>
            </div>
            <p>
                Але найцікавіше відбувається вже під кінець епізоду, коли професор МакГ'ю називає одну з промов свого колеги Джона Ф. Тейлора зразком красномовства. Таким чином Джойс по суті відкрито показує нам внутрішню будову свого тексту - показує, як цей текст влаштований. Вишенькою на торті в цьому плані стає момент, коли його персонаж підмічає задіяний іншим риторичний прийом (що взагалі-то повинен був зробити читач):
            </p>
            <div class="blockquote">
                <em class="bi bi-quote"></em>
                <blockquote>
                  <p>
                    — Антитеза, — зауважив професор, кивнувши двічі.
                  </p>
                </blockquote>
            </div>
            <p>
                Це і є "доведенням певного стилю до абсурду", про яке я казав у контексті перших 3-х епізодів роману. Закономірно, форма газетного репортажу більше не буде фігурувати в "Уліссі" - письменник вичавив з неї все, що можна, при чому в межах одного епізоду. 
            </p>
          </div>
        </section>
      </main>
      <app-footer></app-footer>
    </section>
  </div>
  
