<footer class="footer">
  <div class="footer-header">
    <h4>Приєднуйтесь:</h4>
  </div>

  <div class="footer-content">
    <div class="footer-icons">
      <a href="https://t.me/bradobrey_musicreviews"><img src="icon\telegram.svg" alt="Telegram" /></a>
      <img src="icon\youtube.svg" alt="YouTube" />
    </div>
    <div class="footer-text">
      <span>
        Повне або часткове використання інформації тільки за наявності активного
        посилання на сайт © 
      </span>
    </div>
  </div>
</footer>
