<div class="wrap">
  <app-header [backgroundFile]="'home-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h2>Про роман</h2>
        <div class="book-description">
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              "Улісс" мені ніколи особливо не подобався, більша його частина
              наповнена прикладами того, як не треба писати роман -
              <strong>Олдос Гакслі</strong>.
            </p>
          </blockquote>
        </div>
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              Щось очевидно незв'язне та посереднє, організоване таким чином, що
              це дійсно стало мистецтвом - 
              <strong>Торнтон Вайлдер</strong>.
            </p>
          </blockquote>
        </div>
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              Це книга, що викликає у мене комплекс неповноцінності і заставляє
              відчувати себе у тілі євнуха, якого привели на заняття з
              постановки голосу -
              <strong>Джордж Орвелл</strong>.
            </p>
          </blockquote>
        </div>
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              Закінчила читати "Улісса" і думаю, що це постріл повз ціль.
              Талант, безумовно, відчувається, проте низької проби. Занадто
              багатослівно, гидко, претензійно. Невиховано, як в загально
              прийнятому сенсі, так і в літературному -
              <strong>Вірджинія Вульф</strong>.
            </p>
          </blockquote>
        </div>
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              Я вважаю цю книгу найзначнішим висловлюванням нашого покоління; Це
              твір, перед яким ми усі в боргу і від якого нікому не втекти -
              <strong>Томас Еліот</strong>.
            </p>
          </blockquote>
        </div>
          <img
            src="/images/ulysses.jpg"
            alt="Обкладинка книги Улісс"
            class="book-cover"
            pTooltip="На фото: перше видання “Улісса”"
            tooltipPosition="top"
          />
          <p>
            Так про "Улісса" відгукувалися деякі сучасники. Як бачимо, на момент
            публікації твір викликав полярні думки і
            <u>нікого не залишив байдужим</u> - маю надію, не залишить і нас з
            вами. Тоді це був справжній фурор... Але що ж його спричинило?
            Цитати, наведені вище, лише частково допомагають про це дізнатись: з
            них можемо зробити висновок, що "Улісс" є великим за обсягом, що
            його складно читати і розуміти, що він оперує багатьма стилями...
            Але все це в повній мірі не дає нам розуміння того, з чим ми
            зіштовхнемося, узявши книгу до рук.
          </p>
          <p>
            А зіштовхнемося ми з тріумфом форми над змістом, з
            <u>романом всіх романів</u>, що були до нього (і деяких, що були
            після), де мова - головний герой, де пародії та стилізації, іронія
            та пафос гармонійно сплітаються в один єдиний вузол - “до нього
            тягнуться всі пуповини, Кінчик говорить, з'єднайте з Райгородом…”
            Упс, щось я вже забігаю наперед - до 3-го епізоду. Але оскільки я
            вже дозволив собі подібне, давайте скористаємося ще й стилістикою
            17-го, щоб відповісти на декілька можливих запитань з вашого боку.
          </p>
          <p>І так, а в чому ж полягає складність "Улісса"?</p>
          <p>
            У <u>величезній кількості алюзій</u> на різні художні твори та
            історичні події, <u>купі другорядних персонажів</u>, у іменах яких з
            великою вірогідністю можна заплутатися. Також Джойс майже ніколи
            <u>не говорить напряму</u>, тому здогадуватися про зміст того чи
            іншого фрагменту тексту треба самому.
          </p>
          <p>
            Чи потрібно читати якусь додаткову літературу перед читанням роману?
          </p>
          <p>
            Якщо вам аж так кортить якось підготуватись до "Улісса", то, перш за
            все, раджу <u>ознайомитися з "Одіссеєю"</u>.
          </p>
        <div class="blockquote">
          <em class="bi bi-quote"></em>
          <blockquote>
            <p>
              Я взяв з Одіссеї загальну схему- "план" в архітектурному сенсі,
              або, точніше буде сказати спосіб, яким будується розповідь -
              <strong>Джеймс Джойс</strong>.
            </p>
          </blockquote>
        </div>
        <p>
          Він також нерідко опирався і на творчій спадок
          <strong>Вільяма Шекспіра</strong>, зокрема на його знамениту
          <u></u>трагедію "Гамлет", тому прочитати її точно не буде зайвим. Ну і
          <u></u>попередні твори <strong>Джойса</strong> забувати не варто
          (збірка оповідань "Дублінці", роман "Портрет художника в юності") -
          вони можуть стати для вас приємним доповненням до "Улісса", додати
          контексту...  Цей список можна продовжувати довго, бо чим тільки
          <strong>Джойс</strong> не надихався -
          <strong>Арістотель, Данте, Свіфт, Дефо, Єйтс, Флобер, Пруст</strong
          >... Але така "підготовка" вбачається мені надмірною - все ж, ми
          ставимо собі ціль прочитати "Улісса", а не написати його. Більш того,
          є примітки до роману, які завжди зможуть вказати, звідки запозичена та
          чи інша цитата, тому з цього приводу можна не перейматись.
        </p>
        <p>
          Якщо ж "Улісс" так сильно орієнтується на форму, то чи є сенс читати
          його у перекладі?
        </p>
        <p>
          Цей роман цілком <u>можна перекласти</u>, і навіть зробити це якісно,
          причому у межах різних перекладацьких стратегій. Однак, що стосується
          конкретно українського перекладу (на даний момент єдиного повного), то
          він не <u>завжди справляється</u> зі своєю задачею, крім того, він
          містить деякі нестиковки власних назв та імен. І все ж, якщо ви не
          володієте англійською на рівні носія мови,
          <u>читати у перекладі буде краще</u> - з рештою, в ньому багато й
          вдалих моментів.
        </p>
        <p>Як цей посібник допоможе читати "Улісса"?</p>
        <p>Про це у наступному розділі.</p>
      </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Про проект</h2>
          <div class="book-description">
            <p>
              Перед вами путівник з читання роману
              <strong>Джеймса Джойса</strong> “Улісс”. Він займається тим, що
              полегшує, як вже зазначалося, певною мірою складний процес читання
              цього твору: тут
              <u>кожен з 18 розділів “Улісса” доступною мовою проаналізовано</u> на
              предмет сюжету і нюансів його розвитку, психології персонажів,
              наявності цитат і алюзій на інші твори, піднятих проблем та
              авторського стилю (до пародіювання якого у деяких статтях я буду
              вдаватись). 
            </p>
            <p>
              Організовано це у вигляді відносно невеличких статей по числу глав
              роману, що поділені ще на 2 частини: “Підготовка до читання” і
              безпосередньо “Аналіз епізоду”. Першу рекомендується переглянути
              <u>до ознайомлення з відповідним розділом</u> - там містяться деякі
              настанови на рахунок підходу до його читання; другу рекомендується
              переглянути, навпаки, <u>після</u> - там аналіз буде більш предметним,
              з наведенням цитат та постійними зверненнями до тексту епізоду тощо.
              Крім того, кожна стаття <u>містить примітки</u>, що частіше за все
              присвячені реальним прототипам персонажів і реальним місцям, у яких
              вони побували; історичному контексту написання твору; деяким нюансам
              його перекладу.
            </p>
            <p>
              Ну і наостанок, до цього проєкту входить ще й
              <u>біографія <strong>Джеймса Джойса</strong></u
              >, а також пара слів про <u>екранізації “Улісса”</u> - з ними ви теж
              можете ознайомитися.
            </p>
          </div>
      </section>
      <hr class="dashed-line" />
      <section class="sources">
        <h2>Джерела інформації</h2>
          <div style="margin: 0 20px;">
            <p>
              Тут перелічено інформаційні ресурси, якими я користувався при
              створенні цього проєкту:
            </p>
          </div>
          <ul>
            <li>
              <a
                href="https://james-joyce.ru/articles/nabokov-ulysses.htm"
                target="_blank"
                ><strong>Володимир Набоков</strong> - “Лекції з зарубіжної
                літератури” (1980);</a
              >
            </li>
            <li>
              <a
                href="https://ireland.ru/archive/dublin/James_Joyce/ulisse_commentary0.html"
                target="_blank"
                ><strong>Сергій Хоружій</strong> - коментарі до “Улісса”
                (1993);</a
              >
            </li>
            <li>
              <a
                href="http://loveread.ec/view_global.php?id=70657"
                target="_blank"
                ><strong>Умберто Еко</strong> - “Поетики Джойса” (1966);</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/playlist?list=PLE35DQ3GcC0dXTn1akPFV2vF8uNgrDikZ"
                target="_blank"
                ><strong>Армен Захарян</strong> - “Joyce Project” (2021);</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/playlist?list=PLxlGs_Xj2HYA8P6E2Jy6Ub9m7eqs-9lcU"
                target="_blank"
                ><strong>Кріс Райх</strong> - “Reading Ulysses for Fun” (2018);</a
              >
            </li>
            <li>
              <a
                href="https://www.youtube.com/playlist?list=PLYyGj0u6XVSQ988SE_baBsHTzaerKsNTq"
                target="_blank"
                ><strong>Максим Жук</strong> - “Прогулянки Уліссом” (2023 -
                сьогодення).</a
              >
            </li>
          </ul>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
