<div class="wrap">
  <app-header [backgroundFile]="'episode-2-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="/images/episode-2-location.png"
            alt="Локація1"
            class="book-cover-left"
            pTooltip="Сьогодні школа все ще працює під назвою Summerfield."
            tooltipPosition="top"
            [tooltipStyleClass]="'custom-tooltip'"
          />
          <p>
            Разом з цим епізодом ми переміщуємося до школи<sup
              pTooltip="Навесні 1904 року Джеймс Джойс дійсно встиг попрацювати молодшим вчителем у приватній школі, що в 25-30 хвилинах пішки від вежі Мартело."
              ><u>[1]</u></sup
            >, в якій викладає Стівен, зараз - десята ранку.
          </p>
          <p>
            В зв'язку з "Нестором" важливо бути пильним - багато історичних
            фактів, що згадуються цією главою не відповідають дійсності, тому
            рекомендується власноруч перевіряти їх на достовірність, або
            користуватися коментарями до роману.
          </p>
          <p>
            Тим не менш, цей епізод не набагато складніший за попередній, до
            того ж, в півтори рази коротший - боятися нічого, вперед читати !
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <img
            src="/images/StephenPupil-photo.png"
            alt="Фото Стівен та Сарджент"
            class="book-cover"
            pTooltip="На фото: Стівен та Сарджент"
            tooltipPosition="top"
            [tooltipStyleClass]="'custom-tooltip'"
          />
          <p>
            Як вже згадувалося, місце дії - школа у передмісті Дубліна, де
            Стівен проводить урок історії. Сьогодні він отримує зарплатню, про
            що частково йшлося у першому епізоді:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Сьогодні у мене зарплата, - сказав Стівен.<br />
                - У шкільній конторі? - запитав Мулліган. - І скільки дадуть?
                Чотири фунти? Позич нам один.
              </p>
            </blockquote>
          </div>
          <p>
            У зв'язку з цим відбувається діалог на історичну тематику між
            Стівеном та директором закладу - містером Дізі<sup
              pTooltip="Навесні 1904 року Джеймс Джойс дійсно встиг попрацювати молодшим вчителем у приватній школі, що в 25-30 хвилинах пішки від вежі Мартело."
              ><u>[2]</u></sup
            >. В ході розмови останній просить нашого юного поета передати в
            газету лист з застереженнями щодо епідемії ящуру, після чого вони
            прощаються і Стівен покидає будівлю.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            Головним чином звернімо увагу на містера Дізі. Саме до його
            тверджень варто ставитися скептично, бо він - демагог, повний
            упереджень і стереотипів. Старий директор схильний спотворювати
            факти і звертатись до ненадійних джерел, про що свідчить наприклад
            ця сцена:
          </p>
          <img
            src="/images/StephenDeasy-photo.png"
            alt="Фото Стівен та містер Дізі"
            class="book-cover-left"
            pTooltip="На фото: Стівен та містер Дізі"
            tooltipPosition="top"
            [tooltipStyleClass]="'custom-tooltip'"
          />
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Тому що ви не відкладаєте, - пояснив містер Дізі, піднявши
                вказівний палець. - Ви ще не знаєте, що таке гроші. Гроші - це
                сила, самі побачите, коли доживете до мого. Я ж бо знаю. Знаю. А
                що каже Шекспір із цього приводу? Збери грошей, скільки
                зможеш.<br />
                - Яго, - промурмотів Стівен.
              </p>
            </blockquote>
          </div>
          <p>
            Тобто зі всього багатого спадку Вільяма Шекспіра містер Дізі вибрав
            цитату одного з найнегативніших його героїв - Яго, головного
            антагоніста п'єси "Отелло".
          </p>
          <p>Продовжується діалог між двома героями не менш цікаво:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Він знав, що таке гроші, - пояснив містер Дізі. - Він їх
                заробляв. Поет, але водночас і англієць. А знаєте, чим пишаються
                англійці? [...]<br />
                - Я вам скажу, - промовив він урочисто, - чим він найбільше
                пишається. Я живу на свій кошт.
              </p>
            </blockquote>
          </div>
          <p>
            Цими фразами директор у ролі прикладу фінансової грамотності
            приводить англійців, але ж дійсно легко сплачувати борги, коли в
            тебе є декілька колоній у розпорядженні - ще одна маніпуляція з боку
            цього "ждуна англійського миру".
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="/images/Nestor-photo.png"
            alt="Фото Нестор"
            class="book-cover"
            pTooltip="На фото: Нестор"
            tooltipPosition="top"
            [tooltipStyleClass]="'custom-tooltip'"
          />
          <p>
            Повертаючись до гомерівських паралелей, у нас продовжується
            "Телемахіда" - подорож сина, що передує подорожі батька.
            Хронологічний порядок подій "Одіссеї" поки досить точно збігається з
            тим, що ми можемо спостерігати в "Уліссі": у 2-му епізоді Стівен,
            покинувши вежу Мартело, приходить до школи (до містера Дізі) рівно
            як і Телемах, котрий їде з рідної Ітаки, щоб навідатись до царя
            Пілоса - Нестора.
          </p>
          <p>
            Але що ж цей Нестор собою являє? Ну, на перший погляд, це мудрий
            старець, що в молодості звершив чимало подвигів, а, відправившись
            воювати під Троєю, почав ділитися своїм досвідом з більш молодими
            воїнами та надихати їх своїм красномовством.
          </p>
          <p>
            Але, придивившись, можна зрозуміти, що насправді Нестор - балабол та
            Капітан Очевидність. Коли греки лякаються, він просто радить їм бути
            хоробріше; коли крики троянців настільки гучні, що їх чутно навіть
            на небесах, Гомер зауважує: "Нестор, хоч і пиячив у цей час, але теж
            ті крики почув".
          </p>
          <p>
            Таким чином, у шкільного директора та правителя Пілоса набагато
            більше спільного, ніж може здатися спочатку - до того ж, у риториці
            обох можна прослідкувати горезвісний наратив "раніше було краще".
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <p>
            В центрі епізоду постає питання історії. Різноманітні думки щодо неї
            відвідують голову Стівена, але ключове, що потрібно розуміти -
            Стівен, як і сам Джойс, не визнає класичного підходу до цієї науки.
            Він вважає, що історія - це розгалужена спіраль, а не лінійна
            послідовність дат и подій, як прийнято її трактувати:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Спочинок для недалекого розуму. Стоячи на горбі й споглядаючи
                рівнину, всіяну мертвими тілами, генерал, спираючись на спис,
                каже своїм офіцерам. Будь-який генерал своїм офіцерам. А ті
                слухають.
              </p>
            </blockquote>
          </div>
          <p>
            Пізніше (в наступному і останньому своєму романі "Поминки за
            Фіннеганом") письменник вибудує власну повноцінну теорію стосовно
            цього, але поки що він обмежується скепсисом до класичного підходу.
          </p>
          <p>
            Продовжується і рефлексія щодо політичного стану Ірландії, при чому,
            якщо до цього дана тема обговорювалася як би збоку, то зараз вже
            можемо бачити живого "носія" імперіалістичних поглядів. До того ж,
            знов, як і в першому епізоді, підіймається питання антисемітизму.
            Пам'ятаєте, Гейнс тоді казав:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Само собою, я британець, - продовжував Гейнсів голос, - і
                міркую відповідно до цього. І я не хочу стати свідком того, як
                моя країна попаде в руки німецьких євреїв. Боюся, що зараз саме
                це є нашою національною проблемою.
              </p>
            </blockquote>
          </div>
          <p>В "Несторі" майже ті самі думки транслює містер Дізі:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Запам’ятайте мої слова, містере Дедале, - сказав він. - Англія
                опинилася в полоні у євреїв. Вони на всіх найвищих посадах:
                володіють фінансами, пресою. І це свідчить про занепад нації
                [...]
              </p>
            </blockquote>
          </div>
          <p>
            В цілому варто зазначити, що майже всі наративи "Телемаха" отримують
            своє продовження тут: релігійна тема, до якої повертається Стівен зі
            своїм афоризмом "Бог - це крики на вулиці"; материнська любов, на
            рахунок якої він роздумує під час розмови з Сарджентом, розцінюючи
            її як дещо абсолютно цінне і, скажімо, "справжнє"...
          </p>
          <p>Словом, досить насичений у цьому плані епізод.</p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            Помітних змін у підході до написання поки не відбулося. Єдине що,
            можна помітити, як внутрішній монолог Стівена поступово витісняє
            зовнішні події - така тенденція буде продовжуватися, досягнувши
            свого апогею вже в "Протеї". Зараз же пропоную виділити деякі
            характерні риси Стівенового мислення.
          </p>
          <p>
            По-перше, протягом всього роману Джойс так чи інакше лине до більш
            реалістичного і багатогранного зображення дійсності - оформлення
            думок його героїв підпорядковується тому ж принципу. Гадаю, ви
            помічали, що частіше за все не думаєте цільними реченнями - скоріше
            уривками фраз, візуальними образами тощо. Це відображається і у
            внутрішньому монолозі Стівена:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Думка це думка про думку. Супокійна ясність. Душа це, в певному
                розумінні, все, що існує: душа це форма форм. Супокій настає
                раптово, він просторий і променистий: форма форм.
              </p>
            </blockquote>
          </div>
          <p>
            З огляду на його культурний код, абсолютно невимушено його думка
            перестрибує від філософії Арістотеля (яка тісно пов'язана з його
            релігійною освітою, а конкретно, схоластикою) до поетичних епітетів,
            а в деяких інших сценах - до цитат з прочитаних ним творів, зокрема
            з використанням іноземних мов (латина, грецька, французька).
            Подібний потік асоціацій та підбір слів характерні саме для Стівена,
            що відчуватиметься особливо гостро на контрасті з іншими героями
            "Улісса".
          </p>
          <p>
            До того ж, зверніть увагу, наскільки різко таке обрамлення
            внутрішнього монологу відрізняється від того, як його зображували
            автори 19-го сторіччя. Візьмемо для прикладу такий шматочок
            Стівенової думки:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Для Гейнса в його записник. А їм цього не поясниш. Увечері в
                запалі пиятики і балачок простромити блискучий обладунок його
                мостивого розуму.
              </p>
            </blockquote>
          </div>
          <p>А тепер 19th century version:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Їм не поясниш, що це значить… А Гейнс би певно схотів занести це
                в свій записник - ось би ввечері в запалі пиятики і балачок
                простромити цим блискучий обладунок його мостивого розуму.
              </p>
            </blockquote>
          </div>
          <p>
            Як бачите, другий варіант більш упорядкований та інтуітивно
            зрозумілий, але, знов-таки зауважимо - живі люди так не думають,
            відповідно для більш точної передачі процесу мислення Джойс навмисно
            ускладнює текст, що, гадаю, є цілком виправданою мірою.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
