<div class="wrap">
  <app-header [backgroundFile]="'episode-2-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h1>Підготовка до читання</h1>
        <hr class="solid-line" />
        <div class="book-description">
          <img
            src="assets/images/episode-2-location.png"
            [tooltipStyleClass]="'location2'"
            alt="Локація1"
            class="book-cover-left"
            pTooltip="Сьогодні школа все ще працює під назвою Summerfield."
            tooltipPosition="top"
          />
          <p>
            Разом з цим епізодом ми переміщуємося до школи<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Навесні 1904 року Джеймс Джойс дійсно встиг попрацювати молодшим вчителем у приватній школі, що в 25-30 хвилинах пішки від вежі Мартело."
              tooltipPosition="bottom"
              ><u>[1]</u></sup
            >, в якій викладає <strong>Стівен</strong>, зараз - десята ранку.
          </p>
          <p>
            В зв'язку з "Нестором" важливо бути пильним - багато історичних
            фактів, що згадуються цією главою не відповідають дійсності, тому
            <u>рекомендується власноруч перевіряти їх на достовірність</u>, або
            користуватися коментарями до роману.
          </p>
          <p>
            Тим не менш, цей епізод <u>не набагато складніший за попередній</u>,
            до того ж, в півтори рази коротший - боятися нічого, вперед читати !
          </p>
        </div>
        <hr class="solid-line" />
      </section>
      <section class="about-book">
        <div class="book-description">
          <h1>Аналіз епізодів</h1>
          <hr class="dashed-line" />
          <h2>Сюжет</h2>
          <img
            src="assets/images/StephenPupil-photo.png"
            alt="Фото Стівен та Сарджент"
            class="book-cover"
            pTooltip="На фото: Стівен та Сарджент"
            tooltipPosition="top"
          />
          <p>
            Як вже згадувалося, місце дії - школа у передмісті Дубліна, де
            <strong>Стівен</strong> проводить урок історії. Сьогодні він отримує
            зарплатню, про що частково йшлося у першому епізоді:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Сьогодні у мене зарплата, - сказав Стівен.<br />
                - У шкільній конторі? - запитав Мулліган. - І скільки дадуть?
                Чотири фунти? Позич нам один.
              </p>
            </blockquote>
          </div>
          <p>
            У зв'язку з цим відбувається діалог на історичну тематику між
            <strong>Стівеном</strong> та директором закладу - містером
            <strong>Дізі</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="У містера Дізі ж два реальних прототипи: безпосередньо директор школи Френсіс Ервін (від якого він унаслідував проанглійську позицію) та Генрі Блеквуд Прайс, ірландець із Ольстера (від нього запозичена стурбованість епідемією ящура). Останнього Джойс вирішив не тільки втілити у містері Дізі, а ще й під власним ім'ям згадати - класична ситуація для письменника."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >. В ході розмови останній просить нашого юного поета передати в
            газету лист з застереженнями щодо епідемії ящуру, після чого вони
            прощаються і <strong>Стівен</strong> покидає будівлю.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Герої</h2>
        <div class="book-description">
          <p>
            Головним чином звернімо увагу на містера <strong>Дізі</strong>. Саме
            до його тверджень варто ставитися скептично, бо він -
            <u>демагог, повний упереджень і стереотипів</u>. Старий директор
            схильний спотворювати факти і звертатись до ненадійних джерел, про
            що свідчить наприклад ця сцена:
          </p>
          <img
            src="assets/images/StephenDeasy-photo.png"
            alt="Фото Стівен та містер Дізі"
            class="book-cover-left"
            pTooltip="На фото: Стівен та містер Дізі"
            tooltipPosition="top"
          />
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Тому що ви не відкладаєте, - пояснив містер Дізі, піднявши
                вказівний палець. - Ви ще не знаєте, що таке гроші. Гроші - це
                сила, самі побачите, коли доживете до мого. Я ж бо знаю. Знаю. А
                що каже Шекспір із цього приводу? Збери грошей, скільки
                зможеш.<br />
                - <span style="color: #3d76cc">Яго</span>, - промурмотів Стівен.
              </p>
            </blockquote>
          </div>
          <p>
            Тобто зі всього багатого спадку Вільяма Шекспіра містер
            <strong>Дізі</strong> вибрав цитату одного з найнегативніших його
            героїв - <span style="color: #3d76cc">Яго</span>, головного
            антагоніста п'єси "Отелло".
          </p>
          <p>Продовжується діалог між двома героями не менш цікаво:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Він знав, що таке гроші, - пояснив містер Дізі. - Він їх
                заробляв. Поет, але водночас і англієць. А знаєте, чим пишаються
                англійці? [...]<br />
                - Я вам скажу, - промовив він урочисто, - чим він найбільше
                пишається. <span style="color: rgb(194, 138, 16)"
                  >Я живу на свій кошт</span
                >.
              </p>
            </blockquote>
          </div>
          <p>
            Цими фразами директор у ролі прикладу фінансової грамотності
            приводить англійців, але ж дійсно легко сплачувати борги, коли в
            тебе є декілька колоній у розпорядженні - ще одна маніпуляція з боку
            цього "ждуна англійського миру".
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Міфологічний підтекст</h2>
        <div class="book-description">
          <img
            src="assets/images/Nestor-photo.png"
            alt="Фото Нестор"
            class="book-cover"
            pTooltip="На фото: Нестор"
            tooltipPosition="top"
          />
          <p>
            Повертаючись до гомерівських паралелей, у нас продовжується
            "Телемахіда" - подорож сина, що передує подорожі батька.
            Хронологічний порядок подій "Одіссеї" поки досить точно збігається з
            тим, що ми можемо спостерігати в "Уліссі": у 2-му епізоді
            <strong>Стівен</strong>, покинувши вежу Мартело, приходить до школи
            (до містера <strong>Дізі</strong>) рівно як і Телемах, котрий їде з
            рідної Ітаки, щоб навідатись до царя Пілоса - Нестора.
          </p>
          <p>
            Але що ж цей Нестор собою являє? Ну, на перший погляд, це
            <u>мудрий старець</u>, що в молодості звершив чимало подвигів, а,
            відправившись воювати під Троєю, почав ділитися своїм досвідом з
            більш молодими воїнами та надихати їх своїм красномовством.
          </p>
          <p>
            Але, придивившись, можна зрозуміти, що насправді Нестор -
            <u>балабол та Капітан Очевидність</u>. Коли греки лякаються, він
            просто радить їм бути хоробріше; коли крики троянців настільки
            гучні, що їх чутно навіть на небесах, Гомер зауважує:
            <em>"Нестор, хоч і пиячив у цей час, але теж ті крики почув"</em>.
          </p>
          <p>
            Таким чином, у шкільного директора та правителя Пілоса набагато
            більше спільного, ніж може здатися спочатку - до того ж, у риториці
            обох можна прослідкувати горезвісний наратив "раніше було краще".
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Проблематика</h2>
        <div class="book-description">
          <p>
            В центрі епізоду постає <u>питання історії</u>. Різноманітні думки
            щодо неї відвідують голову <strong>Стівена</strong>, але ключове, що
            потрібно розуміти - Стівен, як і сам Джойс, не визнає класичного
            підходу до цієї науки. Він вважає, що історія - це розгалужена
            <span style="color: #e04545">спіраль</span>, а не лінійна
            послідовність дат и подій, як прийнято її трактувати:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Спочинок для недалекого розуму. Стоячи на горбі й споглядаючи
                рівнину, всіяну мертвими тілами, генерал, спираючись на спис,
                каже своїм офіцерам.
                <span style="color: #e04545"
                  >Будь-який генерал своїм офіцерам.</span
                >
                А ті слухають.
              </p>
            </blockquote>
          </div>
          <p>
            Пізніше (в наступному і останньому своєму романі "Поминки за
            Фіннеганом") письменник вибудує власну повноцінну теорію стосовно
            цього, але поки що він обмежується скепсисом до класичного підходу.
          </p>
          <p>
            Продовжується і рефлексія щодо <u>політичного стану Ірландії</u>,
            при чому, якщо до цього дана тема обговорювалася як би збоку, то
            зараз вже можемо бачити живого "носія" імперіалістичних поглядів. До
            того ж, знов, як і в першому епізоді, підіймається питання
            <u>антисемітизму</u>. Пам'ятаєте, <strong>Гейнс</strong> тоді казав:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Само собою, я британець, - продовжував Гейнсів голос, - і
                міркую відповідно до цього. І я не хочу стати свідком того, як
                <span style="color: #009420"
                  >моя країна попаде в руки німецьких євреїв</span
                >. Боюся, що зараз саме це є нашою національною проблемою.
              </p>
            </blockquote>
          </div>
          <p>
            В "Несторі" майже ті самі думки транслює містер
            <strong>Дізі</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                - Запам’ятайте мої слова, містере Дедале, - сказав він. -
                <span style="color: #009420"
                  >Англія опинилася в полоні у євреїв</span
                >. Вони на всіх найвищих посадах: володіють фінансами, пресою. І
                це свідчить про занепад нації [...]
              </p>
            </blockquote>
          </div>
          <p>
            В цілому варто зазначити, що майже всі наративи "Телемаха" отримують
            своє продовження тут: <u>релігійна тема</u>, до якої повертається
            <strong>Стівен</strong> зі своїм афоризмом
            <em>"Бог - це крики на вулиці"</em>;
            <strong>материнська любов</strong>, на рахунок якої він роздумує під
            час розмови з <strong>Сарджентом</strong>, розцінюючи її як дещо
            абсолютно цінне і, скажімо, "справжнє"...
          </p>
          <p>Словом, досить насичений у цьому плані епізод.</p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>Стиль</h2>
        <div class="book-description">
          <p>
            Помітних змін у підході до написання поки не відбулося. Єдине що,
            можна помітити, як внутрішній монолог
            <strong>Стівена</strong> поступово витісняє зовнішні події - така
            тенденція буде продовжуватися, досягнувши свого апогею вже в
            "Протеї". Зараз же пропоную виділити деякі характерні риси
            <strong>Стівенового</strong> мислення.
          </p>
          <p>
            По-перше, протягом всього роману Джойс так чи інакше лине до більш
            реалістичного і багатогранного зображення дійсності - оформлення
            думок його героїв підпорядковується тому ж принципу. Гадаю, ви
            помічали, що частіше за все не думаєте цільними реченнями - скоріше
            <u>уривками фраз, візуальними образами</u> тощо. Це відображається і
            у внутрішньому монолозі <strong>Стівена</strong>:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Думка це думка про думку. Супокійна ясність. Душа це, в певному
                розумінні, все, що існує:
                <span style="color: #e6742d">душа це форма форм</span>. Супокій
                настає раптово, він
                <span style="color: #f138ad">просторий і променистий</span>:
                форма форм.
              </p>
            </blockquote>
          </div>
          <p>
            З огляду на його культурний код, абсолютно невимушено його думка
            перестрибує від
            <span style="color: #e6742d">філософії Арістотеля</span> (яка тісно
            пов'язана з його релігійною освітою, а конкретно, схоластикою) до
            <span style="color: #f138ad">поетичних епітетів</span>, а в деяких
            інших сценах - до цитат з прочитаних ним творів, зокрема з
            використанням іноземних мов (латина, грецька, французька). Подібний
            потік асоціацій та підбір слів <u><strong>Стівена</strong></u
            >, що відчуватиметься особливо гостро на контрасті з іншими героями
            "Улісса".
          </p>
          <p>
            До того ж, зверніть увагу, наскільки різко таке обрамлення
            внутрішнього монологу
            <u
              >відрізняється від того, як його зображували автори 19-го
              сторіччя</u
            >. Візьмемо для прикладу такий шматочок
            <strong>Стівенової</strong> думки:
          </p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Для Гейнса в його записник. А їм цього не поясниш. Увечері в
                запалі пиятики і балачок простромити блискучий обладунок його
                мостивого розуму.
              </p>
            </blockquote>
          </div>
          <p>А тепер 19th century version:</p>
          <div class="blockquote">
            <em class="bi bi-quote"></em>
            <blockquote>
              <p>
                Їм не поясниш, що це значить… А Гейнс би певно схотів занести це
                в свій записник - ось би ввечері в запалі пиятики і балачок
                простромити цим блискучий обладунок його мостивого розуму.
              </p>
            </blockquote>
          </div>
          <p>
            Як бачите, другий варіант більш упорядкований та інтуітивно
            зрозумілий, але, знов-таки зауважимо - живі люди так не думають,
            відповідно для більш точної передачі процесу мислення Джойс навмисно
            ускладнює текст, що, гадаю, є цілком виправданою мірою.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
