<div class="wrap">
  <app-header [backgroundFile]="'ecranisations-header.png'"></app-header>
  <section class="page-container">
    <main class="content">
      <section class="about-book">
        <h2>“Улісс” (1967)</h2>
        <div class="book-description">
          <p>
            Дана екранізація досить точно відтворює події, описані в книзі. За
            словами продюсера, режисера та сценариста (спільно з
            <strong>Фредом Гейнсом</strong>) “Улісса”
            <strong>Джозефа Стріка</strong
            ><sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Джозеф Стрік - американський кінорежисер, сценарист. Окрім як “Улісса”, він також екранізував ще одну книгу Джеймса Джойса - “Портрет митця замолоду”."
              tooltipPosition="bottom"
              ><u>[1]</u></sup
            >, у фільмі <u>немає жодного слова, взятого не з книги</u>.
          </p>
          <img
            src="assets/images/1967Ulysses-photo.png"
            alt="Фото Афіша 1967"
            class="book-cover-left"
            pTooltip="На фото: афіша екранізації “Улісса” 1967-го року"
            tooltipPosition="top"
            [tooltipStyleClass]="'Ecranisation'"
          />
          <p>
            Творцям екранізації вдалося вмістити найдовший день в історії
            світової літератури - 16 червня 1904-го року - у 124 хвилини. Значна
            частина фільму стосується свідомості головних героїв: Стівена
            Дедала, Леопольда Блума і Моллі Блум<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Головних героїв грають відповідно Моріс Роевс, Майло О’Ші та Барбара Джефорд."
              tooltipPosition="bottom"
              ><u>[2]</u></sup
            >. Відомий монолог Моллі (18 епізод роману) займає близько 1/5
            тривалості фільму.
          </p>
          <p>
            <strong>Стрік</strong> говорить, що завжди
            <u
              >вважав <strong>Джойса</strong> дуже кінематографічним
              письменником</u
            >. Режисер стверджує, що багато прийомів сучасного кінематографа
            були придумані <strong>Джойсом</strong> в “Уліссі”.
          </p>
          <p>
            І дійсно, письменник дуже цікавився мистецтвом кіно - як ми знаємо,
            він всіляко сприяв відкриттю кінотеатру Volta Cinema у Дубліні.
            <strong>Джойс</strong> також зустрічався в Парижі з
            <strong>Сергієм Ейзенштейном</strong>, який хотів екранізувати його
            знаменитий “Улісс”, називаючи роман
            <em>“найцікавішим явищем кінематографії на Заході”</em>.
          </p>
          <p>
            Що однак цікаво, фільм “Улісс” був <u>заборонений в Ірландії</u> в
            тому ж році, в якому був знятий. Тоді було оголошено, що уряд
            дискредитує себе, якщо фільм за книгою
            <strong>Джеймса Джойса</strong> буде допущений до показу.
          </p>
          <p>
            Після заборони фільму режисер двічі подавав апеляцію, але отримував
            відмову. Після другої невдачі <strong>Стрік</strong> здався і
            покинув Ірландію, куди не повертався аж до 2000 року, коли приїхав
            до Корка на зйомки нового фільму. <strong>Стрік</strong> зауважив,
            що Ірландія та її мешканці дуже змінилися, і саме це змусило його
            втретє звернутися до цензорів щодо “Улісса”.
          </p>
          <p>
            <strong>Шеймус Сміт</strong>, чинний цензор у Дубліні, який
            <u>дозволив показ “Улісса”</u>, пояснив, що тепер фільм видається
            абсолютно невинним. Картина могла б вийти в прокат і раніше, але
            ніхто не наважувався нагадати про неї.
            <strong>Сміт</strong> зазначив, що якби йому довелося вирішувати
            долю стрічки 14 років тому, коли він тільки став цензором, він
            прийняв би таке саме рішення, як і зараз.
          </p>
          <p>
            Безкоштовно переглянути екранізацію можна за
            <a href="https://youtu.be/h7xAM_eXuuk?si=7tw8MioZhDGtu9lk"
              >посиланням</a
            >.
          </p>
        </div>
      </section>
      <hr class="dashed-line" />
      <section class="about-book">
        <h2>“Блум” (2003)</h2>
        <div class="book-description">
          <img
            src="assets/images/2003Bloom-photo.png"
            alt="Фото Афіша 1967"
            class="book-cover"
            pTooltip="На фото: афіша екранізації “Улісса” 1967-го року"
            tooltipPosition="top"
            [tooltipStyleClass]="'Ecranisation'"
          />
          <p>
            Традиційно “Улісса” вважають дуже складним, недоступним для багатьох
            читачів романом. Саме тому <strong>Шон Волш</strong> - режисер,
            продюсер та сценарист фільму “Блум” - прагнув створити таку
            екранізацію для цієї книги, яка була б
            <u>зрозумілою для будь-кого</u>. За його словами, він, по-перше,
            намагався представити історію роману широкій аудиторії; по-друге,
            показати людяність і, звісно, гумор твору; ну а по-третє, спробувати
            передати стилі та манери тексту <strong>Джойса</strong>. 
          </p>
          <p>
            Сам <u>процес роботи над фільмом тривав 10 років</u> — на 3 роки
            довше, ніж знадобилося <strong>Джойсу</strong> для написання
            “Улісса”. За цей час <strong>Волш</strong> зібрав 6,1 мільйона
            доларів на зйомки, паралельно працюючи над сценарієм фільму. Під час
            створення сценарію він перечитав “Улісса” понад 400 разів.
          </p>
          <p>
            Варто також зазначити, що фільм “Блум” знімався на батьківщині
            письменника, ну а сам режисер, рівно як і актори, також були
            ірландцями<sup
              [tooltipStyleClass]="'custom-tooltip'"
              pTooltip="Леопольда Блума грає Стівен Рі, його дружину - Анджеліна Бол, Стівена Дедала - Хью О'Коннор"
              tooltipPosition="bottom"
              ><u>[3]</u></sup
            >.
          </p>
          <p>
            Безкоштовно переглянути екранізацію можна за
            <a href="https://ww2.m4uhd.tv/watch-movie-bloom-2003-249821.html"
              >посиланням</a
            >.
          </p>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </section>
</div>
